<script>
    layui.config({
        base: '/static/customAdmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'login','form','admin'], async () => {
        const form = layui.form
            , admin = layui.admin
            , $ = layui.$;

        await form.verify({
            password_confirmation: function (value, item) {
                if (!(/^[\S]{6,16}$/.test(value))) {
                    return '密码必须6到16位，且不能出现空格';
                } else if ($("input[name='password']").val() !== value) {
                    return '密码不一致';
                }
            }
            , password: [
                /^[\S]{6,16}$/
                , '密码必须6到16位，且不能出现空格'
            ]
        });

        form.on('submit(login_submit)', async (data) => {
            await admin.post('{{ urlfor "HomeController.DoLogin"}}', data.field,'{{ urlfor "HomeController.Index"}}');
        })

    });
</script>