<script type="text/html" id="batch_edit_list">
    <div class="manual_no_list">
        <form class="layui-form" onkeydown="if(event.keyCode==13){return false}">
            <table class="layui-table order_table_form">
                <tbody>
                <tr>
                    <td class="td-scale-01 text-align-right">币制</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="hidden" name="TradeCurr" id="TradeCurrBatch">
                            <input type="text" class="non-empty" name="TradeCurrName" id="TradeCurrNameBatch"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">@{{if eq "I" .IEFlag}}原产国（地区）@{{else if eq "E" .IEFlag  .m.IEFlag }}目的国（地区）@{{end }}</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                        <input type="hidden" name="OriginCountry" id="OriginCountryBatch">
                        <input type="text" class="non-empty" name="OriginCountryName" id="OriginCountryNameBatch"
                               autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>

                    <td class="td-scale-01 text-align-right">@{{if eq "I" .IEFlag}}境内目的地@{{else if eq "E" .IEFlag  .m.IEFlag }}境内货源地@{{end }}</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="hidden" name="DistrictCode" id="DistrictCodeBatch">
                            <input type="text" class="non-empty" name="DistrictCodeName" id="DistrictCodeNameBatch"
                                   autocomplete="off">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">征免方式</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="hidden" name="duty_mode" id="DutyModeBatch">
                            <input type="text" class="non-empty" name="DutyModeName" id="DutyModeNameBatch"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">货物属性</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" disabled id="GoodsAttrBatch" autocomplete="off">
                            <i class="iconfont iconmore-horiz input_more" id="GoodsAttrOpenBatch"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="batch_edit_type">检验检疫货物规格</p>
            <table class="layui-table order_table_form">
                <tbody>
                <tr>
                    <td class="td-scale-01 text-align-right">成分/原料/组分</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="TypeStuff" id="StuffBatch" autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">产品有效期</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="TypeProdValidDt" id="ProdValidDtBatch"
                                   autocomplete="off" placeholder="年/月/日">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">产品保质期(天)</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="TypeProdQgp" id="ProdQgpBatch"
                                   autocomplete="off" onkeyup="layui.admin.decCheckInt(this)">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">境外生产企业</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="TypeEngManEntCnm" id="EngManEntCnmBatch"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">货物规格</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="TypeGoodsSpec" id="GoodsSpecBatch"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">货物型号</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="TypeGoodsModel" id="GoodsModelBatch"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">货物品牌</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="TypeGoodsBrand" id="GoodsBrandBatch"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">生产日期</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="TypeProduceDate" id="ProduceDateBatch"
                                   autocomplete="off" placeholder="年/月/日">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">生产批次</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="TypeProdBatchNo" id="ProdBatchNoBatch"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="manual_no_btn">
                <button class="layui-btn custom-create_btn" lay-submit lay-filter="batch_edit_save" id="batch_edit_save"
                        type="button">
                    提交
                </button>
            </div>
        </form>
    </div>
</script>