<script type="text/html" id="bill_no_list">
    <div class="manual_no_list">
        <div class="manual_no_search">
            <label class="custom-tool-right-search iconfont icon-search"></label>
            <input type="text" name="bill_no_search" id="bill_no_search"
                   placeholder="搜索车牌号" class="layui-input">
        </div>
        <table class="layui-hide DetailDiv" id="bill_no_list_table" lay-filter="bill_no_list_table"></table>
        <div class="manual_no_btn">
            <button class="layui-btn custom-create_btn" id="bill_no_save" type="button">
                保存
            </button>
        </div>
    </div>
</script>