<script type="text/html" id="contr_item_list">
    <div class="manual_no_list">
        <div class="manual_no_search">
            <label class="custom-tool-right-search iconfont icon-search"></label>
            <input type="text" name="contr_item_search" id="contr_item_search"
                   placeholder="搜索备案序号" class="layui-input">
        </div>
        <table class="layui-hide DetailDiv" id="contr_item_list_table" lay-filter="contr_item_list_table"></table>
        <div class="manual_no_btn">
            <button class="layui-btn custom-create_btn" id="contr_item_save" type="button">
                保存
            </button>
        </div>
    </div>
</script>