<script type="text/html" id="dang_list">
    <div class="manual_no_list">
        <form class="layui-form" onkeydown="if(event.keyCode==13){return false}">
            <table class="layui-table order_table_form">
                <tbody>
                <tr>
                    <td class="td-scale-01 text-align-right">非危险化学品</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="hidden" name="NoDangFlag" id="NoDangFlag">
                            <input type="text" class="non-empty" name="NoDangFlagName" id="NoDangFlagName"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">UN编码</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="UnCode" id="UnCode" autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">危险货物名称</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="DangName" id="DangName" autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">危包类别</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="hidden" name="DangPackType" id="DangPackType">
                            <input type="text" class="non-empty" name="DangPackTypeName" id="DangPackTypeName"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">危包规格</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="hidden" class="non-empty" name="DangPackSpec" id="DangPackSpec">
                            <input type="text" class="non-empty" name="DangPackSpecName" id="DangPackSpecName" autocomplete="off" onkeyup="layui.admin.changeFoucsDanger(event)">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="manual_no_btn">
                <button class="layui-btn custom-create_btn" lay-submit lay-filter="dang_save"
                        id="dang_save" type="button">
                    确定
                </button>
            </div>
        </form>
    </div>
</script>