<script type="text/html" id="dec_goods_vin_template">
    <div class="manual_no_list">
        <form class="layui-form" onkeydown="if(event.keyCode==13){return false}">
            <table class="layui-table order_table_form">
                <tbody>
                <tr>
                    <td class="td-scale-01 text-align-right">序号</td>
                    <td>
                        <div class="input-group valid">
                            <input type="hidden"  disabled id="OrderItemLimitVinOId" name="OrderItemLimitId">
                            <input type="hidden"  disabled id="OrderItemLimitVinId" name="Id">
                            <input type="text" class="non-empty" disabled id="GoodsLimitVinSeqNo" autocomplete="off">
                        </div>
                    </td>
                    <td class="td-scale-01 text-align-right">许可证类别</td>
                    <td colspan="3">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" disabled id="LicTypeCodeVinName" name="LicTypeCodeVinName" autocomplete="off">
                        </div>
                    </td>
                    <td class="td-scale-01 text-align-right">许可证编号</td>
                    <td>
                        <div class="input-group valid">
                            <input type="text" class="non-empty" disabled id="VinLicenceNo" name="LicenceNo" autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">VIN序号</td>
                    <td>
                        <div class="input-group valid">
                            <input type="text" class="non-empty" id="VinNo" name="VinNo" autocomplete="off">
                        </div>
                    </td>
                    <td class="td-scale-01 text-align-right">提/运单日期</td>
                    <td>
                        <div class="input-group valid">
                            <input type="text" class="non-empty required" name="BillLadDate" id="BillLadDate"
                                   autocomplete="off" lay-verify="required" lay-vertype="tips"
                                   onkeypress="return false">
                        </div>
                    </td>
                    <td class="td-scale-01 text-align-right">质量保质期</td>
                    <td>
                        <div class="input-group valid">
                            <input type="text" class="non-empty required" name="QualityQgp" id="QualityQgp"
                                   autocomplete="off" lay-verify="required" lay-vertype="tips">
                        </div>
                    </td>
                    <td class="td-scale-01 text-align-right">车辆识别代码(VIN)</td>
                    <td>
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="VinCode" id="VinCode" autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">发动机号或电机号</td>
                    <td colspan="2">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" id="MotorNo" name="MotorNo"
                                   autocomplete="off">
                        </div>
                    </td>
                    <td class="td-scale-01 text-align-right">发票号</td>
                    <td colspan="2">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="InvoiceNo" id="InvoiceNo"
                                   autocomplete="off">
                        </div>
                    </td>
                    <td class="td-scale-01 text-align-right">发票所列数量</td>
                    <td>
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="InvoiceNum" id="InvoiceNum" autocomplete="off"
                                   onkeyup="this.value=this.value.replace(/\D/g,'')" placeholder="只能输入自然数">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">品名(中文名称)</td>
                    <td colspan="3">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" id="ProdCnnm" name="ProdCnnm" autocomplete="off">
                        </div>
                    </td>
                    <td class="td-scale-01 text-align-right">品名(英文名称)</td>
                    <td colspan="3">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="ProdEnnm" id="ProdEnnm" autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">型号(英文名称)</td>
                    <td colspan="3">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" id="ModelEn" name="ModelEn" autocomplete="off">
                        </div>
                    </td>
                    <td class="td-scale-01 text-align-right">底盘(车架)号</td>
                    <td>
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="ChassisNo" id="ChassisNo" autocomplete="off">
                        </div>
                    </td>
                    <td class="td-scale-01 text-align-right">单价</td>
                    <td>
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="PricePerUnit" id="PricePerUnit"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="layui-hide DetailDiv" id="dec_goods_vin_table" lay-filter="dec_goods_vin_table"></table>
        </form>
    </div>
</script>
<script type="text/html" id="dec_goods_vin_tool">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm ent_qualif_new" id="dec_goods_vin_add" lay-event="add" type="button">
            新增
        </button>
        <button class="layui-btn layui-btn-sm ent_qualif_new" id="dec_goods_vin_submit" lay-submit
                lay-filter="dec_goods_vin_submit" type="button">
            保存
        </button>
        <button class="layui-btn layui-btn-sm ent_qualif_del" id="dec_goods_vin_delete" lay-event="delete"
                type="button">
            删除
        </button>
    </div>
</script>