<script type="text/html" id="elements_his_list">
    <div class="manual_no_list">
        <div class="manual_no_search">
            <label class="custom-tool-right-search iconfont icon-search"></label>
            <input type="text" name="elements_his_search" id="elements_his_search"
                   placeholder="搜索申报要素" class="layui-input">
        </div>
        <table class="layui-hide DetailDiv" id="elements_his_list_table" lay-filter="elements_his_list_table"></table>
        <div class="manual_no_btn">
            <button class="layui-btn custom-create_btn" id="elements_his_save" type="button">
                确定
            </button>
        </div>
    </div>
</script>