<script type="text/html" id="ent_qualif_template">
    <div class="manual_no_list">
        <form class="layui-form" onkeydown="if(event.keyCode==13){return false}">
            <table class="layui-table order_table_form">
                <tbody>
                <tr>
                    <td class="td-scale-01 text-align-right">企业资质类别</td>
                    <td class="td-scale-02" colspan="3">
                        <div class="input-group valid">
                            <input type="hidden" name="ent_qualif_type_code" id="ent_qualif_type_code_tem">
                            <input type="text" class="non-empty required" name="ent_qualif_type_name"
                                   id="ent_qualif_type_name_tem" autocomplete="off" lay-verify="required"
                                   lay-vertype="tips">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">企业资质编号</td>
                    <td class="td-scale-02" colspan="3">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="ent_qualif_no" id="ent_qualif_no_tem"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="layui-hide DetailDiv" id="ent_qualif_table" lay-filter="ent_qualif_table"></table>
            <input type="checkbox" id="declaratio_material_code" lay-filter="declaratio_material_code"
                   title="企业承诺：本单位持有海关要求的合格保证、标签标识及其他证明声明材料，知悉相关材料内容，保证符合法律法规要求，并自存留档。" lay-skin="primary" 
                   value="1">
        </form>
    </div>
</script>
<script type="text/html" id="ent_qualif_tool">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm ent_qualif_new" id="ent_qualif_add" lay-event="add" type="button">
            新增
        </button>
        <button class="layui-btn layui-btn-sm ent_qualif_new" id="ent_qualif_submit" lay-submit
                lay-filter="ent_qualif_submit" type="button">
            保存
        </button>
        <button class="layui-btn layui-btn-sm ent_qualif_del" id="ent_qualif_delete" lay-event="delete" type="button">
            删除
        </button>
    </div>
</script>
