<div class="order_table_form_check_is_other">
    <input type="checkbox" name="IsOther" id="IsOther" title="异地报关" lay-skin="primary" value="1"
           onchange="layui.admin.is_other_change(this)">
</div>
<table class="layui-table order_table_form">
    <tbody>
    <tr>
        <td class="td-scale-01 text-align-right">申报地海关</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="hidden" name="CustomMaster" id="CustomMaster">
                <input type="text" class="non-empty required" name="CustomMasterName" id="CustomMasterName" autocomplete="off" lay-verify="required" lay-vertype="tips">
            </div>
        </td>
        <td class="td-scale-01 text-align-right">申报状态</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty disabled" disabled id="StatusString"
                       autocomplete="off">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-01 text-align-right">订单号</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty disabled" disabled id="ClientSeqNo"
                       autocomplete="off">
            </div>
        </td>
        <td class="td-scale-01 text-align-right">外商公司</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty" name="ForeignCompanyName"
                       id="ForeignCompanyName" autocomplete="off" enter="-1">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-01 text-align-right">海关编号</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty disabled" disabled id="EntryId"
                       autocomplete="off">
            </div>
        </td>
        <td class="td-scale-01 text-align-right">进境关别</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="hidden" name="IEPort" id="IEPort">
                <input type="text" class="non-empty required" name="IEPortName"
                       id="IEPortName" lay-verify="IEPortName" lay-vertype="tips"
                       autocomplete="off" onblur="layui.admin.i_e_port_name_blur(this)">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-01 text-align-right">备案号</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="hidden" name="HandBookId" id="HandBookId">
                <input type="text" class="non-empty" name="ManualNo" id="ManualNo" autocomplete="off" data-flag="I">
            </div>
        </td>
        <td class="td-scale-01 text-align-right">合同协议号</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty" name="ContrNo"
                       id="ContrNo" autocomplete="off" oninput="layui.admin.is_noCork(this)">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-01 text-align-right">进口日期</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty required" name="IEDate" id="IEDate"
                       autocomplete="off" lay-verify="required" lay-vertype="tips"
                       oninput="layui.admin.is_onlynumber(this)">
            </div>
        </td>
        <td class="td-scale-01 text-align-right">申报日期</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty" name="AplDate"
                       id="AplDate" autocomplete="off" oninput="layui.admin.is_onlynumber(this)">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-01 text-align-right">境内收发货人</td>
        <td colspan="2">
            <div class="input-group valid">
                <input type="text" class="non-empty required" disabled name="TradeCoScc"
                       id="TradeCoScc"
                       autocomplete="off" lay-verify="required" lay-vertype="tips"
                       placeholder="18位社会信用代码" maxlength="18">
            </div>
        </td>
        <td class="td-scale-03" colspan="2">
            <div class="input-group valid">
                <input type="text" class="non-empty required" name="TradeCode" id="TradeCode"
                       autocomplete="off" lay-verify="required" lay-vertype="tips"
                       placeholder="10位海关编码" maxlength="10"
                       onblur="layui.admin.owner_code_change(this)">
                <input type="text" class="non-empty" disabled name="TradeCiqCode"
                       id="TradeCiqCode"
                       autocomplete="off" placeholder="10位检验检疫编码" maxlength="10">
            </div>
        </td>
        <td colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty required" disabled name="TradeName"
                       id="TradeName" lay-verify="required" lay-vertype="tips" autocomplete="off"
                       placeholder="企业名称（中文）">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-01 text-align-right">境外收发货人</td>
        <td colspan="4">
            <div class="input-group valid">
                @{{if eq "I" .IEFlag}}
            <input type="text" class="non-empty" name="OverseasConsignorCode" id="OverseasConsignorCode"
                   autocomplete="off" placeholder="境外收货人代码">
            @{{else if eq "E" .IEFlag  .m.IEFlag}}
            <input type="text" class="non-empty" name="OverseasConsigneeCode" id="OverseasConsigneeCode"
                   autocomplete="off" placeholder="境外收货人代码">
            @{{end }}
            </div>
        </td>
        <td colspan="3">
            <div class="input-group valid">
                @{{if eq "I" .IEFlag}}
            <input type="text" class="non-empty required" name="OverseasConsignorEname" id="OverseasConsignorEname"
                   lay-verify="required" lay-vertype="tips" autocomplete="off" placeholder="企业名称（外文）">
            @{{else if eq "E" .IEFlag  .m.IEFlag }}
            <input type="text" class="non-empty required" name="OverseasConsigneeEname" id="OverseasConsigneeEname"
                   lay-verify="required" lay-vertype="tips" autocomplete="off" placeholder="企业名称（外文）">
            @{{end }}
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-01 text-align-right">消费使用单位</td>
        <td colspan="2">
            <div class="input-group valid">
                <input type="text" class="non-empty required" disabled name="OwnerCodeScc"
                       id="OwnerCodeScc"
                       autocomplete="off" lay-verify="required" lay-vertype="tips"
                       placeholder="18位社会信用代码" maxlength="18">
            </div>
        </td>
        <td class="td-scale-03" colspan="2">
            <div class="input-group valid">
                <input type="text" class="non-empty required" name="OwnerCode" id="OwnerCode"
                       autocomplete="off" lay-verify="required" lay-vertype="tips"
                       placeholder="10位海关编码" maxlength="10"
                       onblur="layui.admin.owner_code_change(this)">
                <input type="text" class="non-empty" disabled name="OwnerCiqCode"
                       id="OwnerCiqCode"
                       autocomplete="off" placeholder="10位检验检疫编码" maxlength="10">
            </div>
        </td>
        <td colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty required" disabled name="OwnerName"
                       id="OwnerName" lay-verify="required" lay-vertype="tips" autocomplete="off"
                       placeholder="企业名称">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-01 text-align-right">申报单位</td>
        <td colspan="2">
            <div class="input-group valid">
                <input type="text" class="non-empty required" name="AgentCodeScc"
                       id="AgentCodeScc" autocomplete="off" lay-verify="required"
                       lay-vertype="tips" placeholder="18位社会信用代码" maxlength="18"
                       value="914419007962277606">
            </div>
        </td>
        <td class="td-scale-03" colspan="2">
            <div class="input-group valid">
                <input type="text" class="non-empty required" name="AgentCode" id="AgentCode"
                       autocomplete="off" lay-verify="required" lay-vertype="tips"
                       placeholder="10位海关编码" maxlength="10" value="4419986507">
                <input type="text" class="non-empty" name="DeclCiqCode" id="DeclCiqCode"
                       autocomplete="off" placeholder="10位检验检疫编码" maxlength="10" value="4400510052">
            </div>
        </td>
        <td colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty required" name="AgentName"
                       id="AgentName" lay-verify="required" lay-vertype="tips" autocomplete="off"
                       placeholder="企业名称" value="广东东华报关服务有限公司">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-01 text-align-right">运输方式</td>
        <td class="td-scale-05">
            <div class="input-group valid">
                <input type="hidden" name="TrafMode" id="TrafMode">
                <input type="text" name="TrafModeName" id="TrafModeName"
                       class="non-empty"
                       lay-verify="TrafModeName" lay-vertype="tips" autocomplete="off">
            </div>
        </td>
        <td class="td-scale-01 text-align-right">运输工具名称</td>
        <td class="td-scale-05">
            <input type="text" name="TrafName" id="TrafName" maxlength="50" class="non-empty">
        </td>
        <td class="td-scale-01 text-align-right">航次号</td>
        <td colspan="3">
            <input type="text" name="VoyNo" id="VoyNo" class="non-empty" maxlength="32">
        </td>
    </tr>
    <tr>
        <td class="td-scale-01 text-align-right">提运单号</td>
        <td class="td-scale-02" colspan="3">
            <div class="input-group valid">
                <input type="text" class="non-empty" name="BillNo" id="BillNo" autocomplete="off">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">监管方式</td>
        <td class="percent-13">
            <div class="input-group valid">
                <input type="hidden" name="TradeMode" id="TradeMode">
                <input type="text" name="TradeModeName" id="TradeModeName"
                       class="non-empty"
                       lay-vertype="tips" autocomplete="off">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">征免性质</td>
        <td class="percent-13">
            <div class="input-group valid">
                <input type="hidden" name="CutMode" id="CutMode">
                <input type="text" name="CutModeName" id="CutModeName" class="non-empty"
                       autocomplete="off">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-04 text-align-right">许可证号</td>
        <td class="percent-13">
            <div class="input-group valid">
                <input type="text" name="LicenseNo" id="LicenseNo" class="non-empty"
                       autocomplete="off">
            </div>
        </td>
        @{{if eq "I" .IEFlag}}
        <td class="td-scale-04 text-align-right">启运国(地区)</td>
        <td class="percent-13">
            <div class="input-group valid">
                <input type="hidden" name="TradeCountry" id="TradeCountry">
                <input type="text" name="TradeCountryName" id="TradeCountryName"
                       lay-verify="TradeCountryName" lay-vertype="tips" class="non-empty"
                       autocomplete="off">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">经停港</td>
        <td class="percent-13">
            <div class="input-group valid">
                <input type="hidden" name="DistinatePort" id="DistinatePort">
                <input type="text" name="DistinatePortName" id="DistinatePortName"
                       class="non-empty" autocomplete="off"
                       lay-verify="DistinatePortName" lay-vertype="tips">
            </div>
        </td>
        @{{else if eq "E" .IEFlag}}
        <td class="td-scale-04 text-align-right">运抵国(地区)</td>
        <td class="percent-13">
            <div class="input-group valid">
                <input type="hidden" name="TradeCountry" id="TradeCountry">
                <input type="text" name="TradeCountryName" id="TradeCountryName" class="non-empty" autocomplete="off" lay-verify="TradeCountryName" lay-vertype="tips">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">指运港</td>
        <td class="percent-13">
            <div class="input-group valid">
                <input type="hidden" name="DistinatePort" id="DistinatePort">
                <input type="text" name="DistinatePortName" id="DistinatePortName" class="non-empty" autocomplete="off" lay-verify="DistinatePortName" lay-vertype="tips">
            </div>
        </td>
        @{{end}}
        <td class="td-scale-04 text-align-right">成交方式</td>
        <td class="percent-13">
            <div class="input-group valid">
                @{{if eq "I" .IEFlag}}
                <input type="hidden" name="TransMode" id="TransMode" value="1">
                <input type="text" name="TransModeName" id="TransModeName"
                       class="non-empty" autocomplete="off" value="CIF"
                       lay-vertype="tips">
            @{{else if eq "E" .IEFlag}}
            <input type="hidden" name="TransMode" id="TransMode" value="3">
            <input type="text" name="TransModeName" id="TransModeName"
                   class="non-empty" autocomplete="off" value="FOB"
                   lay-vertype="tips">
                @{{end}}
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-04 text-align-right">运费</td>
        <td>
            <div class="input-group valid">
                <input type="hidden" name="FeeMark" id="FeeMark">
                <input type="text" name="FeeMarkName" id="FeeMarkName" class="non-empty percent-40"
                       lay-vertype="tips" autocomplete="off">
                <input type="text" name="FeeRate" id="FeeRate" class="non-empty line" autocomplete="off">
                <input type="hidden" name="FeeCurr" id="FeeCurr">
                <input type="text" name="FeeCurrName" id="FeeCurrName" class="non-empty percent-50 line" autocomplete="off">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">保险费</td>
        <td>
            <div class="input-group valid">
                <input type="hidden" name="InsurMark" id="InsurMark">
                <input type="text" name="InsurMarkName" id="InsurMarkName"
                       class="non-empty percent-40" autocomplete="off">
                <input type="text" name="InsurRate" id="InsurRate" class="non-empty line"
                       autocomplete="off">
                <input type="hidden" name="InsurCurr" id="InsurCurr">
                <input type="text" name="InsurCurrName" id="InsurCurrName"
                       class="non-empty percent-50 line" autocomplete="off">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">杂费</td>
        <td>
            <div class="input-group valid">
                <input type="hidden" name="OtherMark" id="OtherMark">
                <input type="text" name="OtherMarkName" id="OtherMarkName"
                       class="non-empty percent-40" autocomplete="off">
                <input type="text" name="OtherRate" id="OtherRate" class="non-empty line"
                       autocomplete="off">
                <input type="hidden" name="OtherCurr" id="OtherCurr">
                <input type="text" name="OtherCurrName" id="OtherCurrName"
                       class="non-empty percent-50 line" autocomplete="off">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">件数</td>
        <td>
            <div class="input-group valid">
                <input type="text" name="PackNo" id="PackNo" class="non-empty"
                       maxlength="9" onkeyup="layui.admin.decCheckInt(this)"
                       onblur="layui.admin.decCheckInt(this)"
                       lay-vertype="tips">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-04 text-align-right">包装种类</td>
        <td colspan="2">
            <div class="input-group valid">
                <input type="hidden" name="WrapType" id="WrapType">
                <input type="text" name="WrapTypeName" id="WrapTypeName"
                       class="non-empty" autocomplete="off"
                       lay-vertype="tips">
            </div>
        </td>
        <td class="td-btn">
            <input type="hidden" id="DecOtherPacks" name="DecOtherPacks">
            <button class="layui-btn layui-btn-primary custom-create_btn_primary"
                    id="PackageInfoBtn" type="button">
                其他包装
            </button>
        </td>
        <td class="td-scale-04 text-align-right">毛重(KG)</td>
        <td>
            <div class="input-group valid">
                <input type="text" name="GrossWet" id="GrossWet" class="non-empty"
                       autocomplete="off" lay-verify="gross_wet" lay-vertype="tips"
                       onblur="layui.admin.gross_wet_blur(this)" oninput="layui.admin.is_onlyNumFloat(this, 'four')">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">净重(KG)</td>
        <td>
            <div class="input-group valid">
                <input type="text" name="NetWt" id="NetWt" class="non-empty"
                       autocomplete="off" lay-verify="net_wt" lay-vertype="tips"
                       onblur="layui.admin.net_wt_blur(this)" oninput="layui.admin.is_onlyNumFloat(this, 'four')">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-04 text-align-right">贸易国别（地区）</td>
        <td>
            <div class="input-group valid">
                <input type="hidden" name="TradeAreaCode" id="TradeAreaCode">
                <input type="text" name="TradeAreaName" id="TradeAreaName" class="non-empty"
                       autocomplete="off">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">集装箱数</td>
        <td>
            <div class="input-group valid">
                <input type="text" name="ContainerCounts" id="ContainerCounts"
                       class="non-empty disabled" disabled autocomplete="off">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">随附单证</td>
        <td colspan="3">
            <div class="input-group valid">
                <input type="text" name="DocumentCodeString" id="DocumentCodeString"
                       class="non-empty disabled" disabled autocomplete="off">
            </div>
        </td>
    </tr>
    <tr>
        @{{if eq "I" .IEFlag}}
        <td class="td-scale-04 text-align-right">入境口岸</td>
        <td>
            <div class="input-group valid">
                <input type="hidden" name="EntyPortCode" id="EntyPortCode">
                <input type="text" name="EntyPortName" id="EntyPortName"
                       class="non-empty" autocomplete="off" lay-verify="enty_port_name" lay-vertype="tips">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">货物存放地点</td>
        <td colspan="3">
            <div class="input-group valid">
                <input type="text" name="GoodsPlace" id="GoodsPlace" class="non-empty"
                       autocomplete="off" lay-vertype="tips" @{{if eq "I" .IEFlag}}value="本厂"@{{end}}>
            </div>
        </td>
        <td class="td-scale-04 text-align-right">启运港</td>
        <td>
            <div class="input-group valid">
                <input type="hidden" name="DespPortCode" id="DespPortCode">
                <input type="text" name="DespPortName" id="DespPortName"
                       class="non-empty" autocomplete="off"
                       lay-vertype="tips">
            </div>
        </td>
    @{{else if eq "E" .IEFlag }}
    <td class="td-scale-04 text-align-right">货物存放地点</td>
    <td colspan="3">
        <div class="input-group valid">
            <input type="text" name="goods_place" id="goods_place" class="non-empty" autocomplete="off">
        </div>
    </td>

    <td class="td-scale-04 text-align-right">离境口岸</td>
    <td colspan="3">
        <div class="input-group valid">
            <input type="hidden" name="enty_port_code" id="enty_port_code">
            <input type="text" name="enty_port_name" id="enty_port_name" class="non-empty" autocomplete="off" lay-verify="enty_port_name" lay-vertype="tips">
        </div>
    </td>
    @{{end}}
    </tr>
    <tr>
        <td class="td-scale-04 text-align-right">报关单类型</td>
        <td>
            <div class="input-group valid">
                <input type="hidden" name="EntryType" id="EntryType" value="M">
                <input type="text" name="EntryTypeName" id="EntryTypeName"
                       class="non-empty" autocomplete="off" value="通关无纸化"
                       lay-vertype="tips">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">业务选项</td>
        <td colspan="5">
            <div class="input-group valid">
                <div class="td-checkbox">
                    <span class="margin-right-4">空白</span>
                    <input type="checkbox" name="PromiseItmes[]" id="PromiseItmes0" title="特殊关系确认"
                           lay-skin="primary" value="1" onchange="layui.admin.promise_items_change(this)"
                           data-first="0">
                    <span class="margin-right-4">空白</span>
                    <input type="checkbox" name="PromiseItmes[]" id="PromiseItmes1" title="价格影响确认"
                           lay-skin="primary" value="1" onchange="layui.admin.promise_items_change(this)"
                           data-first="0">
                    <span class="margin-right-4">空白</span>
                    <input type="checkbox" name="PromiseItmes[]" id="PromiseItmes2" title="支付特权使用费确认"
                           lay-skin="primary" value="1" onchange="layui.admin.promise_items_change(this)"
                           data-first="0">
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-scale-04 text-align-right">备注</td>
        <td colspan="2">
            <div class="input-group valid">
                                    <textarea rows="1" cols="2" name="NoteS" id="NoteS" placeholder="备注"
                                              class="noteS-i" maxlength="300"
                                              ondblclick="layui.admin.note_s_dbclick()"></textarea>
                <i class="iconfont iconmore-horiz input_more" id="NoteSOpen"></i>
            </div>
        </td>
        <td class="td-scale-04 text-align-right">业务事项</td>
        <td colspan="4">
            <div class="input-group valid">
                <div class="td-checkbox">
                    <input type="checkbox" name="Type[]" title="担保验收" lay-skin="primary"
                           value="1" disabled>
                    <input type="checkbox" name="Type[]" id="Type1" title="自报自缴" lay-skin="primary"
                           checked value="Z">
                    <input type="checkbox" name="Type[]" title="自主报税" lay-skin="primary"
                           value="ZB" disabled>
                    <input type="checkbox" name="Type[]" title="税单无纸化" lay-skin="primary"
                           value="SW" disabled>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="td-scale-04 text-align-right">
            <div class="non-disabled-btn" id="non-disabled-btn" isdeclistshow="0">
                <i class="iconfont iconjiantou_xia transform_xia"></i>
                <span>检验检疫申报信息</span>
            </div>
        </td>
        <td class="td-scale-04 text-align-right">标记唛码</td>
        <td colspan="5">
            <div class="input-group valid">
                                    <textarea rows="1" cols="2" name="MarkNo" id="MarkNo" class="noteS-i"
                                              maxlength="400" lay-vertype="tips">N/M</textarea>
                <p class="mark_no_number">(<span>3</span>字节)</p>
                <i class="iconfont iconzoom-out-map input_more" id="MarkNoOpen"></i>
            </div>
        </td>
    </tr>
    <tr style="display: none;">
        <td class="td-scale-04 text-align-right">检验检疫受理机关</td>
        <td colspan="3">
            <div class="input-group valid">
                <input type="hidden" name="OrgCode" id="OrgCode">
                <input type="text" name="OrgCodeName" id="OrgCodeName"
                       class="non-empty required" autocomplete="off" lay-vertype="tips">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">企业资质</td>
        <td colspan="3">
            <div class="input-group valid">
                <input type="text" id="EntQualifTypeCode" class="non-empty percent-40"
                       autocomplete="off" disabled>
                <input type="text" id="EntQualifTypeName" class="non-empty line"
                       autocomplete="off" disabled>
                <input id="EntQualifSeq" type="hidden" value="0">
                <i class="iconfont iconkeyboardarrowleft input_more" id="EnterpriseUpBtn"></i>
                <i class="iconfont iconkeyboardarrowright input_more" id="EnterpriseDownBtn"></i>
                <i class="iconfont iconmore-horiz input_more" id="EnterpriseBtn"></i>
            </div>
        </td>
    </tr>
    <tr style="display: none;">
        <td class="td-scale-04 text-align-right">领证机关</td>
        <td @{{if eq "E" .IEFlag}}colspan="3"@{{end}}>
            <div class="input-group valid">
                <input type="hidden" name="VsaOrgCode" id="VsaOrgCode">
                <input type="text" name="VsaOrgCodeName" id="VsaOrgCodeName"
                       class="non-empty required" autocomplete="off" lay-vertype="tips">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">口岸商检机关</td>
        <td @{{if eq "E" .IEFlag}}colspan="3"@{{end}}>
            <div class="input-group valid">
                <input type="hidden" name="InspOrgCode" id="InspOrgCode">
                <input type="text" name="InspOrgName" id="InspOrgName"
                       class="non-empty required" autocomplete="off" lay-vertype="tips">
            </div>
        </td>
        @{{if eq "I" .IEFlag}}
        <td class="td-scale-04 text-align-right">启运日期</td>
        <td>
            <div class="input-group valid">
                <input type="text" name="DespDate" id="DespDate" class="non-empty required"
                       autocomplete="off" lay-vertype="tips" placeholder="年/月/日">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">B/L号</td>
        <td>
            <div class="input-group valid">
                <input type="text" name="BLNo" id="BLNo" class="non-empty"
                       autocomplete="off">
            </div>
        </td>
        @{{end}}
    </tr>
    <tr style="display: none;">
        <td class="td-scale-04 text-align-right">目的地检验检疫机关</td>
        <td>
            <div class="input-group valid">
                <input type="hidden" name="PurpOrgCode" id="PurpOrgCode">
                <input type="text" name="PurpOrgName" id="PurpOrgName"
                       class="non-empty required" autocomplete="off" lay-vertype="tips">
            </div>
        </td>
        <td class="td-scale-04 text-align-right">关联号码及理由</td>
        <td colspan="2">
            <div class="input-group valid">
                <input type="text" name="CorrelationNo" id="CorrelationNo" class="non-empty"
                       autocomplete="off" placeholder="关联号码">
            </div>
        </td>
        <td colspan="2">
            <div class="input-group valid">
                <input type="hidden" name="CorrelationReasonFlag" id="CorrelationReasonFlag">
                <input type="text" name="CorrelationReasonFlagName"
                       id="CorrelationReasonFlagName" class="non-empty" autocomplete="off"
                       placeholder="关联理由">
            </div>
        </td>
        @{{if eq "I" .IEFlag}}
        <td class="td-btn">
            <button class="layui-btn layui-btn-primary custom-create_btn_primary" id="DecUsersBtn"
                    type="button">
                使用人
            </button>
        </td>
        @{{end}}
    </tr>
    <tr style="display: none;">
        @{{if eq "I" .IEFlag}}
        <td class="td-scale-04 text-align-right">原箱运输</td>
        <td>
            <div class="input-group valid">
                <div class="td-checkbox">
                    <input type="checkbox" name="OrigBoxFlag" title="是" lay-skin="primary" value="1">
                </div>
            </div>
        </td>
        @{{end}}
        <td class="td-scale-04 text-align-right">特殊业务标识</td>
        <td @{{if eq "E" .IEFlag}}colspan="3"@{{end}}>
            <div class="input-group valid">
                <input type="text" id="SpecDeclFlag" class="non-empty"
                       autocomplete="off" disabled>
                <i class="iconfont iconmore-horiz input_more" id="SpecDeclFlagOpen"></i>
            </div>
        </td>
        <td class="td-scale-04 text-align-right">所需单证</td>
        <td colspan="3" class="td-btn">
            <div class="input-group valid">
                <input type="text" id="DecRequestCerts" class="non-empty"
                       autocomplete="off" disabled>
                <button class="layui-btn layui-btn-primary custom-create_btn_primary"
                        id="DecRequestCertsBtn" type="button">
                    检验检疫签证申报要素
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<input type="hidden" id="IsWebsocket" value="1">
<input type="hidden" id="IsType" value="order">