<script type="text/html" id="goods_attr_batch_data_template">
    <div class="manual_no_list">
        <div id="tableDiv_spec">
            <table class="percent-100">
                <tbody>
                {{# layui.each(d, function(index, item){ }}
                <tr>
                    {{# layui.each(item, function(index2, item2){ }}
                    <td name="{{ item2.Name }}" data-id="{{ item2.CustomsCode }}" class="tableDiv_attr_batch_td">{{ item2.CustomsCode }}-{{ item2.Name }}</td>
                    {{# }) }}
                </tr>
                {{# }) }}
                </tbody>
            </table>
        </div>
    </div>
</script>
<script type="text/html" id="goods_attr_batch_data_list"></script>