<script type="text/html" id="goods_spec_list">
    <div class="manual_no_list">
        <form class="layui-form" onkeydown="if(event.keyCode==13){return false}">
            <table class="layui-table order_table_form">
                <tbody>
                <tr>
                    <td class="td-scale-01 text-align-right">成分/原料/组分</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="Stuff" id="Stuff"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">产品有效期</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="ProdValidDt" id="ProdValidDt"
                                   autocomplete="off" placeholder="年/月/日">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">产品保质期(天)</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="ProdQgp" id="ProdQgp"
                                   autocomplete="off" onkeyup="layui.admin.decCheckInt(this)">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">境外生产企业</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="EngManEntCnm" id="EngManEntCnm"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">货物规格</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="GoodsSpec" id="GoodsSpec"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">货物型号</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="GoodsModel" id="GoodsModel"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">货物品牌</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="GoodsBrand" id="GoodsBrand"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">生产日期</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="ProduceDate" id="ProduceDate"
                                   autocomplete="off" placeholder="年/月/日">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">生产批次</td>
                    <td class="td-scale-02 td-btn">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="ProdBatchNo" id="ProdBatchNo"
                                   autocomplete="off" onkeyup="layui.admin.changeFoucsTogoodsAttr(event)">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="manual_no_btn">
                <button class="layui-btn custom-create_btn" lay-submit lay-filter="goods_spec_save"
                        id="goods_spec_save" type="button">
                    确定
                </button>
            </div>
        </form>
    </div>
</script>