<script type="text/html" id="manual_no_list">
    <div class="manual_no_list">
        <div class="manual_no_search">
            <label class="custom-tool-right-search iconfont icon-search"></label>
            <input type="text" name="manual_no_search" id="manual_no_search"
                   placeholder="搜索消费使用单位信用代码" class="layui-input">
        </div>
        <table class="layui-hide DetailDiv" id="manual_no_list_table" lay-filter="manual_no_list_table"></table>
        <div class="manual_no_btn">
            <button class="layui-btn custom-create_btn" id="manual_no_save" type="button" onclick="layui.admin.manual_no_save()">
                确认
            </button>
        </div>
    </div>
</script>