<script type="text/html" id="mark_no_template">
    <div class="manual_no_list">
        <div class="note_s_template">
            <textarea rows="9" name="mark_no_fu" id="mark_no_fu" class="note_s_template_text" placeholder="Ctrl+Enter换行"
                      maxlength="400"></textarea>
            <p><span class="mark_no_fu_number">0</span>/400</p>
        </div>
        <div class="manual_no_btn">
            <button class="layui-btn custom-create_btn" id="mark_no_save" type="button">
                保存
            </button>
        </div>
    </div>
</script>