<script type="text/html" id="note_s_template">
    <div class="manual_no_list">
        <div class="note_s_template">
            <textarea rows="9" name="note_s_fu" id="note_s_fu" class="note_s_template_text" placeholder="Ctrl+Enter换行"
                      maxlength="300" ondblclick="layui.admin.note_s_dbclick()"></textarea>
            <p><span class="note_s_fu_number">0</span>/300</p>
        </div>
        <div class="manual_no_btn">
            <button class="layui-btn custom-create_btn" id="note_s_save" type="button">
                保存
            </button>
        </div>
    </div>
</script>
<script type="text/html" id="note_s_selset">
    <div class="note_s_selset">
        <p class="note_s_selset_p" data-code="5238" data-name="凤岗车检场" onclick="layui.admin.note_s_selset_p(this)">[装卸口岸：凤岗车检场]</p>
        <p class="note_s_selset_p" data-code="5284" data-name="长安车检场" onclick="layui.admin.note_s_selset_p(this)">[装卸口岸：长安车检场]</p>
        <p class="note_s_selset_p" data-code="" data-name="" onclick="layui.admin.note_s_selset_p(this)">[装卸口岸：寮步车检场]</p>
        <p class="note_s_selset_p" data-code="5297" data-name="加贸结转" onclick="layui.admin.note_s_selset_p(this)">[装卸口岸：加贸结转]</p>
        <p class="note_s_selset_p" data-code="5298" data-name="外关区" onclick="layui.admin.note_s_selset_p(this)">[装卸口岸：外关区]</p>
        <p class="note_s_selset_p" data-code="5299" data-name="其它业务" onclick="layui.admin.note_s_selset_p(this)">[装卸口岸：其它业务]</p>
    </div>
</script>