<form class="layui-form" onkeydown="if(event.keyCode==13){return false}">
    <table class="layui-hide DetailDiv" id="order_documents_table" lay-filter="order_documents_table"></table>
    <table class="layui-table order_table_form" id="order_documents_form">
        <tbody>
        <tr>
            <td class="td-scale-01 text-align-right">随附单证代码</td>
            <td class="td-scale-02" colspan="3">
                <div class="input-group valid">
                    <input type="hidden" name="docu_code" id="docu_code">
                    <input type="text" class="non-empty required" name="docu_code_name" id="docu_code_name"
                           autocomplete="off" lay-verify="required" lay-vertype="tips">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">随附单证编码</td>
            <td class="td-scale-02" colspan="3">
                <div class="input-group valid">
                    <input type="text" class="non-empty required" name="cert_code" id="cert_code"
                           autocomplete="off" lay-verify="required" lay-vertype="tips">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <script type="text/html" id="order_documents_tool">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm ent_qualif_new" id="order_documents_add" lay-event="add"
                    type="button">
                新增
            </button>
            <button class="layui-btn layui-btn-sm ent_qualif_new" id="order_documents_submit" lay-submit
                    lay-filter="order_documents_submit" type="button">
                保存
            </button>
            <button class="layui-btn layui-btn-sm ent_qualif_del" id="order_documents_delete" lay-event="delete"
                    type="button">
                删除
            </button>
            <button class="layui-btn layui-btn-sm order_pros_btn_disabled" id="order_documents_ciq_rel" lay-event="ciq_rel"
                    type="button" disabled>
                原产地
            </button>
        </div>
    </script>
</form>