<form class="layui-form" onkeydown="if(event.keyCode==13){return false}">
    <table class="layui-hide" id="OrderPros" lay-filter="order_pros"></table>
    <table class="layui-table order_table_form" id="order_pros_form">
        <tbody>
        <tr>
            <td class="td-scale-04 text-align-right">序号</td>
            <td>
                <div class="input-group valid">
                    <input type="text" class="non-empty" disabled name="GNo" id="GNo" autocomplete="off" value="1">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">备案序号</td>
            <td>
                <div class="input-group valid">
                    <input type="text" class="non-empty"  name="ContrItem" id="ContrItem" autocomplete="off"
                           onchange="layui.admin.contr_item_change(this,'@{{.IEFlag}}','@{{.m.HandBookId}}')">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">商品编号</td>
            <td>
                <div class="input-group valid">
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="CodeTS" id="CodeTS" autocomplete="off" maxlength="10"
                           onkeyup="layui.admin.openGoodsWindow(event);" oninput="layui.admin.is_onlynumber(this)">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">检验检疫名称</td>
            <td colspan="3">
                <div class="input-group valid">
                    <input type="hidden" name="CiqCode" id="CiqCode">
                    <input type="text" class="non-empty" disabled name="CiqName" id="CiqName" autocomplete="off">
                    <i class="iconfont iconmore-horiz input_more" id="ciq_name_open"></i>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">商品名称</td>
            <td colspan="4">
                <div class="input-group valid">
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="GName" id="GName" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">规格型号</td>
            <td colspan="4">
                <div class="input-group valid">
                    <input type="text" class="non-empty" disabled name="GModel" id="GModel" autocomplete="off">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">成交数量</td>
            <td>
                <div class="input-group valid">
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="GQty" id="GQty" autocomplete="off" onchange="layui.admin.g_qty_change(this)"
                           oninput="layui.admin.is_onlyNumFloat(this, 'four')">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">成交计量单位</td>
            <td>
                <div class="input-group valid">
                    <input type="hidden" name="GUnit" id="GUnit">
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="GUnitName" id="GUnitName" autocomplete="off" onchange="layui.admin.g_unit_name_change(this)">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">单价</td>
            <td>
                <div class="input-group valid">
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="DeclPrice" id="DeclPrice" autocomplete="off" onchange="layui.admin.priceChange()"
                           oninput="layui.admin.is_onlyNumFloat(this, 'four')">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">总价</td>
            <td>
                <div class="input-group valid">
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="DeclTotal" id="DeclTotal" autocomplete="off" onchange="layui.admin.totalChange()"
                           oninput="layui.admin.is_onlyNumFloat(this, 'four')">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">币制</td>
            <td>
                <div class="input-group valid">
                    <input type="hidden" name="TradeCurr" id="TradeCurr" no_empty>
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="TradeCurrName" id="TradeCurrName" autocomplete="off" no_empty>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">法定第一数量</td>
            <td>
                <div class="input-group valid">
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="FirstQty" id="FirstQty" autocomplete="off"
                           oninput="layui.admin.is_onlyNumFloat(this, 'four')">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">法定第一计量单位</td>
            <td>
                <div class="input-group valid">
                    <input type="hidden" name="FirstUnit" id="FirstUnit">
                    <input type="text" class="non-empty required" name="FirstUnitName" id="FirstUnitName"
                           autocomplete="off" lay-verify="required" lay-vertype="tips">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">加工成品单耗版本号</td>
            <td>
                <div class="input-group valid">
                    <input type="text" class="non-empty" name="ExgVersion" id="ExgVersion"
                        autocomplete="off" maxlength="8" oninput="layui.admin.is_onlynumber(this)">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">货号</td>
            <td>
                <div class="input-group valid">
                    <input type="text" class="non-empty" name="ExgNo" id="ExgNo" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">最终目的国(地区)</td>
            <td>
                <div class="input-group valid">
                    <input type="hidden" name="DestinationCountry" id="DestinationCountry" value="CHN" no_empty>
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="DestinationCountryName" id="DestinationCountryName" autocomplete="off" value="中国"
                           no_empty>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">法定第二数量</td>
            <td>
                <div class="input-group valid">
                    <input type="text" class="non-empty" name="SecondQty" id="SecondQty" autocomplete="off"
                           oninput="layui.admin.is_onlyNumFloat(this, 'four')">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">法定第二计量单位</td>
            <td>
                <div class="input-group valid">
                    <input type="hidden" name="SecondUnit" id="SecondUnit">
                    <input type="text" class="non-empty" name="SecondUnitName" id="SecondUnitName"
                           autocomplete="off">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">原产国（地区）</td>
            <td colspan="3">
                <div class="input-group valid">
                    <input type="hidden" name="OriginCountry" id="OriginCountry" no_empty>
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="OriginCountryName" id="OriginCountryName" autocomplete="off" no_empty>
                </div>
            </td>
            <td class="td-scale-04 text-align-right">原产地区</td>
            <td>
                <div class="input-group valid">
                    <input type="hidden" name="OrigPlaceCode" id="OrigPlaceCode">
                    <input type="text" class="non-empty" name="OrigPlaceCodeName" id="OrigPlaceCodeName"
                           autocomplete="off">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="td-scale-04 text-align-right">
                <div class="non-disabled-btn" id="decListShow" isdeclistshow="0">
                    <i class="iconfont iconjiantou_xia transform_xia"></i>
                    <span>报检信息录入</span>
                </div>
            </td>
            <td class="td-scale-04 text-align-right">境内目的地</td>
            <td colspan="2">
                <div class="input-group valid">
                    <input type="hidden" name="DistrictCode" id="DistrictCode" no_empty>
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="DistrictCodeName" id="DistrictCodeName" autocomplete="off" placeholder="境内目的地代码"
                           no_empty>
                </div>
            </td>
            <td colspan="3">
                <div class="input-group valid">
                    <input type="hidden" name="DestCode" id="DestCode" no_empty>
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="DestCodeName" id="DestCodeName" autocomplete="off" placeholder="目的地代码" no_empty>
                </div>
            </td>
            <td class="td-scale-04 text-align-right">征免方式</td>
            <td>
                <div class="input-group valid">
                    <input type="hidden" name="DutyMode" id="DutyMode" no_empty value="1">
                    <input type="text" class="non-empty required" lay-verify="required" lay-vertype="tips"
                           name="DutyModeName" id="DutyModeName" autocomplete="off" no_empty value="照章征税">
                </div>
            </td>
        </tr>
        <tr style="display: none;">
            <td class="td-scale-04 text-align-right">检验检疫货物规格</td>
            <td colspan="7">
                <div class="input-group valid">
                    <input type="text" class="non-empty" disabled id="GoodsSpecData" autocomplete="off">
                    <i class="iconfont iconmore-horiz input_more" id="goods_spec_open"></i>
                </div>
            </td>
            <td colspan="2" class="td-btn">
                <button class="layui-btn layui-btn-primary custom-create_btn_primary" id="goodsTargetBtn"
                        type="button">
                    产品资质
                </button>
            </td>
        </tr>
        <tr style="display: none;">
            <td class="td-scale-04 text-align-right">货物属性</td>
            <td colspan="4">
                <div class="input-group valid">
                    <input type="text" class="non-empty" disabled id="GoodsAttr" autocomplete="off">
                    <i class="iconfont iconmore-horiz input_more" id="goods_attr_open"></i>
                </div>
            </td>
            <td class="td-scale-04 text-align-right">用途</td>
            <td colspan="2">
                <div class="input-group valid">
                    <input type="hidden" name="Purpose" id="Purpose">
                    <input type="text" class="non-empty required" name="PurposeName" id="PurposeName"
                           lay-vertype="tips" autocomplete="off">
                </div>
            </td>
            <td colspan="2" class="td-btn">
                <button class="layui-btn layui-btn-primary custom-create_btn_primary" id="dangerBtn"
                        type="button">
                    危险货物信息
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<script type="text/html" id="order_pros_tool">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm order_pros_btn" id="dec_users_submit" lay-event="add" type="button">
            新增
        </button>
        <button class="layui-btn layui-btn-sm order_pros_btn" id="order_pros_submit" lay-submit
                lay-filter="order_pros_submit" type="button">
            保存
        </button>
        <button class="layui-btn layui-btn-sm order_pros_btn" id="dec_users_delete" lay-event="delete"
                type="button">
            删除
        </button>
        <button class="layui-btn layui-btn-sm order_pros_btn" id="dec_users_copy" lay-event="copy"
                type="button">
            复制
        </button>
        <button class="layui-btn layui-btn-sm order_pros_btn" id="dec_users_up" lay-event="up"
                type="button">
            上移
        </button>
        <button class="layui-btn layui-btn-sm order_pros_btn" id="dec_users_down" lay-event="down"
                type="button">
            下移
        </button>
        <button class="layui-btn layui-btn-sm order_pros_btn" id="dec_users_insert" lay-event="insert"
                type="button">
            &nbsp;插入
        </button>
        <button class="layui-btn layui-btn-sm order_pros_btn" id="dec_users_again" lay-event="again"
                type="button">
            重新归类
        </button>
        <button class="layui-btn layui-btn-sm order_pros_btn" id="dec_users_look" lay-event="look"
                type="button">
            归类查看
        </button>
        <button class="layui-btn layui-btn-sm order_pros_btn" id="dec_users_batch_edit" lay-event="batch_edit"
                type="button">
            批量修改
        </button>
        <button class="layui-btn layui-btn-sm order_pros_btn" id="dec_users_commodity" lay-event="commodity"
                type="button" onclick="layui.admin.dec_users_commodity_click()">
            商品库
        </button>
    </div>
</script>
@{{template "order/create/commodity_storehouse.html" .}}
