<script type="text/html" id="order_init_template">
    <div class="custom-order_import-pdf">
        <div class="order_init_top">
            <label class="custom-tool-right-search iconfont icon-search"></label>
            <input type="text" name="order_init_search" id="order_init_search"
                   placeholder="搜索模板名称/企业名称" class="custom-tool-right-input layui-input">
        </div>
        <table class="layui-hide" id="order_init_lists" lay-filter="order_init_lists"></table>
        <div class="manual_no_btn">
            <button class="layui-btn custom-create_btn" id="order_init_save" type="button">
                保存
            </button>
        </div>
    </div>
</script>