<script type="text/html" id="print_lists_template">
    <div class="custom-order_import-pdf">
        <table class="layui-hide" id="print_lists" lay-filter="print_lists"></table>
    </div>
</script>
<script type="text/html" id="print_toolbar">
    <a class="custom-edit" lay-event="preview">预览</a>
    <a class="custom-edit" lay-event="download">下载</a>
    <a class="custom-edit" style="opacity: 0.5" lay-event="null_download">下载</a>
    <a class="custom-edit" lay-event="reload_save">重新保存</a>
    <a class="custom-edit" lay-event="enclosure_save">保存为附件</a>
</script>
