<script type="text/html" id="print_edit_contract_template">
    <div class="manual_no_list">
        <form class="layui-form" onkeydown="if(event.keyCode==13){return false}">
            <table class="layui-table order_table_form">
                <tbody>
                <tr>
                    <td class="td-scale-01 text-align-right">订购合同保险金百分比</td>
                    <td class="td-scale-02" colspan="3">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="contact_safe"
                                   id="contact_safe" autocomplete="off" value="卖方按发票金额110%投保">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">目的地</td>
                    <td class="td-scale-02" colspan="3">
                        <div class="input-group valid">
                            <input type="hidden" name="dest_code" id="dest_code_print">
                            <input type="text" class="non-empty" name="district_code_name" id="dest_code_name_print"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">成交方式</td>
                    <td class="td-scale-02" colspan="3">
                        <div class="input-group valid">
                            <input type="hidden" name="trans_mode" id="trans_mode_print">
                            <input type="text" class="non-empty" name="trans_mode_name" id="trans_mode_name_print"
                                   autocomplete="off">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-scale-01 text-align-right">签约日期</td>
                    <td class="td-scale-02" colspan="3">
                        <div class="input-group valid">
                            <input type="text" class="non-empty" name="contact_sign_date"
                                   id="contact_sign_date" autocomplete="off">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="manual_no_btn">
                <button class="layui-btn custom-create_btn" lay-submit lay-filter="print_edit_contract_save"
                        id="print_edit_contract_save" type="button">
                    预览
                </button>
            </div>
        </form>
    </div>
</script>