<script type="text/html" id="spec_decl_flag_template">
    <div class="manual_no_list">
        <div id="tableDiv_spec">
            <table class="percent-100">
                <tbody>
                <tr>
                    <td name="国际赛事" class="tableDiv_spec_td">国际赛事</td>
                    <td name="特殊进出军工物资" class="tableDiv_spec_td">特殊进出军工物资</td>
                    <td name="国际援助物资" class="tableDiv_spec_td">国际援助物资</td>
                    <td name="国际会议" class="tableDiv_spec_td">国际会议</td>
                </tr>
                <tr>
                    <td name="直通放行" class="tableDiv_spec_td">直通放行</td>
                    <td name="外交礼遇" class="tableDiv_spec_td">外交礼遇</td>
                    <td name="转关" class="tableDiv_spec_td">转关</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>