<form class="layui-form layui-form-relative" id="order_i_form" onkeydown="if(event.keyCode==13){return false}">
    <table class="layui-table order_table_form">
        <tbody>
        <tr>
            <td class="td-scale-01 text-align-right">预录入统一编号</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text"
                           class="non-empty disabled @{{if inArrayStr "SeqNo" .m.RecheckErrorInputIds }}is_check_fail@{{end}}"
                           value="@{{.m.SeqNo}}" id="SeqNo" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">清单编号</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text"
                           class="non-empty disabled @{{if inArrayStr "BondInvtNo" .m.RecheckErrorInputIds }}is_check_fail@{{end}}"
                           value="@{{.m.BondInvtNo}}" disabled id="BondInvtNo" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">清单类型</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="hidden" name="InvtType" id="InvtType" value="@{{ if .m.InvtType}}@{{.m.InvtType}}@{{else}}0@{{end}}">
                    <input type="text"
                           class="non-empty required @{{if inArrayStr "InvtTypeName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}"
                           value="@{{ if .m.InvtTypeName}}@{{.m.InvtTypeName}}@{{ else}}普通清单@{{end}}"
                           name="InvtTypeName" id="InvtTypeName" autocomplete="off" lay-verify="required"
                           lay-vertype="tips">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">手(账)册编号</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="hidden" name="HandBookId" id="HandBookId" value="@{{.m.HandBookId}}">
                    <input type="text"
                           class="non-empty required @{{if inArrayStr "PutrecNo" .m.RecheckErrorInputIds }}is_check_fail@{{end}}"
                           value="@{{.m.PutrecNo}}" name="PutrecNo"
                           id="PutrecNo" lay-verify="required" lay-vertype="tips">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">经营单位编码</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" class="non-empty required @{{if inArrayStr "BizopEtpsno" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.BizopEtpsno}}" name="BizopEtpsno"
                           id="BizopEtpsno" autocomplete="off" lay-verify="required" lay-vertype="tips"
                           onblur="layui.admin.bizop_etpsno_change(this)">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">经营单位社会信用代码</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" class="non-empty @{{if inArrayStr "BizopEtpsSccd" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" disabled value="@{{.m.BizopEtpsSccd}}" name="BizopEtpsSccd"
                           id="BizopEtpsSccd" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">经营单位名称</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" class="non-empty required @{{if inArrayStr "BizopEtpsNm" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" disabled value="@{{.m.BizopEtpsNm}}"
                           name="BizopEtpsNm" id="BizopEtpsNm" autocomplete="off" lay-verify="required"
                           lay-vertype="tips">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">加工单位编码</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" class="non-empty required @{{if inArrayStr "RcvgdEtpsno" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.RcvgdEtpsno}}" name="RcvgdEtpsno"
                           id="RcvgdEtpsno" autocomplete="off" lay-verify="required" lay-vertype="tips"
                           onblur="layui.admin.rcvgd_etpsno_change(this)">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">加工单位社会信用代码</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" class="non-empty @{{if inArrayStr "RvsngdEtpsSccd" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" disabled value="@{{.m.RvsngdEtpsSccd}}" name="RvsngdEtpsSccd"
                           id="RvsngdEtpsSccd" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">加工单位名称</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" class="non-empty required @{{if inArrayStr "RcvgdEtpsNm" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" disabled value="@{{.m.RcvgdEtpsNm}}"
                           name="RcvgdEtpsNm" id="RcvgdEtpsNm" autocomplete="off" lay-verify="required"
                           lay-vertype="tips">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">申报单位编码</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" class="non-empty required @{{if inArrayStr "DclEtpsno" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" name="DclEtpsno" id="DclEtpsno" autocomplete="off"
                           lay-verify="required" lay-vertype="tips"
                           value="@{{ if .m.DclEtpsno}}@{{.m.DclEtpsno}}@{{ else}}4419986507@{{end}}">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">申报单位社会信用代码</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" class="non-empty @{{if inArrayStr "DclEtpsSccd" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" name="DclEtpsSccd"
                           value="@{{ if .m.DclEtpsSccd}}@{{.m.DclEtpsSccd}}@{{ else}}914419007962277606@{{end}}"
                           id="DclEtpsSccd" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">申报单位名称</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" class="non-empty required @{{if inArrayStr "DclEtpsNm" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" name="DclEtpsNm" id="DclEtpsNm" autocomplete="off"
                           lay-verify="required" lay-vertype="tips"
                           value="@{{ if .m.DclEtpsNm}}@{{.m.DclEtpsNm}}@{{ else}}广东东华报关服务有限公司@{{end}}">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">录入单位编码</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" class="non-empty disabled @{{if inArrayStr "InputCode" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" disabled name="InputCode" id="InputCode"
                           autocomplete="off"
                           value="@{{ if .m.InputCode}}@{{.m.InputCode}}@{{ else}}4419986507@{{end}}">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">录入单位社会信用代码</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" class="non-empty @{{if inArrayStr "InputCreditCode" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" name="InputCreditCode" id="InputCreditCode"
                           autocomplete="off"
                           value="@{{ if .m.InputCreditCode}}@{{.m.InputCreditCode}}@{{ else}}914419007962277606@{{end}}">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">录入单位名称</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" class="non-empty required @{{if inArrayStr "InputName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" name="InputName" id="InputName" autocomplete="off"
                           lay-verify="required" lay-vertype="tips"
                           value="@{{ if .m.InputName}}@{{.m.InputName}}@{{ else}}广东东华报关服务有限公司@{{end}}">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">企业内部编号</td>
            <td class="td-scale-04" colspan="1">
                <div class="input-group valid">
                    <input type="text" class="non-empty disabled @{{if inArrayStr "EtpsInnerInvtNo" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" disabled value="@{{.m.EtpsInnerInvtNo}}"
                           name="EtpsInnerInvtNo" id="EtpsInnerInvtNo" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">申报类型</td>
            <td class="td-scale-04" colspan="1">
                <div class="input-group valid">
                    <input type="hidden"  name="DclTypecd" id="DclTypecd" value="1">
                    <input type="text" class="non-empty disabled @{{if inArrayStr "DclTypecdName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="备案" name="DclTypecdName" id="DclTypecdName" autocomplete="off" >
                </div>
            </td>
            <td class="td-scale-01 text-align-right">录入日期</td>
            <td class="td-scale-04" colspan="1">
                <div class="input-group valid">
                    <input type="text" class="non-empty required @{{if inArrayStr "InputTime" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.InputTime}}" name="InputTime"
                           id="InputTime" autocomplete="off" lay-verify="required" lay-vertype="tips"
                           oninput="layui.admin.is_onlynumber(this)">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">清单申报日期</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" class="non-empty required @{{if inArrayStr "InvtDclTime" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.InvtDclTime}}" name="InvtDclTime"
                           id="InvtDclTime" autocomplete="off" lay-verify="required" lay-vertype="tips"
                           oninput="layui.admin.is_onlynumber(this)">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">料件、成品标志</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="hidden" value="@{{ if .m.MtpckEndprdMarkcd}}@{{.m.MtpckEndprdMarkcd}}@{{ else}}I@{{end}}" name="MtpckEndprdMarkcd" id="MtpckEndprdMarkcd">
                    <input type="text" class="non-empty required  @{{if inArrayStr "MtpckEndprdMarkcdName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}"
                           value="@{{ if .m.MtpckEndprdMarkcdName}}@{{.m.MtpckEndprdMarkcdName}}@{{ else}}料件@{{end}}"
                           name="MtpckEndprdMarkcdName" id="MtpckEndprdMarkcdName" autocomplete="off"
                           lay-verify="required" lay-vertype="tips">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">监管方式</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="hidden" value="@{{.m.SupvModecd}}" name="SupvModecd" id="SupvModecd">
                    <input type="text" class="non-empty required  @{{if inArrayStr "SupvModecdName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.SupvModecdName}}" name="SupvModecdName"
                           id="SupvModecdName" autocomplete="off" lay-verify="required" lay-vertype="tips">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">运输方式</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="hidden" value="@{{.m.TrspModecd}}" name="TrspModecd" id="TrspModecd">
                    <input type="text" class="non-empty required  @{{if inArrayStr "TrspModecdName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.TrspModecdName}}" name="TrspModecdName"
                           id="TrspModecdName" autocomplete="off" lay-verify="required" lay-vertype="tips">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">出境关别</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="hidden" value="@{{.m.ImpexpPortcd}}" name="ImpexpPortcd" id="ImpexpPortcd">
                    <input type="text" class="non-empty required  @{{if inArrayStr "ImpexpPortcdName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.ImpexpPortcdName}}"
                           name="ImpexpPortcdName" id="ImpexpPortcdName" autocomplete="off" lay-verify="required"
                           lay-vertype="tips">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">主管海关</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="hidden" value="@{{.m.DclPlcCuscd}}" name="DclPlcCuscd" id="DclPlcCuscd">
                    <input type="text" class="non-empty required  @{{if inArrayStr "DclPlcCuscdName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.DclPlcCuscdName}}" name="DclPlcCuscdName"
                           id="DclPlcCuscdName" autocomplete="off" lay-verify="required" lay-vertype="tips">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">核扣标志</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" class="non-empty disabled  @{{if inArrayStr "VrfdedMarkcd" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.VrfdedMarkcd}}" id="VrfdedMarkcd"
                           autocomplete="off" disabled>
                </div>
            </td>
            <td class="td-scale-01 text-align-right">启运国(地区)</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="hidden" value="@{{.m.StshipTrsarvNatcd}}" name="StshipTrsarvNatcd"
                           id="StshipTrsarvNatcd">
                    <input type="text" class="non-empty required  @{{if inArrayStr "StshipTrsarvNatcdName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.StshipTrsarvNatcdName}}"
                           name="StshipTrsarvNatcdName" id="StshipTrsarvNatcdName" autocomplete="off"
                           lay-verify="required" lay-vertype="tips">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">清单进出卡口状态</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" class="non-empty disabled  @{{if inArrayStr "InvtIochkptStucd" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.InvtIochkptStucd}}"
                           id="InvtIochkptStucd" autocomplete="off" disabled>
                </div>
            </td>
            <td class="td-scale-01 text-align-right">申报表编号</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" class="non-empty  @{{if inArrayStr "ApplyNo" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.ApplyNo}}" name="ApplyNo" id="ApplyNo"
                           autocomplete="off">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">流转类型</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="hidden" value="@{{.m.ListType}}" name="ListType" id="ListType">
                    <input type="text" class="non-empty  @{{if inArrayStr "ListTypeName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" value="@{{.m.ListTypeName}}" name="ListTypeName"
                           id="ListTypeName" autocomplete="off">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">报关标志</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="hidden" value="@{{ if .m.DclcusFlag}}@{{.m.DclcusFlag}}@{{ else}}1@{{end}}"
                           name="DclcusFlag" id="DclcusFlag">
                    <input type="text" class="non-empty required  @{{if inArrayStr "DclcusFlagName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}"
                           value="@{{ if .m.DclcusFlagName}}@{{.m.DclcusFlagName}}@{{ else}}报关@{{end}}"
                           name="DclcusFlagName" id="DclcusFlagName" autocomplete="off" lay-verify="required"
                           lay-vertype="tips">
                </div>
            </td>
            <td class="td-scale-01 text-align-right">是否系统生成报关单</td>
            <td class="td-scale-04">
                <input type="hidden" value="@{{ if .m.GenDecFlag}}@{{.m.GenDecFlag}}@{{ else}}1@{{end}}"
                       name="GenDecFlag" id="GenDecFlag">
                <input type="text" value="@{{ if .m.GenDecFlagName}}@{{.m.GenDecFlagName}}@{{ else}}生成@{{end}}"
                       name="GenDecFlagName" id="GenDecFlagName" class="non-empty required  @{{if inArrayStr "GenDecFlagName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}">
            </td>

            <td class="td-scale-01 text-align-right">报关类型</td>
            <td class="td-scale-04">
                <input type="hidden" value="@{{.m.DclcusTypecd}}" name="DclcusTypecd" id="DclcusTypecd">
                <input type="text" value="@{{.m.DclcusTypecdName}}" name="DclcusTypecdName" id="DclcusTypecdName"
                       class="non-empty  @{{if inArrayStr "DclcusTypecdName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}">
            </td>
            <td class="td-scale-01 text-align-right">报关单类型</td>
            <td class="td-scale-04" colspan="2">
                <input type="hidden" value="@{{ if .m.DecType}}@{{.m.DecType}}@{{ else}}1@{{end}}" name="DecType" id="DecType">
                <input type="text" value="@{{ if .m.DecTypeName}}@{{.m.DecTypeName}}@{{ else}}进口报关单@{{end}}"
                       name="DecTypeName" id="DecTypeName" class="non-empty  @{{if inArrayStr "DecTypeName" .m.RecheckErrorInputIds }}is_check_fail@{{end}}">
            </td>
        </tr>
        <tr>
            <td class="td-scale-01 text-align-right">对应报关单编号</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.EntryNo}}" class="non-empty disabled  @{{if inArrayStr "EntryNo" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" id="EntryNo"
                           autocomplete="off" disabled>
                </div>
            </td>
            <td class="td-scale-01 text-align-right">对应报关单申报单位编码</td>
            <td class="td-scale-04" colspan="2">
                <input type="text"
                       value="@{{ if .m.CorrEntryDclEtpsNo}}@{{.m.CorrEntryDclEtpsNo}}@{{ else}}4419986507@{{end}}"
                       name="CorrEntryDclEtpsNo" id="CorrEntryDclEtpsNo" class="non-empty  @{{if inArrayStr "CorrEntryDclEtpsNo" .m.RecheckErrorInputIds }}is_check_fail@{{end}}">
            </td>
            <td class="td-scale-01 text-align-right">对应报关单申报单位社会信用代码</td>
            <td class="td-scale-04" colspan="2">
                <input type="text"
                       value="@{{ if .m.CorrEntryDclEtpsSccd}}@{{.m.CorrEntryDclEtpsSccd}}@{{ else}}914419007962277606@{{end}}"
                       name="CorrEntryDclEtpsSccd" id="CorrEntryDclEtpsSccd" class="non-empty  @{{if inArrayStr "CorrEntryDclEtpsSccd" .m.RecheckErrorInputIds }}is_check_fail@{{end}}">
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">对应报关单申报单位名称</td>
            <td class="td-scale-04" colspan="7">
                <div class="input-group valid">
                    <input type="text"
                           value="@{{ if .m.CorrEntryDclEtpsNm}}@{{.m.CorrEntryDclEtpsNm}}@{{ else}}广东东华报关服务有限公司@{{end}}"
                           name="CorrEntryDclEtpsNm" id="CorrEntryDclEtpsNm" class="non-empty  @{{if inArrayStr "CorrEntryDclEtpsNm" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">关联报关单编号</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltEntryNo}}" name="RltEntryNo" id="RltEntryNo"
                           class="non-empty disabled  @{{if inArrayStr "RltEntryNo" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off" disabled>
                </div>
            </td>
            <td class="td-scale-04 text-align-right">关联清单编号</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltInvtNo}}" name="RltInvtNo" id="RltInvtNo" class="non-empty  @{{if inArrayStr "RltInvtNo" .m.RecheckErrorInputIds }}is_check_fail@{{end}}"
                           autocomplete="off">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">关联手(账)册备案号</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltPutrecNo}}" name="RltPutrecNo" id="RltPutrecNo"
                           class="non-empty  @{{if inArrayStr "RltPutrecNo" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">关联报关单境内收发货人编码</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltEntryBizopEtpsno}}" name="RltEntryBizopEtpsno"
                           id="RltEntryBizopEtpsno" class="non-empty  @{{if inArrayStr "RltEntryBizopEtpsno" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">关联报关单境内收发货人社会信用代码</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltEntryBizopEtpsSccd}}" name="RltEntryBizopEtpsSccd"
                           id="RltEntryBizopEtpsSccd" class="non-empty  @{{if inArrayStr "RltEntryBizopEtpsSccd" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">关联报关单境内收发货人名称</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltEntryBizopEtpsNm}}" name="RltEntryBizopEtpsNm"
                           id="RltEntryBizopEtpsNm" class="non-empty  @{{if inArrayStr "RltEntryBizopEtpsNm" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">关联报关单生产销售(消费使用)单位编码</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltEntryRcvgdEtpsno}}" name="RltEntryRcvgdEtpsno"
                           id="RltEntryRcvgdEtpsno" class="non-empty  @{{if inArrayStr "RltEntryRcvgdEtpsno" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">关联报关单生产销售(消费使用)社会信用代码</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltEntryRvsngdEtpsSccd}}" name="RltEntryRvsngdEtpsSccd"
                           id="RltEntryRvsngdEtpsSccd" class="non-empty  @{{if inArrayStr "RltEntryRvsngdEtpsSccd" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">关联报关单生产销售(消费使用)单位名称</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltEntryRcvgdEtpsNm}}" name="RltEntryRcvgdEtpsNm"
                           id="RltEntryRcvgdEtpsNm" class="non-empty  @{{if inArrayStr "RltEntryRcvgdEtpsNm" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">关联报关单申报单位编码</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltEntryDclEtpsno}}" name="RltEntryDclEtpsno"
                           id="RltEntryDclEtpsno" class="non-empty  @{{if inArrayStr "RltEntryDclEtpsno" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">关联报关单申报单位社会信用代码</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltEntryDclEtpsSccd}}" name="RltEntryDclEtpsSccd"
                           id="RltEntryDclEtpsSccd" class="non-empty  @{{if inArrayStr "RltEntryDclEtpsSccd" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
            <td class="td-scale-04 text-align-right">关联报关单申报单位名称</td>
            <td class="td-scale-04" colspan="2">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.RltEntryDclEtpsNm}}" name="RltEntryDclEtpsNm"
                           id="RltEntryDclEtpsNm" class="non-empty  @{{if inArrayStr "RltEntryDclEtpsNm" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">报关单申报日期</td>
            <td class="td-scale-04">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.EntryDclTime}}" id="EntryDclTime" class="non-empty disabled  @{{if inArrayStr "EntryDclTime" .m.RecheckErrorInputIds }}is_check_fail@{{end}}"
                           autocomplete="off" disabled>
                </div>
            </td>
            <td class="td-scale-04 text-align-right">备注</td>
            <td class="td-scale-04" colspan="5">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.Rmk}}" name="Rmk" id="Rmk" class="non-empty  @{{if inArrayStr "Rmk" .m.RecheckErrorInputIds }}is_check_fail@{{end}}" autocomplete="off">
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-scale-04 text-align-right">报关单草稿(备注)</td>
            <td class="td-scale-04" colspan="7">
                <div class="input-group valid">
                    <input type="text" value="@{{.m.DecRmk}}" name="DecRmk" id="DecRmk" class="non-empty disabled  @{{if inArrayStr "DecRmk" .m.RecheckErrorInputIds }}is_check_fail@{{end}}"
                           autocomplete="off" disabled>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" id="annotation_save" lay-submit lay-filter="annotation_save" style="display: none;"></button>
    <button type="button" id="annotation_save_pass" lay-submit lay-filter="annotation_save_pass" style="display: none;"></button>
    <button type="button" id="annotation_application_review" lay-submit lay-filter="annotation_application_review" style="display: none;"></button>
    <button type="button" id="annotation_application_rereview" lay-submit lay-filter="annotation_application_rereview" style="display: none;"></button>
    <button type="button" id="annotation_save_reload" lay-submit lay-filter="annotation_save_reload"
            style="display: none;"></button>
</form>
<div style="text-align: center;margin-top: 35px">
    @{{if .canStore }}
<button class="layui-btn custom-create_btn" id="order_save" type="button">
    <i class="iconfont iconsave"></i>保存表头
</button>
@{{end}}
</div>

