<form class="layui-form layui-form-relative" id="order_i_form" onkeydown="if(event.keyCode==13){return false}">
    <table class="layui-table order_table_form">
        <tbody>
            <tr>
                <td class="td-scale-01 text-align-right">预录入统一编号</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" class="non-empty disabled" value="@{{.m.SeqNo}}" id="seq_no" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">清单编号</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" class="non-empty disabled" value="@{{.m.BondInvtNo}}" disabled id="bond_invt_no" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">清单类型</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="hidden" name="InvtType" id="invt_type" value="@{{ if .m.InvtType}}@{{.m.InvtType}}@{{ else}}0@{{end}}">
                        <input type="text" class="non-empty required" value="@{{ if .m.InvtTypeName}}@{{.m.InvtTypeName}}@{{ else}}普通清单@{{end}}" name="InvtTypeName" id="invt_type_name" autocomplete="off" lay-verify="required" lay-vertype="tips">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">手(账)册编号</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="hidden" name="HandBookId" id="hand_book_id" value="@{{.m.HandBookId}}">
                        <input type="text" class="non-empty required" value="@{{.m.PutrecNo}}" name="PutrecNo" id="putrec_no" lay-verify="required" lay-vertype="tips"  >
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-01 text-align-right">经营单位编码</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" class="non-empty required" value="@{{.m.BizopEtpsno}}" name="BizopEtpsno" id="bizop_etpsno" autocomplete="off" lay-verify="required"  lay-vertype="tips" onblur="layui.admin.bizop_etpsno_change(this)">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">经营单位社会信用代码</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty" disabled value="@{{.m.BizopEtpsSccd}}" name="BizopEtpsSccd" id="bizop_etps_sccd" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">经营单位名称</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty required" disabled value="@{{.m.BizopEtpsNm}}" name="BizopEtpsNm" id="bizop_etps_nm" autocomplete="off" lay-verify="required" lay-vertype="tips">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-01 text-align-right">加工单位编码</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" class="non-empty required" value="@{{.m.RcvgdEtpsno}}"  name="RcvgdEtpsno" id="rcvgd_etpsno" autocomplete="off" lay-verify="required" lay-vertype="tips" onblur="layui.admin.rcvgd_etpsno_change(this)">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">加工单位社会信用代码</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty" disabled value="@{{.m.RvsngdEtpsSccd}}"  name="RvsngdEtpsSccd" id="rvsngd_etps_sccd" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">加工单位名称</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty required" disabled value="@{{.m.RcvgdEtpsNm}}" name="RcvgdEtpsNm" id="rcvgd_etps_nm" autocomplete="off" lay-verify="required" lay-vertype="tips">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-01 text-align-right">申报单位编码</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" class="non-empty required"  name="DclEtpsno" id="dcl_etpsno" autocomplete="off" lay-verify="required" lay-vertype="tips" value="@{{ if .m.DclEtpsno}}@{{.m.DclEtpsno}}@{{ else}}4419986507@{{end}}">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">申报单位社会信用代码</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty"  name="DclEtpsSccd" value="@{{ if .m.DclEtpsSccd}}@{{.m.DclEtpsSccd}}@{{ else}}14419007962277606@{{end}}" id="dcl_etps_sccd" autocomplete="off" >
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">申报单位名称</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty required"  name="DclEtpsNm" id="dcl_etps_nm" autocomplete="off" lay-verify="required" lay-vertype="tips" value="@{{ if .m.DclEtpsNm}}@{{.m.DclEtpsNm}}@{{ else}}广东东华报关服务有限公司@{{end}}" >
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-01 text-align-right">录入单位编码</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" class="non-empty disabled" disabled  name="InputCode" id="input_code" autocomplete="off" value="@{{ if .m.InputCode}}@{{.m.InputCode}}@{{ else}}4419986507@{{end}}" >
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">录入单位社会信用代码</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty" name="InputCreditCode" id="input_credit_code" autocomplete="off" value="@{{ if .m.InputCreditCode}}@{{.m.InputCreditCode}}@{{ else}}914419007962277606@{{end}}">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">录入单位名称</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty required" name="InputName" id="input_name" autocomplete="off" lay-verify="required" lay-vertype="tips" value="@{{ if .m.InputName}}@{{.m.InputName}}@{{ else}}广东东华报关服务有限公司@{{end}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-01 text-align-right">企业内部编号</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty disabled" disabled value="@{{.m.EtpsInnerInvtNo}}" name="EtpsInnerInvtNo" id="etps_inner_invt_no" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">录入日期</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty required" value="@{{.m.InputTime}}" name="InputTime" id="input_time" autocomplete="off" lay-verify="required" lay-vertype="tips" oninput="layui.admin.is_onlynumber(this)">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">清单申报日期</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" class="non-empty required"  value="@{{.m.InvtDclTime}}" name="InvtDclTime" id="invt_dcl_time" autocomplete="off" lay-verify="required" lay-vertype="tips" oninput="layui.admin.is_onlynumber(this)">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-01 text-align-right">料件、成品标志</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="hidden"  value="@{{ if .m.MtpckEndprdMarkcd}}@{{.m.MtpckEndprdMarkcd}}@{{ else}}I@{{end}}" name="MtpckEndprdMarkcd" id="mtpck_endprd_markcd">
                        <input type="text" class="non-empty required" value="@{{ if .m.MtpckEndprdMarkcdName}}@{{.m.MtpckEndprdMarkcdName}}@{{ else}}料件@{{end}}" name="MtpckEndprdMarkcdName" id="mtpck_endprd_markcd_name" autocomplete="off" lay-verify="required" lay-vertype="tips">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">监管方式</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="hidden" value="@{{.m.SupvModecd}}" name="SupvModecd" id="supv_modecd">
                        <input type="text" class="non-empty required" value="@{{.m.SupvModecdName}}" name="SupvModecdName" id="supv_modecd_name" autocomplete="off" lay-verify="required" lay-vertype="tips">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">运输方式</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="hidden" value="@{{.m.TrspModecd}}" name="TrspModecd" id="trsp_modecd">
                        <input type="text" class="non-empty required" value="@{{.m.TrspModecdName}}" name="TrspModecdName" id="trsp_modecd_name" autocomplete="off" lay-verify="required" lay-vertype="tips">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-01 text-align-right">出境关别</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="hidden" value="@{{.m.ImpexpPortcd}}" name="ImpexpPortcd" id="impexp_portcd">
                        <input type="text" class="non-empty required" value="@{{.m.ImpexpPortcdName}}" name="ImpexpPortcdName" id="impexp_portcd_name" autocomplete="off" lay-verify="required" lay-vertype="tips">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">主管海关</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="hidden" value="@{{.m.DclPlcCuscd}}" name="DclPlcCuscd" id="dcl_plc_cuscd">
                        <input type="text" class="non-empty required" value="@{{.m.DclPlcCuscdName}}" name="DclPlcCuscdName" id="dcl_plc_cuscd_name" autocomplete="off" lay-verify="required" lay-vertype="tips">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">核扣标志</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" class="non-empty disabled" value="@{{.m.VrfdedMarkcd}}" id="vrfded_markcd" autocomplete="off" disabled>
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">启运国(地区)</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="hidden" value="@{{.m.StshipTrsarvNatcd}}" name="StshipTrsarvNatcd" id="stship_trsarv_natcd">
                        <input type="text" class="non-empty required" value="@{{.m.StshipTrsarvNatcdName}}" name="StshipTrsarvNatcdName" id="stship_trsarv_natcd_name" autocomplete="off" lay-verify="required" lay-vertype="tips">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-01 text-align-right">清单进出卡口状态</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" class="non-empty disabled" value="@{{.m.InvtIochkptStucd}}"  id="invt_iochkpt_stucd" autocomplete="off" disabled>
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">申报表编号</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" class="non-empty" value="@{{.m.ApplyNo}}" name="ApplyNo" id="apply_no" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">流转类型</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="hidden" value="@{{.m.ListType}}" name="ListType" id="list_type">
                        <input type="text" class="non-empty" value="@{{.m.ListTypeName}}" name="ListTypeName" id="list_type_name" autocomplete="off">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-01 text-align-right">报关标志</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="hidden"  value="@{{ if .m.DclcusFlag}}@{{.m.DclcusFlag}}@{{ else}}1@{{end}}" name="DclcusFlag" id="dclcus_flag">
                        <input type="text" class="non-empty required"  value="@{{ if .m.DclcusFlagName}}@{{.m.DclcusFlagName}}@{{ else}}报关@{{end}}" name="DclcusFlagName" id="dclcus_flag_name" autocomplete="off" lay-verify="required" lay-vertype="tips">
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">是否系统生成报关单</td>
                <td class="td-scale-04">
                    <input type="hidden" value="@{{ if .m.GenDecFlag}}@{{.m.GenDecFlag}}@{{ else}}1@{{end}}" name="GenDecFlag" id="gen_dec_flag">
                    <input type="text" value="@{{ if .m.GenDecFlagName}}@{{.m.GenDecFlagName}}@{{ else}}生成@{{end}}" name="GenDecFlagName" id="gen_dec_flag_name" class="non-empty required">
                </td>

                <td class="td-scale-01 text-align-right">报关类型</td>
                <td class="td-scale-04">
                    <input type="hidden" value="@{{.m.DclcusTypecd}}" name="DclcusTypecd" id="dclcus_typecd">
                    <input type="text"  value="@{{.m.DclcusTypecdName}}"  name="DclcusTypecdName" id="dclcus_typecd_name" class="non-empty">
                </td>
                <td class="td-scale-01 text-align-right">报关单类型</td>
                <td class="td-scale-04" colspan="2">
                    <input type="hidden" value="@{{ if .m.DecType}}@{{.m.DecType}}@{{ else}}1@{{end}}" name="DecType" id="dec_type">
                    <input type="text" value="@{{ if .m.DecTypeName}}@{{.m.DecTypeName}}@{{ else}}进口报关单@{{end}}" name="DecTypeName" id="dec_type_name" class="non-empty">
                </td>
            </tr>
            <tr>
                <td class="td-scale-01 text-align-right">对应报关单编号</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.EntryNo}}" class="non-empty disabled" id="entry_no" autocomplete="off" disabled>
                    </div>
                </td>
                <td class="td-scale-01 text-align-right">对应报关单申报单位编码</td>
                <td class="td-scale-04" colspan="2">
                    <input type="text" value="@{{ if .m.CorrEntryDclEtpsNo}}@{{.m.CorrEntryDclEtpsNo}}@{{ else}}4419986507@{{end}}" name="CorrEntryDclEtpsNo" id="corr_entry_dcl_etps_no" class="non-empty">
                </td>
                <td class="td-scale-01 text-align-right">对应报关单申报单位社会信用代码</td>
                <td class="td-scale-04" colspan="2">
                    <input type="text" value="@{{ if .m.CorrEntryDclEtpsSccd}}@{{.m.CorrEntryDclEtpsSccd}}@{{ else}}914419007962277606@{{end}}" name="CorrEntryDclEtpsSccd" id="corr_entry_dcl_etps_sccd" class="non-empty">
                </td>
            </tr>
            <tr>
                <td class="td-scale-04 text-align-right">对应报关单申报单位名称</td>
                <td class="td-scale-04" colspan="7">
                    <div class="input-group valid">
                        <input type="text" value="@{{ if .m.CorrEntryDclEtpsNm}}@{{.m.CorrEntryDclEtpsNm}}@{{ else}}广东东华报关服务有限公司@{{end}}" name="CorrEntryDclEtpsNm" id="corr_entry_dcl_etps_nm" class="non-empty" autocomplete="off">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-04 text-align-right">关联报关单编号</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltEntryNo}}" name="RltEntryNo" id="rlt_entry_no" class="non-empty disabled" autocomplete="off" disabled>
                    </div>
                </td>
                <td class="td-scale-04 text-align-right">关联清单编号</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltInvtNo}}" name="RltInvtNo" id="rlt_invt_no" class="non-empty" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-04 text-align-right">关联手(账)册备案号</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltPutrecNo}}" name="RltPutrecNo" id="rlt_putrec_no" class="non-empty" autocomplete="off">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-04 text-align-right">关联报关单境内收发货人编码</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltEntryBizopEtpsno}}" name="RltEntryBizopEtpsno" id="rlt_entry_bizop_etpsno" class="non-empty" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-04 text-align-right">关联报关单境内收发货人社会信用代码</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltEntryBizopEtpsSccd}}" name="RltEntryBizopEtpsSccd" id="rlt_entry_bizop_etps_sccd" class="non-empty" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-04 text-align-right">关联报关单境内收发货人名称</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltEntryBizopEtpsNm}}"  name="RltEntryBizopEtpsNm" id="rlt_entry_bizop_etps_nm" class="non-empty" autocomplete="off">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-04 text-align-right">关联报关单生产销售(消费使用)单位编码</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltEntryRcvgdEtpsno}}" name="RltEntryRcvgdEtpsno" id="rlt_entry_rcvgd_etpsno" class="non-empty" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-04 text-align-right">关联报关单生产销售(消费使用)社会信用代码</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltEntryRvsngdEtpsSccd}}" name="RltEntryRvsngdEtpsSccd" id="rlt_entry_rvsngd_etps_sccd" class="non-empty" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-04 text-align-right">关联报关单生产销售(消费使用)单位名称</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltEntryRcvgdEtpsNm}}" name="RltEntryRcvgdEtpsNm" id="rlt_entry_rcvgd_etps_nm" class="non-empty" autocomplete="off">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-04 text-align-right">关联报关单申报单位编码</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltEntryDclEtpsno}}" name="RltEntryDclEtpsno" id="rlt_entry_dcl_etpsno" class="non-empty" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-04 text-align-right">关联报关单申报单位社会信用代码</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltEntryDclEtpsSccd}}" name="RltEntryDclEtpsSccd" id="rlt_entry_dcl_etps_sccd" class="non-empty" autocomplete="off">
                    </div>
                </td>
                <td class="td-scale-04 text-align-right">关联报关单申报单位名称</td>
                <td class="td-scale-04" colspan="2">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.RltEntryDclEtpsNm}}" name="RltEntryDclEtpsNm" id="rlt_entry_dcl_etps_nm" class="non-empty" autocomplete="off">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-04 text-align-right">报关单申报日期</td>
                <td class="td-scale-04">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.EntryDclTime}}" id="entry_dcl_time" class="non-empty disabled" autocomplete="off" disabled>
                    </div>
                </td>
                <td class="td-scale-04 text-align-right">备注</td>
                <td class="td-scale-04" colspan="5">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.Rmk}}" name="Rmk" id="rmk" class="non-empty" autocomplete="off">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-scale-04 text-align-right">报关单草稿(备注)</td>
                <td class="td-scale-04" colspan="7">
                    <div class="input-group valid">
                        <input type="text" value="@{{.m.DecRmk}}" name="DecRmk" id="dec_rmk" class="non-empty disabled" autocomplete="off" disabled>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" id="annotation_save" lay-submit lay-filter="annotation_save" style="display: none;"></button>
    <button type="button" id="annotation_save_pass" lay-submit lay-filter="annotation_save_pass" style="display: none;"></button>
    <button type="button" id="annotation_application_review" lay-submit lay-filter="annotation_application_review" style="display: none;"></button>
    <button type="button" id="annotation_save_reload" lay-submit lay-filter="annotation_save_reload" style="display: none;"></button>
</form>
