<script type="text/html" id="remark_note_template">
    <div class="custom-order_import-distribute">
        <form class="layui-form">
            <div class="layui-form-item">
                    <textarea name="ExtraRemark" id="remark_note" placeholder="请输入" class="layui-textarea"
                              maxlength="300"></textarea>
                <p class="custom-order_import-distribute-number" id="remark_note_number"><span>0</span>/300</p>
            </div>
            <div class="layui-form-item distribute_submit">
                <button class="layui-btn custom-create_btn" lay-submit lay-filter="remark_note_submit"
                        id="remark_note_submit" type="button">
                    提交
                </button>
            </div>
        </form>
    </div>
</script>