<div class="custom-company-contacts_show">
    <form class="layui-form">
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-md10">
                <label class="layui-form-label"><i class="red margin-right-4">*</i>姓名：</label>
                <div class="layui-input-block">
                    <input type="text" name="Name" value="@{{ .m.Name }}" lay-verify="required" lay-verType="tips"
                           placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-md10">
                <label class="layui-form-label"><i class="red margin-right-4">*</i>手机号：</label>
                <div class="layui-input-block">
                    <input type="text" name="Phone" value="@{{ .m.Phone }}" lay-verify="phone" lay-verType="tips"
                           placeholder="请输入"
                           autocomplete="off" class="layui-input" maxlength="11">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-md10">
                <label class="layui-form-label"><i class="red margin-right-4">*</i>邮箱地址：</label>
                <div class="layui-input-block">
                    <input type="text" name="Email" value="@{{ .m.Email }}" lay-verify="email" lay-verType="tips"  placeholder="请输入"
                    autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-md10">
                <label class="layui-form-label"><i class="red margin-right-4">*</i>职位：</label>
                <div class="layui-input-block">
                    <select name="Offer" lay-filter="offer">
                        <option value="">请选择</option>
                        @{{if eq .m.Offer "法定代表人" }}
                        <option selected value="法定代表人">法定代表人</option>
                        <option value="报关员">报关员</option>
                        <option value="财务">财务</option>
                        <option value="其他">其他</option>
                        @{{ else if eq .m.Offer "报关员"}}
                        <option value="法定代表人">法定代表人</option>
                        <option selected value="报关员">报关员</option>
                        <option value="财务">财务</option>
                        <option value="其他">其他</option>
                        @{{ else if eq .m.Offer "财务"}}
                        <option value="法定代表人">法定代表人</option>
                        <option value="报关员">报关员</option>
                        <option selected value="财务">财务</option>
                        <option value="其他">其他</option>
                        @{{else if eq .m.Offer "其他"}}
                        <option value="法定代表人">法定代表人</option>
                        <option value="报关员">报关员</option>
                        <option value="财务">财务</option>
                        <option selected value="其他">其他</option>
                        @{{else }}
                        <option value="法定代表人">法定代表人</option>
                        <option value="报关员">报关员</option>
                        <option value="财务">财务</option>
                        <option value="其他">其他</option>
                        @{{end}}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-md10">
                <label class="layui-form-label">IC卡号：</label>
                <div class="layui-input-block">
                    <input type="text" name="ICCode" value="@{{ .m.ICCode}}" placeholder="请输入" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-md5">
                <label class="layui-form-label"><i class="red margin-right-4">*</i>状态：</label>
                <div class="layui-input-block">
                    <select name="Frozen" lay-filter="offer">
                        @{{if eq .m.Frozen  "1" }}
                        <option selected value="1">启用</option>
                        <option value="2">禁用</option>
                        @{{else if eq .m.Frozen  "2" }}
                        <option value="1">启用</option>
                        <option selected value="2">禁用</option>
                        @{{else}}
                        <option value="1">启用</option>
                        <option value="2">禁用</option>
                        @{{end }}
                    </select>
                </div>
            </div>
            <div class="layui-col-md4">
                <label class="layui-form-label"></label>
                <div class="layui-input-block" id="is_admin">
                    <input type="checkbox" name="IsAdmin" @{{if eq .m.IsAdmin  "1" }} checked @{{ end}} title="设置为企业管理员" lay-skin="primary" value="1">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-md10">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block">
                    <input type="text" name="Remark" value="@{{ .m.Remark}}" placeholder="请输入" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn custom-create_btn" lay-submit lay-filter="contacts_submit"
                        id="contacts_submit" type="button">
                    提交
                </button>
            </div>
        </div>
    </form>
</div>