<div class="custom-company-contacts_show">
    <form class="layui-form">
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-md10">
                <label class="layui-form-label"><i class="red margin-right-4">*</i>公章类型：</label>
                <div class="layui-input-block">
                    @{{if compare .m.SealName "公章" }}
                    <input type="radio" name="SealName" checked value="公章" title="公章">
                    <input type="radio" name="SealName" value="合同章" title="合同章">
                    @{{ else if compare .m.SealName "合同章" }}
                    <input type="radio" name="SealName"  value="公章" title="公章">
                    <input type="radio" name="SealName" checked value="合同章" title="合同章">
                    @{{ else}}
                    <input type="radio" name="SealName" checked value="公章" title="公章">
                    <input type="radio" name="SealName"  value="合同章" title="合同章">
                    @{{ end}}
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-md11">
                <label class="layui-form-label"><i class="red margin-right-4">*</i>印章图片：</label>
                <div class="layui-input-block">
                    <div class="layui-upload-drag" id="seal_file">
                        <img id="seal-file-img" src="@{{ .m.Url}}">
                        <p class="custom-company-foreign_upload">点击上传，或将文件拖拽到此处</p>
                    </div>
                    <div class="custom-company-foreign_upload_acc">
                        <span>只能上传jpg/png文件，且不超过500kb</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn custom-create_btn" lay-submit lay-filter="seal_submit"
                        id="seal_submit" type="button">
                    保存
                </button>
            </div>
        </div>
    </form>
</div>

