<script type="text/html" id="order_reject_template">
    <div class="custom-order_import-distribute">
        <form class="layui-form">
            <div class="layui-form-item">
                <select name="content" lay-filter="content" lay-search>
                    <option value="">请选择驳回理由</option>
                    <option value="单证数据填制错误">单证数据填制错误</option>
                    <option value="其它">其它</option>
                </select>
            </div>
            <div class="layui-form-item">
                    <textarea name="remark" id="order_reject_remark" placeholder="备注" class="layui-textarea"
                              maxlength="300"></textarea>
                <p class="custom-order_import-distribute-number" id="remark_reject_number"><span>0</span>/300</p>
            </div>
            <div class="layui-form-item distribute_submit">
                <button class="layui-btn custom-create_btn" lay-submit lay-filter="order_reject_submit"
                        id="order_reject_submit" type="button">
                    提交
                </button>
            </div>
        </form>
    </div>
</script>