<script type="text/html" id="status_flex_list_template">
    <div class="status_flex_list_item active" data-status="全部订单" data-sum="1">
        全部订单
    </div>

    <div class="status_flex_list_item" data-status="审核通过" data-sum="0">审核通过<span>({{ d["审核通过"] }})</span></div>
    <div class="status_flex_list_item" data-status="待制单" data-sum="0">待制单<span>({{ d["待制单"] }})</span></div>
    <div class="status_flex_list_item" data-status="待复核" data-sum="0">待复核<span>({{ d["待复核"] }})</span></div>
    <div class="status_flex_list_item" data-status="单一处理中" data-sum="0">单一处理中<span>({{ d["单一处理中"] }})</span></div>
    <div class="status_flex_list_item" data-status="已完成" data-sum="0">已完成<span>({{ d["已完成"] }})</span></div>

</script>