<script type="text/html" id="order_take_template">
    <div class="manual_no_list">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">订单跟进记录</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item order_take_item layui-show">
                    <p class="order_take_tips">本记录为系统自动生成，将记录订单处理中发生的过程</p>
                    <ul class="layui-timeline">
                        {{# layui.each(d, function(index, item){ }}
                        <li class="layui-timeline-item">
                            {{# if(index == 0){ }}
                            <i class="layui-icon layui-timeline-axis"></i>
                            {{# }else{ }}
                            <i class="layui-icon layui-timeline-axis_i"></i>
                            {{# } }}
                            <div class="layui-timeline-content layui-text_rate">
                                <h4 class="layui-timeline-title">{{ item.Content }}（处理人：{{ item.BackendUserName }}， 手机号：{{ item.BackendUserMobile }}
                                    ）</h4>
                                <p class="record">
                                    <span class="order_take_time">{{ item.CreatedAt }}</span>
                                </p>
                            </div>
                        </li>
                        {{# }) }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="order_take_list"></script>