<div class="custom-order_form">
    <div class="custom-order_form_annotation">
        <div class="custom-order_form_top">
            <button class="layui-btn custom-create_btn" id="order_save" type="button">
                <i class="iconfont icon-save"></i>保存
            </button>
            @{{if .m.StatusString }}
                @{{if eq  .m.StatusString  "待审核" }}
                <button class="layui-btn custom-create_btn" id="order_save_pass" type="button">
                    <i class="iconfont icon-checkcircle"></i>审核通过
                </button>
                @{{ end }}
                @{{if eq .m.StatusString  "审核通过" }}
                <button class="layui-btn custom-create_btn" id="order_dispatch" type="button">
                    <i class="iconfont icon-folder-shared"></i>派单
                </button>
                @{{ else if eq .m.StatusString  "待制单" }}
                <button class="layui-btn custom-create_btn" id="order_dispatch" type="button">
                    <i class="iconfont icon-folder-shared"></i>重新派单
                </button>
                @{{ end }}
            @{{ end }}

            @{{if  .m.Id }}
            <button class="layui-btn layui-btn-primary custom-create_btn_primary" id="order_print" type="button">
                <i class="iconfont icon-print"></i>打印
            </button>
            <button class="layui-btn layui-btn-primary custom-create_btn_primary" id="order_note" type="button">
                <i class="iconfont icon-tab"></i>附注
                <span class="layui-badge-dot" id="order_note_dot" style="display: none;"></span>
            </button>
            <button class="layui-btn layui-btn-primary custom-create_btn_primary" id="order_take" type="button">
                <i class="iconfont icon-assignment1"></i>办理记录
            </button>
            @{{ end }}

            @{{if .m.StatusString }}
                @{{if eq .m.StatusString  "已完成"  }}
                    @{{if .m.annotation_change_logs }}
                    <div class="order_edit_bill_string">
                        <p class="order_edit_bill_string_p">
                            <i class="iconfont icon-edit"></i>
                            <span>@{{ .m.annotation_change_logs }}</span>
                        </p>
                    </div>
                    @{{end }}
                @{{ end }}
            @{{ end }}
        </div>

        <div id="order_edit_bill"></div>
        <div class="layui-tab" lay-filter="annotation_header_item">
            <ul class="layui-tab-title template_list">
                <li class="layui-this">表头</li>
                <li id="annotation_item_tab">表体</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    @{{template "/annotation/create/gauge.html" .}}
                </div>
                <div class="layui-tab-item">
                    @{{template "/annotation/create/body.html" .}}
                </div>
            </div>
        </div>
    </div>
</div>

@{{template "/common/order_annotation/distribute.html" .}}
@{{template "/annotation/create/remark_note.html" .}}
@{{template "/common/order_annotation/take.html" .}}
@{{template "/annotation/create/annotation_search.html" .}}