<div class="custom-order_form">
    <div class="custom-order_form_content">
        <div class="custom-order_form_top">
            <button class="layui-btn custom-create_btn" id="order_review_pass" type="button">
                <i class="iconfont icon-checkcircle"></i>通过
            </button>
            <button class="layui-btn custom-create_btn" id="order_reject" type="button">
                <i class="iconfont icon-replyall"></i>驳回
            </button>
            <button class="layui-btn layui-btn-primary custom-create_btn_primary" data-id="{{ item.Id }}"
                    onclick="layui.admin.annotation_jilu_click(this)"
                    type="button">
                <i class="iconfont icon-assignment1"></i>办理记录
            </button>
            <button class="layui-btn layui-btn-primary custom-create_btn_primary" id="order_print"
                    type="button">
                <i class="iconfont icon-print"></i>打印
            </button>
            <button class="layui-btn layui-btn-primary custom-create_btn_primary" id="order_note"
                    type="button">
                <i class="iconfont icon-tab"></i>附注
                <span class="layui-badge-dot" id="order_note_dot" style="display: none;"></span>
            </button>
        </div>
        @{{template "/annotation/recheck/declaration.html" .}}
    </div>
</div>

@{{template "/annotation/create/remark_note.html" .}}
@{{template "/common/order_annotation/take.html" .}}
@{{template "/common/order_annotation/reject.html" .}}
