<div class="pdf">
    <div class="height_10"></div>
    <table cellspacing="0" cellpadding="0" class="pdf-table">
        <tbody>
        <tr class="pdf-table-tr-22">
            <td colspan="2" class="table_td_one_top">
                <p class="table_td_p">
                    <span class="span_bold">境内发货人 </span>
                    <span data-id="TradeCoScc" >(@{{ .m.TradeCoScc  }})</span>
                </p>
                <p class="table_td_p"><span data-id="TradeName">@{{ .m.TradeName  }}</span></p>
            </td>
            <td colspan="3" class="table_td_two_top">
                <p class="table_td_p">
                    <span class="span_bold">出境关别</span>
                    <span data-id="IEPort">(@{{ .m.IEPort  }})</span>
                </p>
                <p class="table_td_p" data-id="IEPortName"><span>@{{ .m.IEPortName  }}</span></p>
            </td>
            <td colspan="4" class="table_td_two_top">
                <p class="table_td_p">
                    <span class="span_bold">出口日期</span>
                </p>
                <p class="table_td_p"><span data-id="IEDate">@{{ .m.IEDate  }}</span></p>
            </td>
            <td colspan="4" class="table_td_two_top">
                <p class="table_td_p">
                    <span class="span_bold">申报日期</span>
                </p>
                <p class="table_td_p"><span data-id="AplDate">@{{ .m.AplDate  }}</span></p>
            </td>
            <td colspan="3" class="table_td_three_top">
                <p class="table_td_p">
                    <span class="span_bold">备案号</span>
                </p>
                <p class="table_td_p"><span data-id="ManualNo">@{{ .m.ManualNo  }}</span></p>
            </td>
        </tr>
        <tr class="pdf-table-tr-22">
            <td colspan="2" class="table_td_one_center">
                <p class="table_td_p">
                    <span class="span_bold">境外收货人</span>
                </p>
                <p class="table_td_p"><span
                            data-id="OverseasConsigneeEname">@{{ .m.OverseasConsigneeEname  }}</span></p>
            </td>
            <td colspan="3" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">运输方式</span>
                    <span data-id="TrafMode">(@{{ .m.TrafMode  }})</span>
                </p>
                <p class="table_td_p"><span data-id="TrafModeName">@{{ .m.TrafModeName  }}</span></p>
            </td>
            <td colspan="4" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">运输工具名称及航次号</span>
                </p>
                <p class="table_td_p"><span data-id="TrafName">@{{ .m.TrafName  }}</span>/<span
                            data-id="VoyNo"
                            class="create_span">@{{ .m.VoyNo  }}</span>
                </p>
            </td>
            <td colspan="7" class="table_td_three_center">
                <p class="table_td_p">
                    <span class="span_bold">提运单号</span>
                </p>
                <p class="table_td_p"><span data-id="BillNo">@{{ .m.BillNo  }}</span></p>
            </td>
        </tr>
        <tr class="pdf-table-tr-22">
            <td colspan="2" class="table_td_one_center">
                <p class="table_td_p">
                    <span class="span_bold">生产销售单位</span>
                    <span data-id="OwnerCodeScc">(@{{ .m.OwnerCodeScc  }})</span>
                </p>
                <p class="table_td_p"><span data-id="OwnerName">@{{ .m.OwnerName  }}</span></p>
            </td>
            <td colspan="3" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">监管方式</span>
                    <span data-id="TradeMode">(@{{ .m.TradeMode  }})</span>
                </p>
                <p class="table_td_p"><span data-id="TradeModeName">@{{ .m.TradeModeName  }}</span></p>
            </td>
            <td colspan="4" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">征免性质</span>
                    <span data-id="CutMode">(@{{ .m.CutMode  }})</span>
                </p>
                <p class="table_td_p"><span data-id="CutModeName">@{{ .m.CutModeName  }}</span></p>
            </td>
            <td colspan="7" class="table_td_three_center">
                <p class="table_td_p">
                    <span class="span_bold">许可证号</span>
                </p>
                <p class="table_td_p"><span data-id="LicenseNo">@{{ .m.LicenseNo }}</span></p>
            </td>
        </tr>
        <tr class="pdf-table-tr-22">
            <td colspan="2" class="table_td_one_center">
                <p class="table_td_p">
                    <span class="span_bold">合同协议号</span>
                </p>
                <p class="table_td_p"><span data-id="ContrNo">@{{ .m.ContrNo }}</span></p>
            </td>
            <td colspan="3" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">贸易国（地区）</span>
                    <span data-id="TradeAreaCode">(@{{ .m.TradeAreaCode }})</span>
                </p>
                <p class="table_td_p"><span data-id="TradeAreaName">@{{ .m.TradeAreaName }}</span></p>
            </td>
            <td colspan="4" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">运抵国（地区）</span>
                    <span data-id="TradeCountryName">(@{{ .m.TradeCountry }})</span>
                </p>
                <p class="table_td_p"><span data-id="TradeCountryName">@{{ .m.TradeCountryName }}</span></p>
            </td>
            <td colspan="4" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">指运港</span>
                    <span data-id="DistinatePort">(@{{ .m.DistinatePort }})</span>
                </p>
                <p class="table_td_p"><span data-id="DistinatePortName">@{{ .m.DistinatePortName }}</span></p>
            </td>
            <td colspan="3" class="table_td_three_center">
                <p class="table_td_p">
                    <span class="span_bold">离境口岸</span>
                    <span data-id="EntyPortCode">(@{{ .m.EntyPortCode }})</span>
                </p>
                <p class="table_td_p"><span data-id="EntyPortName">@{{ .m.EntyPortName }}</span></p>
            </td>
        </tr>
        <tr class="pdf-table-tr-22">
            <td colspan="2" class="table_td_one_center">
                <p class="table_td_p">
                    <span class="span_bold">包装种类</span>
                    <span data-id="WrapType">(@{{ .m.WrapType }})</span>
                </p>
                <p class="table_td_p"><span data-id="WrapTypeName">@{{ .m.WrapTypeName }}</span></p>
            </td>
            <td class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">件数</span>
                </p>
                <p class="table_td_p"><span data-id="PackNo">@{{ .m.PackNo }}</span></p>
            </td>
            <td colspan="2" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">毛重(千克)</span>
                </p>
                <p class="table_td_p"><span data-id="GrossWet">@{{ .m.GrossWet }}</span></p>
            </td>
            <td colspan="2" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">净重(千克)</span>
                </p>
                <p class="table_td_p"><span data-id="NetWt">@{{ .m.NetWt }}</span></p>
            </td>
            <td colspan="2" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">成交方式</span>
                    <span data-id="TransMode">(@{{ .m.TransMode }})</span>
                </p>
                <p class="table_td_p"><span data-id="TransModeName">@{{ .m.TransModeName }}</span></p>
            </td>
            <td colspan="3" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">运费</span>
                </p>
                <p class="table_td_p">
                    @{{ if .m.FeeMarkName  }}
                <span class="create_span" data-id="FeeMarkName">@{{ .m.FeeMarkName  }}</span>/ <span
                        class="create_span" data-id="FeeCurrName"> @{{ .m.FeeCurrName  }}</span>/ <span
                        class="create_span" data-id="FeeRate"> @{{ .m.FeeRate  }}</span>
                @{{end}}
                </p>
            </td>
            <td colspan="2" class="table_td_two_center">
                <p class="table_td_p">
                    <span class="span_bold">保费</span>
                </p>
                <p class="table_td_p">
                    @{{if .m.InsurMarkName }}
                <span class="create_span" data-id="InsurMarkName">@{{ .m.InsurMarkName  }}</span>/<span
                        class="create_span" data-id="InsurCurrName"> @{{ .m.InsurCurrName  }}</span>/ <span
                        class="create_span" data-id="InsurRate"> @{{ .m.InsurRate  }}</span>
                @{{end}}
                </p>
            </td>
            <td colspan="2" class="table_td_three_center">
                <p class="table_td_p">
                    <span class="span_bold">杂费</span>
                </p>
                <p class="table_td_p">
                    @{{if .m.OtherMarkName }}
                <span class="create_span">@{{ .m.OtherMarkName  }}</span>/ <span
                        class="create_span">@{{ .m.OtherCurrName  }}</span>/ <span
                        class="create_span">@{{ .m.OtherRate  }}</span>
                @{{end}}
                </p>
            </td>
        </tr>
        <tr class="pdf-table-tr-22">
            <td colspan="16" class="table_td_all">
                <p class="table_td_p">
                    <span class="span_bold">随附单证及编号</span>
                </p>
                <p class="table_td_p">
                                    <span data-id="OrderDocumentsData">
                                        @{{.m.OrderDocumentsData }}
@{{/*                                    @{{ if !.m.OrderDocuments }}*/}}
@{{/*                                       随附单证0*/}}
@{{/*                                     @{{else}}*/}}
@{{/*                                        docName =  "随附单证" + .m.OrderDocuments.length + ":代理报关委托协议（电子）;";*/}}
@{{/*                                       layui.each(.m.OrderDocuments,function(i,v){*/}}
@{{/*                                               docName = docName + $value.DocuCodeName + ';' + $value.CertCode + ';'*/}}
@{{/*                                          })*/}}
@{{/*                                   @{{end }}*/}}
                                    </span>
                </p>
            </td>
        </tr>
        <tr class="pdf-table-tr-45">
            <td colspan="16">
                <p class="table_td_p">
                    <span class="span_bold">标记唛码及备注</span>
                </p>
                <div class="table_td_p">
                    <p>
                        备注:<span class="create_span" data-id="NoteS">@{{ .m.NoteS }}</span> <span
                                class="create_span" data-id="MarkNo">@{{ .m.MarkNo }}</span>
                        集装箱标箱数及号码：
                        <span class="create_span" data-id="OrderContatinersData">  @{{.m.OrderContatinersData }}</span>
                        @{{if .m.RelId }}
                    <span id="containers" data-id="RelId">关联报关单：@{{ .m.RelId }}</span>
                    @{{end}}
                        @{{if .m.RelManNo }}
                    <span id="containers" data-id="RelManNo">关联报备案：@{{ .m.RelManNo }}</span>
                    @{{end}}
                    </p>
                </div>
            </td>
        </tr>

        <tr class="pdf-table-tr-12">
            <td>
                <p class="table_td_p">
                    <span class="span_bold">项号</span>
                </p>
            </td>
            <td colspan="3">
                <p class="table_td_p">
                    <span class="span_bold">商品编号</span>
                    <span style="width:75.9pt; text-indent:0pt; display:inline-block; -aw-tabstop-align:left; -aw-tabstop-pos:116.7pt"></span>
                    <span class="span_bold">商品名称及规格型号</span>
                </p>
            </td>
            <td>
                <p class="table_td_p">
                    <span class="span_bold">数量及单位</span>
                </p>
            </td>
            <td colspan="2">
                <p class="table_td_p">
                    <span class="span_bold">单价/总价/币制</span>
                </p>
            </td>
            <td colspan="3">
                <p class="table_td_p">
                    <span class="span_bold">原产国(地区)</span>
                </p>
            </td>
            <td colspan="4">
                <p class="table_td_p">
                    <span class="span_bold">最终目的国(地区)</span>
                    <span style="width:47.15pt; text-indent:0pt; display:inline-block; -aw-tabstop-align:left; -aw-tabstop-pos:111.9pt"></span>
                    <span class="span_bold">境内货源地</span>
                </p>
            </td>
            <td>
                <p class="table_td_p">
                    <span class="span_bold">征免</span>
                </p>
            </td>
            <td>
                <p class="table_td_p">
                    <span class="span_bold">版本号</span>
                </p>
            </td>
        </tr>


        @{{ range $i,$v := .m.OrderItems }}
        <tr class="pdf-table-tr-30-one">
            <td class="width_22">
                <p class="table_list_p">
                            <span class="table_list_span_9" data-index=@{{ $v.GNo  }}
                                  data-id="GNo">@{{ $v.GNo }}</span>
                </p>
                <p class="table_list_p">
                            <span class="table_list_span_9" data-index=@{{ $v.GNo  }}
                                  data-id="ContrItem">(@{{ $v.ContrItem }})</span>
                </p>
            </td>
            <td colspan="3">
                <p class="goods_number">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="CodeTS">@{{ $v.CodeTS }} @{{ $v.GName }}</span>
                </p>
                <p class="goods_name">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="GModel">@{{ $v.GModel }}</span>
                </p>
            </td>
            <td>
                <p class="unit_number">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="GQty">@{{$v.GQty}}</span>
                    <span data-index=@{{ $v.GNo  }}
                                  data-id="GUnitName">@{{$v.GUnitName }}</span>
                </p>
                <p class="unit_number">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="FirstQty">@{{$v.FirstQty }}</span>
                    <span data-index=@{{ $v.GNo  }}
                                  data-id="FirstUnitName">@{{$v.FirstUnitName }}</span>
                </p>
                <p class="unit_number">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="SecondQty">@{{$v.SecondUnit }}</span>
                    <span data-index=@{{ $v.GNo  }}
                                  data-id="SecondUnitName">@{{$v.SecondUnitName }}</span>
                </p>
            </td>
            <td colspan="2">
                <p class="unit_price">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="DeclPrice">@{{$v.DeclPrice }}</span>
                </p>
                <p class="unit_price">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="DeclTotal">@{{$v.DeclTotal }}</span>
                </p>
                <p class="unit_price">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="TradeCurrName">@{{$v.TradeCurrName }}</span>
                </p>

            </td>
            <td colspan="3">
                <p class="unit_price">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="DestinationCountryName">@{{$v.DestinationCountryName }}</span>
                </p>
                <p class="unit_price">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="DestinationCountry">(@{{$v.DestinationCountry }})</span>
                </p>
            </td>
            <td colspan="4">
                <div class="destination">
                    <div class="destination_end">
                        <p class="unit_number">
                                    <span data-index=@{{ $v.GNo  }}
                                          data-id="OriginCountryName">@{{$v.OriginCountryName }}</span>
                        </p>
                        <p class="unit_number">
                                    <span data-index=@{{ $v.GNo  }}
                                          data-id="OriginCountry">(@{{$v.OriginCountry }})</span>
                        </p>
                    </div>
                    <div class="destination_domestic">
                        <p>(
                            <span data-index=@{{ $v.GNo  }}
                                          data-id="DistrictCode">@{{$v.DistrictCode }}</span>
                            /
                            <span data-index=@{{ $v.GNo  }}
                                          data-id="DestCode">@{{$v.DestCode }}</span>
                            )
                            <span data-index=@{{ $v.GNo  }}
                                          data-id="DistrictCodeName">@{{$v.DistrictCodeName }}</span>
                            /
                            <span data-index=@{{ $v.GNo  }}
                                          data-id="DestCodeName">@{{$v.DestCodeName }}</span>
                        </p>
                    </div>
                </div>
            </td>
            <td>
                <div class="exempted">
                    <p data-index=@{{ $v.GNo  }}
                       data-id="DutyModeName">@{{$v.DutyModeName }}</p>
                    <span data-index=@{{ $v.GNo  }}
                                  data-id="DutyMode">(@{{$v.DutyMode }})</span>
                </div>
            </td>

            <td>
                <p class="exempted">
                            <span data-index=@{{ $v.GNo  }}
                                  data-id="ExgVersion">@{{ $v.ExgVersion }}</span>
                </p>
            </td>
        </tr>
        @{{end}}

        <tr class="pdf-table-tr-21">
            <td colspan="16">
                <p class="confirm">
                    <span class="confirm_title">特殊关系确认：</span>
                    <span class="table_list_span_9" data-id="PromiseItmes0">
                                @{{.m.PromiseItmes0}}
                                        </span>
                    <span class="width_60"></span>
                    <span class="width_60"></span>
                    <span class="confirm_title">价格影响确认：</span>
                    <span class="table_list_span_9" data-id="PromiseItmes1">
                                           @{{.m.PromiseItmes1}}
                                        </span>
                    <span class="width_60"></span>
                    <span class="width_60"></span>
                    <span class="confirm_title">支付特许权使用费确认：</span>
                    <span class="table_list_span_9" data-id="PromiseItmes2">
                                                 @{{.m.PromiseItmes2}}
                                        </span>
                    <span class="width_60"></span>
                    <span class="width_60"></span>
                    <span class="confirm_title">自报自缴：</span>
                    <span class="table_list_span_9" data-id="Type1">
                                          @{{.m.Type}}
                                        </span>
                </p>
            </td>
        </tr>
        <tr class="pdf-table-tr-52">
            <td colspan="10">
                <div class="table_bottom_float_left">
                    <p class="table_bottom">
                        <span class="confirm_title">报关人员</span>
                        <span class="table_list_span_9" data-id="OperName">@{{ .m.OperName }}</span>
                        <span class="width_45"></span>
                        <span class="confirm_title">报关人员证号</span>
                        <span class="table_list_span_9"></span>
                        <span class="width_45"></span>
                        <span class="confirm_title">电话</span>
                        <span class="table_list_span_9"
                              data-id="AgentTel"></span>
                    </p>
                    <p>
                        <span>&nbsp;</span>
                    </p>
                    <p class="table_bottom_i">
                        <span class="confirm_title">申报单位</span>
                        <span class="table_list_span_9" data-id="AgentCodeScc">(@{{ .m.AgentCodeScc }})</span>
                        <span class="table_list_span_9" data-id="AgentName">@{{ .m.AgentName }}</span>
                    </p>
                </div>
                <div class="table_bottom_float_right">
                    <p>兹申明对以上内容承担如实申报、依法纳税之法律责任</p>
                    <p>申报单位（签章）</p>
                </div>
            </td>
            <td class="stamped" colspan="6">
                <p>
                    <span>&nbsp;</span>
                </p>
                <p class="stamped_p">
                    <span class="confirm_title">海关批注及签章</span>
                </p>
            </td>
        </tr>
        <tr style="height:0pt">
            <td style="width:21.75pt; border:none"></td>
            <td style="width:196.85pt; border:none"></td>
            <td style="width:45.75pt; border:none"></td>
            <td style="width:24.9pt; border:none"></td>
            <td style="width:57.65pt; border:none"></td>
            <td style="width:37.85pt; border:none"></td>
            <td style="width:41.7pt; border:none"></td>
            <td style="width:40.8pt; border:none"></td>
            <td style="width:12.5pt; border:none"></td>
            <td style="width:46.5pt; border:none"></td>
            <td style="width:8.25pt; border:none"></td>
            <td style="width:37.55pt; border:none"></td>
            <td style="width:28.55pt; border:none"></td>
            <td style="width:63.8pt; border:none"></td>
            <td style="width:63.75pt; border:none"></td>
            <td style="width:40.8pt; border:none"></td>
        </tr>
        </tbody>
    </table>

    @{{ if .m.OtherOrderItems }}
@{{ range $index,$other := .m.OtherOrderItems}}
<div class="height_30"></div>
<div class="height_10"></div>
<table cellspacing="0" cellpadding="0" class="pdf-table-two">
    <tbody>
    <tr class="pdf-table-tr-12">
        <td>
            <p class="table_td_p">
                <span class="span_bold">项号</span>
            </p>
        </td>
        <td colspan="3">
            <p class="table_td_p">
                <span class="span_bold">商品编号</span>
                <span style="width:75.9pt; text-indent:0pt; display:inline-block; -aw-tabstop-align:left; -aw-tabstop-pos:116.7pt"></span>
                <span class="span_bold">商品名称及规格型号</span>
            </p>
        </td>
        <td>
            <p class="table_td_p">
                <span class="span_bold">数量及单位</span>
            </p>
        </td>
        <td colspan="2">
            <p class="table_td_p">
                <span class="span_bold">单价/总价/币制</span>
            </p>
        </td>
        <td colspan="3">
            <p class="table_td_p">
                <span class="span_bold">原产国(地区)</span>
            </p>
        </td>
        <td colspan="4">
            <p class="table_td_p">
                <span class="span_bold">最终目的国(地区)</span>
                <span style="width:47.15pt; text-indent:0pt; display:inline-block; -aw-tabstop-align:left; -aw-tabstop-pos:111.9pt"></span>
                <span class="span_bold">境内货源地</span>
            </p>
        </td>
        <td>
            <p class="table_td_p">
                <span class="span_bold">征免</span>
            </p>
        </td>
        <td>
            <p class="table_td_p">
                <span class="span_bold">版本号</span>
            </p>
        </td>
    </tr>

    @{{ range $index,$value := $other}}
    <tr class="pdf-table-tr-30-two">
        <td class="width_22">
            <p class="table_list_p">
                            <span class="table_list_span_9" data-index=@{{ $value.GNo  }}
                                  data-id="GNo">@{{ $value.GNo }}</span>
            </p>
            <p class="table_list_p">
                            <span class="table_list_span_9" data-index=@{{ $value.GNo  }}
                                  data-id="ContrItem">(@{{ $value.ContrItem }})</span>
            </p>
        </td>
        <td colspan="3">
            <p class="goods_number">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="CodeTS">@{{ $value.CodeTS }}</span>
                <span data-index=@{{ $value.GNo  }}
                                  data-id="GName"> @{{ $value.GName }}</span>
            </p>
            <p class="goods_name">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="GModel">@{{ $value.GModel }}</span>
            </p>
        </td>

        <td>
            <p class="unit_number">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="GQty">@{{$value.GQty }}</span>
                <span data-index=@{{ $value.GNo  }}
                                  data-id="GUnitName">@{{$value.GUnitName }}</span>
            </p>
            <p class="unit_number">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="FirstQty">@{{$value.FirstQty }}</span>
                <span data-index=@{{ $value.GNo  }}
                                  data-id="FirstUnitName">@{{$value.FirstUnitName }}</span>
            </p>
            <p class="unit_number">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="SecondQty">@{{$value.SecondQty }}</span>
                <span data-index=@{{ $value.GNo  }}
                                  data-id="SecondUnitName">@{{$value.SecondUnitName }}</span>
            </p>
        </td>
        <td colspan="2">
            <p class="unit_price">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="DeclPrice">@{{$value.DeclPrice }}</span>
            </p>
            <p class="unit_price">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="DeclTotal">@{{$value.DeclTotal }}</span>
            </p>
            <p class="unit_price">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="TradeCurrName">@{{$value.TradeCurrName }}</span>
            </p>
        </td>
        <td colspan="3">
            <p class="unit_price">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="DestinationCountryName">@{{$value.DestinationCountryName }}</span>
            </p>
            <p class="unit_price">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="DestinationCountry">(@{{$value.DestinationCountry }})</span>
            </p>
        </td>
        <td colspan="4">
            <div class="destination">
                <div class="destination_end">
                    <p class="unit_number">
                                    <span data-index=@{{ $value.GNo  }}
                                          data-id="OriginCountryName">@{{$value.OriginCountryName }}</span>
                    </p>
                    <p class="unit_number">
                                    <span data-index=@{{ $value.GNo  }}
                                          data-id="OriginCountry">(@{{$value.OriginCountry }})</span>
                    </p>
                </div>
                <div class="destination_domestic">
                    <p>(
                        <span data-index=@{{ $value.GNo  }}
                                          data-id="DistrictCode">@{{$value.DistrictCode }}</span>
                        /
                        <span data-index=@{{ $value.GNo  }}
                                          data-id="DestCode">@{{$value.DestCode }}</span>
                        )
                        <span data-index=@{{ $value.GNo  }}
                                          data-id="DistrictCodeName">@{{$value.DistrictCodeName }}</span>
                        /
                        <span data-index=@{{ $value.GNo  }}
                                          data-id="DestCodeName">@{{$value.DestCodeName }}</span>
                    </p>
                </div>
            </div>

        </td>
        <td>
            <div class="exempted">
                <p data-index=@{{ $value.GNo  }}
                   data-id="DutyModeName">@{{$value.DutyModeName }}</p>
                <span data-index=@{{ $value.GNo  }}
                                  data-id="DutyMode">(@{{$value.DutyMode }})</span>
            </div>
        </td>
        <td>
            <p class="exempted">
                            <span data-index=@{{ $value.GNo  }}
                                  data-id="ExgVersion">@{{ $value.ExgVersion }}</span>
            </p>
        </td>

    </tr>

    <tr style="height:0pt">
        <td style="width:21.75pt; border:none"></td>
        <td style="width:196.85pt; border:none"></td>
        <td style="width:45.75pt; border:none"></td>
        <td style="width:24.9pt; border:none"></td>
        <td style="width:57.65pt; border:none"></td>
        <td style="width:37.85pt; border:none"></td>
        <td style="width:41.7pt; border:none"></td>
        <td style="width:40.8pt; border:none"></td>
        <td style="width:12.5pt; border:none"></td>
        <td style="width:46.5pt; border:none"></td>
        <td style="width:8.25pt; border:none"></td>
        <td style="width:37.55pt; border:none"></td>
        <td style="width:28.55pt; border:none"></td>
        <td style="width:63.8pt; border:none"></td>
        <td style="width:63.75pt; border:none"></td>
        <td style="width:40.8pt; border:none"></td>
    </tr>
    @{{end}}
    </tbody>
</table>
@{{end}}
@{{end}}
</div>