<div class="custom-order_form">
    <div class="custom-order_form_content">
        <div class="content_left">
            <form class="layui-form layui-form-relative" id="order_i_form"
                  onkeydown="if(event.keyCode==13){return false}">
                <div class="custom-order_form_top" id="order_button"></div>
                <script type="text/html" id="order_button_template">
                    <button type="button" id="order_save_reload_submit" lay-submit lay-filter="order_save_reload_submit" style="display: none;"></button>
                {{# if( !d.statusString || d.jq.inArray(d.statusString,[ "待制单" , "制单中","复核不通过"])>=0){  }}
                <button class="layui-btn custom-create_btn" id="order_save" type="button" lay-submit
                        lay-filter="order_save">
                    <i class="iconfont icon-save"></i>保存
                </button>
                {{# } }}
               @{{if .m.Id }}
                {{# if(d.jq.inArray(d.statusString,[ "待审核" , "审核中"])>=0){  }}
                @{{ if canArray  .actions .m.IEFlag  "canAudit"}}
                <button class="layui-btn custom-create_btn" id="order_save_pass" type="button" lay-submit
                        lay-filter="order_save_pass">
                    <i class="iconfont icon-checkcircle"></i>审核通过
                </button>
                @{{ end }}

                {{# }else if(d.jq.inArray(d.statusString,["审核通过"])>=0){   }}
                @{{ if canArray  .actions .m.IEFlag "canDistribute"}}
                <button class="layui-btn custom-create_btn" id="order_dispatch" type="button">
                    <i class="iconfont iconfolder-shared"></i>派单
                </button>
                @{{ end }}
                {{# }else if(d.jq.inArray(d.statusString,["待制单"])>=0){   }}
                @{{ if canArray  .actions .m.IEFlag "canDistribute"}}
                <button class="layui-btn custom-create_btn" id="order_dispatch" type="button">
                    <i class="iconfont iconfolder-shared"></i>重新派单
                </button>
                @{{ end }}
                {{# }else if(d.jq.inArray(d.statusString,["制单中"])>=0){   }}
                @{{ if canArray  .actions .m.IEFlag "canForRecheck"}}
                <button class="layui-btn custom-create_btn" id="order_for_recheck" type="button" lay-submit
                        lay-filter="order_application_review">
                    <i class="iconfont iconaddcircle"></i><span>申请复核</span>
                </button>
                @{{ end }}
                {{# }else if(d.jq.inArray(d.statusString,[ "复核不通过"])>=0){}}
                @{{ if canArray  .actions .m.IEFlag "canReForRecheck"}}
                <button class="layui-btn custom-create_btn" id="order_refor_recheck" type="button" lay-submit
                        lay-filter="order_application_review">
                    <i class="iconfont iconaddcircle"></i><span>重新申请复核</span>
                </button>
                @{{ end }}
                {{# }else if(d.jq.inArray(d.statusString,[ "复核通过"])>=0){}}
                @{{ if canArray  .actions .m.IEFlag "canPushXml"}}
                <button class="layui-btn custom-create_btn" id="order_save_reload" lay-submit
                        lay-filter="order_save_reload" type="button">
                    <i class="iconfont icon-save"></i>发送到单一窗口
                </button>
                @{{ end }}
                {{# } }}

                @{{ if canArray  .actions .m.IEFlag "canPrint"}}
                <button class="layui-btn layui-btn-primary custom-create_btn_primary" id="order_print" type="button"><i
                            class="iconfont iconprint"></i>打印
                </button>
                @{{ end }}

                @{{ if canArray  .actions .m.IEFlag "canRemark"}}
                <button class="layui-btn layui-btn-primary custom-create_btn_primary" id="order_note" type="button">
                    <i class="iconfont icontab"></i>附注
                    <span class="layui-badge-dot" id="order_note_dot" style="display: none;"></span>
                </button>
                @{{ end }}
                <button class="layui-btn layui-btn-primary custom-create_btn_primary" data-id="@{{ .m.Id }}"
                        onclick="layui.admin.order_jilu_click(this)" type="button">
                    <i class="iconfont iconassignment1"></i>办理记录
                </button>
                <button class="layui-btn custom-create_btn" id="order_i_import" type="button">
                    <i class="iconfont icon-input"></i>导入
                </button>
                {{#  if(d.jq.inArray(d.statusString,[ "已完成"])>=0){   }}
                @{{if .m.annotation_change_logs }}
                <div class="order_edit_bill_string">
                    <p class="order_edit_bill_string_p">
                        <i class="iconfont iconedit"></i>
                        <span>@{{ .m.annotation_change_logs }}</span>
                    </p>
                </div>
                @{{end }}
                {{# } }}
                @{{ end }}
                </script>
@{{/*                <div id="order_fail">*/}}
@{{/*                @{{  if  .m.Id }}*/}}
@{{/*                {{# if(d.jq.inArray(d.statusString,[ "审核不通过" ,"复核不通过"])>=0){  }}*/}}
@{{/*                @{{range .m.AnnotationRecords}}*/}}
@{{/*                <div class="order_fail_string">*/}}
@{{/*                    <p class="order_fail_string_p">*/}}
@{{/*                        <span class="red">不通过原因：</span>*/}}
@{{/*                        <span>@{{ .Content }}</span>*/}}
@{{/*                    </p>*/}}
@{{/*                    <p class="order_fail_string_p">*/}}
@{{/*                        <span class="red">备注：</span>*/}}
@{{/*                        <span>@{{ .Remark  }}</span>*/}}
@{{/*                    </p>*/}}
@{{/*                </div>*/}}
@{{/*                @{{ end }}*/}}
@{{/*                {{# } }}*/}}
@{{/*                @{{ end }}*/}}
@{{/*                </div>*/}}

                @{{/*        <script type="text/html" id="order_edit_bill_template">*/}}
                @{{/*            {{# if(d.order_status_string == '已完成'){ }}*/}}
                @{{/*            {{# if(d.order_change_logs.length > 0){ }}*/}}
                @{{/*            <div class="order_edit_bill_string">*/}}
                @{{/*                <p class="order_edit_bill_string_p">*/}}
                @{{/*                    <i class="iconfont icon-edit"></i>*/}}
                @{{/*                    <span>@{{ d.order_change_logs[d.order_change_logs.length-1].content }}</span>*/}}
                @{{/*                </p>*/}}
                @{{/*            </div>*/}}
                @{{/*            {{# } }}*/}}
                @{{/*            {{# } }}*/}}
                @{{/*        </script>*/}}
                @{{/*        <div id="order_edit_bill"></div>*/}}

                @{{template "order/create/gauge.html" .}}
                @{{template "order/create/order_tip.html" .}}
            </form>
            @{{template "order/create/order_pros.html" .}}
        </div>

        <div class="content_right">
            @{{template "order/create/order_containers.html" .}}
            @{{template "order/create/order_documents.html" .}}
        </div>
        <div class="head-item">
            <p id="tipsMessagetext">申报地海关：输入4位代码或名称（如‘北京海关’应输入‘0100’或‘北京海关’）</p>
        </div>
    </div>
</div>

@{{template "/common/order_annotation/distribute.html" .}}
@{{template "/order/create/remark_note.html" .}}
@{{template "/common/order_annotation/take.html" .}}
@{{template "order/create/manual_no.html" .}}
@{{template "order/create/bill_no.html" .}}
@{{template "order/create/other_packs.html" .}}
@{{template "order/create/note_s.html" .}}
@{{template "order/create/mark_no.html" .}}
@{{template "order/create/ent_qualif.html" .}}
@{{template "order/create/dec_users.html" .}}
@{{template "order/create/spec_decl_flag.html" .}}
@{{template "order/create/dec_request_certs.html" .}}
@{{template "order/create/code_t_s.html" .}}
@{{template "order/create/declaration.html" .}}
@{{template "order/create/ciq_name.html" .}}
@{{template "order/create/goods_spec.html" .}}
@{{template "order/create/dec_goods.html" .}}
@{{template "order/create/dec_goods_vin.html" .}}
@{{template "order/create/goods_attr_data.html" .}}
@{{template "order/create/dang.html" .}}
@{{template "order/create/elements_his.html" .}}
@{{template "order/create/batch_edit.html" .}}
@{{template "order/create/goods_attr_batch_data.html" .}}
@{{template "order/create/goods_no.html" .}}
@{{template "order/create/order_document_eco_relations.html" .}}
@{{template "order/create/print.html" .}}
@{{template "order/create/order_enclosure.html" .}}
@{{template "order/create/order_init.html" .}}
@{{template "order/create/print_edit_contract.html" .}}
@{{template "order/create/print_edit_invoice.html" .}}
@{{template "order/create/print_edit_driver.html" .}}
@{{template "order/create/print_save_contract.html" .}}
@{{template "order/create/print_save_invoice.html" .}}
@{{template "order/create/print_save_driver.html" .}}