<script>
  layui.config({
    base: '/static/customAdmin/',
  }).extend({
    index: 'lib/index',
  }).use(['index'], function () {
    const admin = layui.admin, form = layui.form
    form.on('submit(perm_submit)', async (data) => {
      let resultStatus = false;
      if (`@{{ .m.Id }}`){
        let result = await admin.patch(`/setting/update/` + @{{ .m.Id }}, data.field)
        resultStatus=result.status
      }else{
        let result = await admin.post(@{{ urlfor "SettingController.Store" }}, data.field)
        resultStatus=result.status
      }
      if (resultStatus){
            admin.reloadFrame("系统设置iframe");
      }
    })
  })
</script>