<style>
    thead {
        display: table-row-group;
    }

    table {
        word-wrap: break-word;
    }

    table td {
        word-break: break-all;
    }

    tr {
        page-break-before: always;
        page-break-after: always;
        page-break-inside: avoid;
    }

    .text-center {
        text-align: center;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .annotation_table {
        margin: 0 20pt;
    }

    .annotation_table_title {
        text-align: center;
        margin: 20px 0 5px 0;
    }

    ._h1 {
        font-size: 42px;
        font-weight: bold;
    }

    ._span {
        font-size: 20px;
        text-align: center;
        margin-top: 5pt;
        font-weight: bold;
    }


    .time {
        text-align: right;
        font-size: 20px;
    }

    .time span {
        font-weight: bold;
    }

    .td-scale-04 {
        width: 12%;
    }

    .td-scale-05 {
        width: 10%;
    }

    .annotation_table_content td, .annotation_table_content th {
        border-color: #000000;
        color: #000;
        padding: 10px 5px;
    }

    .annotation_table_content th {
        text-align: center;
    }

    .annotation_table_content thead tr {
        background-color: transparent;
    }

    .table_flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    .flex_left, .flex_right {
        width: 50%;
    }

    .flex_left {
        margin-right: 5px;
    }

    @font-face {
        font-family: 'iconfont';
        src: url('http://at.alicdn.com/t/font_1071313_412d4oyr6zu.eot');
        src: url('http://at.alicdn.com/t/font_1071313_412d4oyr6zu.eot?#iefix') format('embedded-opentype'),
        url('http://at.alicdn.com/t/font_1071313_412d4oyr6zu.woff2') format('woff2'),
        url('http://at.alicdn.com/t/font_1071313_412d4oyr6zu.woff') format('woff'),
        url('http://at.alicdn.com/t/font_1071313_412d4oyr6zu.ttf') format('truetype'),
        url('http://at.alicdn.com/t/font_1071313_412d4oyr6zu.svg#iconfont') format('svg');
    }

    .is_success {
        background-color: #16b615;
        color: #fff;
        font-style: normal;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 4px;
    }

    .is_error {
        background-color: #FF3940;
        color: #fff;
        font-style: normal;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 4px;
    }
    .chapter_img {
        position: absolute;
        top: 5px;
        right: 10px;
    }
</style>

<div class="annotation_table">
    <div class="annotation_table_title">
        <p class="_h1">保税清单（@{{.M.ImpexpMarkcdName}}）</p>
        <p class="_span">（仅供核对使用）</p>
        <p class="time"><span>打印日期：</span>@{{date .Now "Y-m-d H:i:s"}}</p>
    </div>
    <table class="layui-table annotation_table_content">
        <tbody>
        <tr>
            <td class="td-scale-05">预录入统一编号</td>
            <td class="td-scale-04">
                @{{if .M.SeqNo}}
                    @{{if eq .M.StatusString "复核通过"}}
                    <span  id="seq_no" class="is_success">@{{.M.SeqNo}}<i class="iconfont iconcheck font-12"></i></span>
                    @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "seq_no"  .M.RecheckErrorInputIds }}
                    <span  id="seq_no" class="is_error"  >@{{.M.SeqNo}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="seq_no">@{{.M.SeqNo}}</span>
                @{{end}}
            @{{else}}
                    <span  id="seq_no">@{{.M.SeqNo}}</span>
                    @{{end}}
                @{{end}}
            </td>
            <td class="td-scale-05">清单编号</td>
            <td class="td-scale-04">
                @{{if .M.BondInvtNo}}
                    @{{if eq .M.StatusString "复核通过"}}
                    <span  id="bond_invt_no" class="is_success">@{{.M.BondInvtNo}}<i class="iconfont iconcheck font-12"></i></span>
                    @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "bond_invt_no" .M.RecheckErrorInputIds }}
                    <span  id="bond_invt_no" class="is_error">@{{.M.BondInvtNo}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="bond_invt_no">@{{.M.BondInvtNo}}</span>
                @{{end}}
            @{{else}}
                    <span  id="bond_invt_no">@{{.M.BondInvtNo}}</span>
                    @{{end}}
                @{{end}}
            </td>
            <td class="td-scale-05">清单类型</td>
            <td class="td-scale-04">
                @{{if .M.InvtTypeName}}
                    @{{if eq .M.StatusString "复核通过"}}
                    <span  id="invt_type_name" class="is_success">@{{.M.InvtTypeName}}<i class="iconfont iconcheck font-12"></i></span>
                    @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "invt_type_name"  .M.RecheckErrorInputIds }}
                    <span  id="invt_type_name" class="is_error">@{{.M.InvtTypeName}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="invt_type_name">@{{.M.InvtTypeName }}</span>
                @{{end}}
            @{{else}}
                    <span  id="invt_type_name">@{{.M.InvtTypeName }}</span>
                    @{{end}}
                @{{end}}
            </td>
            <td class="td-scale-05">手(账)编号</td>
            <td class="td-scale-04">
                @{{if .M.PutrecNo}}
                    @{{if eq .M.StatusString "复核通过"}}
                    <span  id="putrec_no" class="is_success">@{{.M.PutrecNo}}<i class="iconfont iconcheck font-12"></i></span>
                    @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "putrec_no"  .M.RecheckErrorInputIds }}
                    <span  id="putrec_no" class="is_error"  >@{{.M.PutrecNo}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="putrec_no">@{{.M.PutrecNo}}</span>
            @{{end}}
            @{{else}}
                    <span  id="putrec_no">@{{.M.PutrecNo}}</span>
                    @{{end}}
                @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05">经营企业编码</td>
            <td class="td-scale-04">
                @{{if .M.BizopEtpsno}}
                    @{{if eq .M.StatusString "复核通过"}}
                    <span  id="bizop_etpsno" class="is_success">@{{.M.BizopEtpsno}}<i class="iconfont iconcheck font-12"></i></span>
                    @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "bizop_etpsno" .M.RecheckErrorInputIds }}
                    <span  id="bizop_etpsno" class="is_error"  >@{{.M.BizopEtpsno}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="bizop_etpsno">@{{.M.BizopEtpsno}}</span>
                @{{end}}
            @{{else}}
                    <span  id="bizop_etpsno">@{{.M.BizopEtpsno}}</span>
                    @{{end}}
                @{{end}}
            </td>
            <td class="td-scale-05">经营企业社会信用代码</td>
            <td class="td-scale-04">
                @{{if .M.BizopEtpsSccd}}
                    @{{if eq .M.StatusString "复核通过"}}
                    <span  id="bizop_etps_sccd" class="is_success">@{{.M.BizopEtpsSccd}}<i class="iconfont iconcheck font-12"></i></span>
                    @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "bizop_etps_sccd" .M.RecheckErrorInputIds }}
                    <span  id="bizop_etps_sccd" class="is_error"  >@{{.M.BizopEtpsSccd}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="bizop_etps_sccd">@{{.M.BizopEtpsSccd}}</span>
                @{{end}}
            @{{else}}
                    <span  id="bizop_etps_sccd">@{{.M.BizopEtpsSccd}}</span>
                    @{{end}}
                @{{end}}
            </td>
            <td class="td-scale-05">经营企业名称</td>
            <td class="td-scale-04">
                @{{if .M.BizopEtpsNm}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="bizop_etps_nm" class="is_success">@{{.M.BizopEtpsNm}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "bizop_etps_nm" .M.RecheckErrorInputIds }}
            <span  id="bizop_etps_nm" class="is_error"  >@{{.M.BizopEtpsNm}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="bizop_etps_nm">@{{.M.BizopEtpsNm}}</span>
                @{{end}}
            @{{else}}
            <span  id="bizop_etps_nm">@{{.M.BizopEtpsNm}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">加工企业编码</td>
            <td class="td-scale-04">
                @{{if .M.RcvgdEtpsno}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rcvgd_etpsno" class="is_success">@{{.M.RcvgdEtpsno}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rcvgd_etpsno" .M.RecheckErrorInputIds }}
            <span  id="rcvgd_etpsno" class="is_error"  >@{{.M.RcvgdEtpsno}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="rcvgd_etpsno">@{{.M.RcvgdEtpsno}}</span>
            @{{end}}
            @{{else}}
            <span  id="rcvgd_etpsno">@{{.M.RcvgdEtpsno}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05">加工企业社会信用代码</td>
            <td class="td-scale-04">
                @{{if .M.RvsngdEtpsSccd}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rvsngd_etps_sccd" class="is_success">@{{.M.RvsngdEtpsSccd}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rvsngd_etps_sccd" .M.RecheckErrorInputIds }}
            <span  id="rvsngd_etps_sccd" class="is_error"  >@{{.M.RvsngdEtpsSccd}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="rvsngd_etps_sccd">@{{.M.RvsngdEtpsSccd}}</span>
            @{{end}}
            @{{else}}
            <span  id="rvsngd_etps_sccd">@{{.M.RvsngdEtpsSccd}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">加工企业名称</td>
            <td class="td-scale-04">
                @{{if .M.RcvgdEtpsNm}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rcvgd_etps_nm" class="is_success">@{{.M.RcvgdEtpsNm}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rcvgd_etps_nm" .M.RecheckErrorInputIds }}
            <span  id="rcvgd_etps_nm" class="is_error"  >@{{.M.RcvgdEtpsNm}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="rcvgd_etps_nm">@{{.M.RcvgdEtpsNm}}</span>
            @{{end}}
            @{{else}}
            <span  id="rcvgd_etps_nm">@{{.M.RcvgdEtpsNm}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">申报单位代码</td>
            <td class="td-scale-04">
                @{{if .M.DclEtpsno}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="dcl_etpsno" class="is_success">@{{.M.DclEtpsno}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "dcl_etpsno" .M.RecheckErrorInputIds }}
            <span  id="dcl_etpsno" class="is_error"  >@{{.M.DclEtpsno}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="dcl_etpsno">@{{.M.DclEtpsno}}</span>
            @{{end}}
            @{{else}}
            <span  id="dcl_etpsno">@{{.M.DclEtpsno}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">申报单位社会信用代码</td>
            <td class="td-scale-04">
                @{{if .M.DclEtpsSccd}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="dcl_etps_sccd" class="is_success">@{{.M.DclEtpsSccd}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "dcl_etps_sccd" .M.RecheckErrorInputIds }}
            <span  id="dcl_etps_sccd" class="is_error"  >@{{.M.DclEtpsSccd}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="dcl_etps_sccd">@{{.M.DclEtpsSccd}}</span>
            @{{end}}
            @{{else}}
            <span  id="dcl_etps_sccd">@{{.M.DclEtpsSccd}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05">申报单位名称</td>
            <td class="td-scale-04">
                @{{if .M.DclEtpsNm}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="dcl_etps_nm" class="is_success">@{{.M.DclEtpsNm}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "dcl_etps_nm" .M.RecheckErrorInputIds }}
            <span  id="dcl_etps_nm" class="is_error"  >@{{.M.DclEtpsNm}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="dcl_etps_nm">@{{.M.DclEtpsNm}}</span>
            @{{end}}
            @{{else}}
            <span  id="dcl_etps_nm">@{{.M.DclEtpsNm}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">录入单位代码</td>
            <td class="td-scale-04">
                @{{if .M.InputCode}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="input_code" class="is_success">@{{.M.InputCode}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "input_code" .M.RecheckErrorInputIds }}
            <span  id="input_code" class="is_error"  >@{{.M.InputCode}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="input_code">@{{.M.InputCode}}</span>
            @{{end}}
            @{{else}}
            <span  id="input_code">@{{.M.InputCode}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">录入单位社会信用代码</td>
            <td class="td-scale-04">
                @{{if .M.InputCreditCode}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="input_credit_code" class="is_success">@{{.M.InputCreditCode}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "input_credit_code" .M.RecheckErrorInputIds }}
            <span  id="input_credit_code" class="is_error"  >@{{.M.InputCreditCode}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="input_credit_code">@{{.M.InputCreditCode}}</span>
                @{{end}}
            @{{else}}
            <span  id="input_credit_code">@{{.M.InputCreditCode}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">录入单位名称</td>
            <td class="td-scale-04">
                @{{if .M.InputName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="input_name" class="is_success">@{{.M.InputName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "input_name" .M.RecheckErrorInputIds }}
            <span  id="input_name" class="is_error"  >@{{.M.InputName}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="input_name">@{{.M.InputName}}</span>
                @{{end}}
            @{{else}}
            <span  id="input_name">@{{.M.InputName}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05">录入日期</td>
            <td class="td-scale-04">
                @{{if .M.InputTime}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="input_time" class="is_success">@{{.M.InputTime}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "input_time" .M.RecheckErrorInputIds }}
            <span  id="input_time" class="is_error"  >@{{.M.InputTime}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="input_time">@{{.M.InputTime}}</span>
            @{{end}}
            @{{else}}
            <span  id="input_time">@{{.M.InputTime}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">清单申报日期</td>
            <td class="td-scale-04">
                @{{if .M.InvtDclTime}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="invt_dcl_time" class="is_success">@{{.M.InvtDclTime}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "invt_dcl_time" .M.RecheckErrorInputIds }}
            <span  id="invt_dcl_time" class="is_error"  >@{{.M.InvtDclTime}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="invt_dcl_time">@{{.M.InvtDclTime}}</span>
                @{{end}}
            @{{else}}
            <span  id="invt_dcl_time">@{{.M.InvtDclTime}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">清单进出卡口状态</td>
            <td class="td-scale-04">
                @{{if .M.InvtIochkptStucd}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="invt_iochkpt_stucd" class="is_success">@{{.M.InvtIochkptStucd}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "invt_iochkpt_stucd" .M.RecheckErrorInputIds }}
            <span  id="invt_iochkpt_stucd" class="is_error"  >@{{.M.InvtIochkptStucd}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="invt_iochkpt_stucd">@{{.M.InvtIochkptStucd}}</span>
            @{{end}}
            @{{else}}
            <span  id="invt_iochkpt_stucd">@{{.M.InvtIochkptStucd}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">核扣标志</td>
            <td class="td-scale-04">
                @{{if .M.VrfdedMarkcd}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="vrfded_markcd" class="is_success">@{{.M.VrfdedMarkcd}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "vrfded_markcd" .M.RecheckErrorInputIds }}
            <span  id="vrfded_markcd" class="is_error"  >@{{.M.VrfdedMarkcd}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="vrfded_markcd">@{{.M.VrfdedMarkcd}}</span>
                @{{end}}
            @{{else}}
            <span  id="vrfded_markcd">@{{.M.VrfdedMarkcd}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05">企业内部编号</td>
            <td class="td-scale-04">
                @{{if .M.EtpsInnerInvtNo}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="etps_inner_invt_no" class="is_success">@{{.M.EtpsInnerInvtNo}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "etps_inner_invt_no" .M.RecheckErrorInputIds }}
            <span  id="etps_inner_invt_no" class="is_error"  >@{{.M.EtpsInnerInvtNo}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="etps_inner_invt_no">@{{.M.EtpsInnerInvtNo}}</span>
                @{{end}}
            @{{else}}
            <span  id="etps_inner_invt_no">@{{.M.EtpsInnerInvtNo}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">进（出）境关别</td>
            <td class="td-scale-04">
                @{{if .M.ImpexpPortcdName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="impexp_portcd_name" class="is_success">@{{.M.ImpexpPortcdName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "impexp_portcd_name" .M.RecheckErrorInputIds }}
            <span  id="impexp_portcd_name" class="is_error"  >@{{.M.ImpexpPortcdName}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="impexp_portcd_name">@{{.M.ImpexpPortcdName}}</span>
            @{{end}}
            @{{else}}
            <span  id="impexp_portcd_name">@{{.M.ImpexpPortcdName}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">主管海关</td>
            <td class="td-scale-04">
                @{{if .M.DclPlcCuscdName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="dcl_plc_cuscd_name" class="is_success">@{{.M.DclPlcCuscdName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "dcl_plc_cuscd_name" .M.RecheckErrorInputIds }}
            <span  id="dcl_plc_cuscd_name" class="is_error"  >@{{.M.DclPlcCuscdName}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="dcl_plc_cuscd_name">@{{.M.DclPlcCuscdName}}</span>
            @{{end}}
            @{{else}}
            <span  id="dcl_plc_cuscd_name">@{{.M.DclPlcCuscdName}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">启运国(地区)</td>
            <td class="td-scale-04">
                @{{if .M.StshipTrsarvNatcdName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="stship_trsarv_natcd_name" class="is_success">@{{.M.StshipTrsarvNatcdName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "stship_trsarv_natcd_name" .M.RecheckErrorInputIds }}
            <span  id="stship_trsarv_natcd_name" class="is_error"  >@{{.M.StshipTrsarvNatcdName}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="stship_trsarv_natcd_name">@{{.M.StshipTrsarvNatcdName}}</span>
                @{{end}}
            @{{else}}
            <span  id="stship_trsarv_natcd_name">@{{.M.StshipTrsarvNatcdName}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05">料件、成品标志</td>
            <td class="td-scale-04">
                @{{if .M.MtpckEndprdMarkcdName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="mtpck_endprd_markcd_name" class="is_success">@{{.M.MtpckEndprdMarkcdName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "mtpck_endprd_markcd_name" .M.RecheckErrorInputIds }}
            <span  id="mtpck_endprd_markcd_name" class="is_error"  >@{{.M.MtpckEndprdMarkcdName}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="mtpck_endprd_markcd_name">@{{.M.MtpckEndprdMarkcdName}}</span>
                @{{end}}
            @{{else}}
            <span  id="mtpck_endprd_markcd_name">@{{.M.MtpckEndprdMarkcdName}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">监管方式</td>
            <td class="td-scale-04">
                @{{if .M.SupvModecdName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="supv_modecd_name" class="is_success">@{{.M.SupvModecdName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "supv_modecd_name" .M.RecheckErrorInputIds }}
            <span  id="supv_modecd_name" class="is_error"  >@{{.M.SupvModecdName}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
            <span  id="supv_modecd_name">@{{.M.SupvModecdName}}</span>
            @{{end}}
            @{{else}}
            <span  id="supv_modecd_name">@{{.M.SupvModecdName}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">运输方式</td>
            <td class="td-scale-04">
                @{{if .M.TrspModecdName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="trsp_modecd_name" class="is_success">@{{.M.TrspModecdName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "trsp_modecd_name" .M.RecheckErrorInputIds }}
            <span  id="trsp_modecd_name" class="is_error"  >@{{.M.TrspModecdName}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="trsp_modecd_name">@{{.M.TrspModecdName}}</span>
                @{{end}}
            @{{else}}
            <span  id="trsp_modecd_name">@{{.M.TrspModecdName}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">申报表编号</td>
            <td class="td-scale-04">
                @{{if .M.ApplyNo}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="apply_no" class="is_success">@{{.M.ApplyNo}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "apply_no" .M.RecheckErrorInputIds }}
            <span  id="apply_no" class="is_error"  >@{{.M.ApplyNo}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="apply_no">@{{.M.ApplyNo}}</span>
                @{{end}}
            @{{else}}
            <span  id="apply_no">@{{.M.ApplyNo}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>

        <tr>
            <td class="td-scale-05">流转类型</td>
            <td class="td-scale-04">
                @{{if .M.ListTypeName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="list_type_name" class="is_success">@{{.M.ListTypeName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "list_type_name" .M.RecheckErrorInputIds }}
            <span  id="list_type_name" class="is_error"  >@{{.M.ListTypeName}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="list_type_name">@{{.M.ListTypeName}}</span>
                @{{end}}
            @{{else}}
            <span  id="list_type_name">@{{.M.ListTypeName}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">报关标志</td>
            <td class="td-scale-04">
                @{{if .M.DclcusFlagName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="dclcus_flag_name" class="is_success">@{{.M.DclcusFlagName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "dclcus_flag_name" .M.RecheckErrorInputIds }}
            <span  id="dclcus_flag_name" class="is_error"  >@{{.M.DclcusFlagName}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="dclcus_flag_name">@{{.M.DclcusFlagName}}</span>
            @{{end}}
            @{{else}}
            <span  id="dclcus_flag_name">@{{.M.DclcusFlagName}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">报关类型</td>
            <td class="td-scale-04">
                @{{if .M.DclcusTypecdName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="dclcus_typecd_name" class="is_success">@{{.M.DclcusTypecdName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "dclcus_typecd_name" .M.RecheckErrorInputIds }}
            <span  id="dclcus_typecd_name" class="is_error"  >@{{.M.DclcusTypecdName}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
                <span  id="dclcus_typecd_name">@{{.M.DclcusTypecdName}}</span>
                @{{end}}
            @{{else}}
            <span  id="dclcus_typecd_name">@{{.M.DclcusTypecdName}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">报关单类型</td>
            <td class="td-scale-04">
                @{{if .M.DecTypeName}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="dec_type_name" class="is_success">@{{.M.DecTypeName}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "dec_type_name" .M.RecheckErrorInputIds }}
            <span  id="dec_type_name" class="is_error"  >@{{.M.DecTypeName}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
                <span  id="dec_type_name">@{{.M.DecTypeName}}</span>
                @{{end}}
            @{{else}}
            <span  id="dec_type_name">@{{.M.DecTypeName}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05">关联清单编号</td>
            <td class="td-scale-04">
                @{{if .M.RltInvtNo}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_invt_no" class="is_success">@{{.M.RltInvtNo}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_invt_no" .M.RecheckErrorInputIds }}
            <span  id="rlt_invt_no" class="is_error"  >@{{.M.RltInvtNo}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="rlt_invt_no">@{{.M.RltInvtNo}}</span>
                @{{end}}
            @{{else}}
            <span  id="rlt_invt_no">@{{.M.RltInvtNo}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">关联手(账)册备案号</td>
            <td class="td-scale-04">
                @{{if .M.RltPutrecNo}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_putrec_no" class="is_success">@{{.M.RltPutrecNo}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_putrec_no" .M.RecheckErrorInputIds }}
            <span  id="rlt_putrec_no" class="is_error"  >@{{.M.RltPutrecNo}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="rlt_putrec_no">@{{.M.RltPutrecNo}}</span>
                @{{end}}
            @{{else}}
            <span  id="rlt_putrec_no">@{{.M.RltPutrecNo}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">关联报关单编号</td>
            <td class="td-scale-04">
                @{{if .M.RltEntryNo}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_entry_no" class="is_success">@{{.M.RltEntryNo}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_entry_no" .M.RecheckErrorInputIds }}
            <span  id="rlt_entry_no" class="is_error"  >@{{.M.RltEntryNo}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="rlt_entry_no">@{{.M.RltEntryNo}}</span>
                @{{end}}
            @{{else}}
            <span  id="rlt_entry_no">@{{.M.RltEntryNo}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">关联报关单申报日期</td>
            <td class="td-scale-04">
                @{{if .M.EntryDclTime}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="entry_dcl_time" class="is_success">@{{.M.EntryDclTime}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "entry_dcl_time" .M.RecheckErrorInputIds }}
            <span  id="entry_dcl_time" class="is_error"  >@{{.M.EntryDclTime}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
                <span  id="entry_dcl_time">@{{.M.EntryDclTime}}</span>
                @{{end}}
            @{{else}}
            <span  id="entry_dcl_time">@{{.M.EntryDclTime}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05" colspan="2">关联报关单收发货人代码</td>
            <td class="td-scale-04">
                @{{if .M.RltEntryBizopEtpsno}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_entry_bizop_etpsno" class="is_success">@{{.M.RltEntryBizopEtpsno}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_entry_bizop_etpsno" .M.RecheckErrorInputIds }}
            <span  id="rlt_entry_bizop_etpsno" class="is_error"  >@{{.M.RltEntryBizopEtpsno}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
                <span  id="rlt_entry_bizop_etpsno">@{{.M.RltEntryBizopEtpsno}}</span>
                @{{end}}
            @{{else}}
            <span  id="rlt_entry_bizop_etpsno">@{{.M.RltEntryBizopEtpsno}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">关联报关单社会信用代码</td>
            <td class="td-scale-04">
                @{{if .M.RltEntryBizopEtpsSccd}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_entry_bizop_etps_sccd" class="is_success">@{{.M.RltEntryBizopEtpsSccd}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_entry_bizop_etps_sccd" .M.RecheckErrorInputIds }}
            <span  id="rlt_entry_bizop_etps_sccd" class="is_error"  >@{{.M.RltEntryBizopEtpsSccd}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="rlt_entry_bizop_etps_sccd">@{{.M.RltEntryBizopEtpsSccd}}</span>
                @{{end}}
            @{{else}}
            <span  id="rlt_entry_bizop_etps_sccd">@{{.M.RltEntryBizopEtpsSccd}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">关联报关单收发货人名称</td>
            <td class="td-scale-04" colspan="2">
                @{{if .M.RltEntryBizopEtpsNm}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_entry_bizop_etps_nm" class="is_success">@{{.M.RltEntryBizopEtpsNm}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_entry_bizop_etps_nm" .M.RecheckErrorInputIds }}
            <span  id="rlt_entry_bizop_etps_nm" class="is_error"  >@{{.M.RltEntryBizopEtpsNm}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="rlt_entry_bizop_etps_nm">@{{.M.RltEntryBizopEtpsNm}}</span>
                @{{end}}
            @{{else}}
            <span  id="rlt_entry_bizop_etps_nm">@{{.M.RltEntryBizopEtpsNm}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05" colspan="2">关联报关单生产销售(消费使用)单位代码</td>
            <td class="td-scale-04">
                @{{if .M.RltEntryRcvgdEtpsno}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_entry_rcvgd_etpsno" class="is_success">@{{.M.RltEntryRcvgdEtpsno}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_entry_rcvgd_etpsno" .M.RecheckErrorInputIds }}
            <span  id="rlt_entry_rcvgd_etpsno" class="is_error"  >@{{.M.RltEntryRcvgdEtpsno}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="rlt_entry_rcvgd_etpsno">@{{.M.RltEntryRcvgdEtpsno}}</span>
            @{{end}}
            @{{else}}
            <span  id="rlt_entry_rcvgd_etpsno">@{{.M.RltEntryRcvgdEtpsno}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">关联报关单社会信用代码</td>
            <td class="td-scale-04">
                @{{if .M.RltEntryRvsngdEtpsSccd}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_entry_rvsngd_etps_sccd" class="is_success">@{{.M.RltEntryRvsngdEtpsSccd}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_entry_rvsngd_etps_sccd" .M.RecheckErrorInputIds }}
            <span  id="rlt_entry_rvsngd_etps_sccd" class="is_error"  >@{{.M.RltEntryRvsngdEtpsSccd}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
                <span  id="rlt_entry_rvsngd_etps_sccd">@{{.M.RltEntryRvsngdEtpsSccd}}</span>
            @{{end}}
            @{{else}}
            <span  id="rlt_entry_rvsngd_etps_sccd">@{{.M.RltEntryRvsngdEtpsSccd}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">关联报关单单位名称</td>
            <td class="td-scale-04" colspan="2">
                @{{if .M.RltEntryRcvgdEtpsNm}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_entry_rcvgd_etps_nm" class="is_success">@{{.M.RltEntryRcvgdEtpsNm}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr  .M.RecheckErrorInputIds }}
            <span  id="rlt_entry_rcvgd_etps_nm" class="is_error"  >@{{.M.RltEntryRcvgdEtpsNm}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
                <span  id="rlt_entry_rcvgd_etps_nm">@{{.M.RltEntryRcvgdEtpsNm}}</span>
            @{{end}}
            @{{else}}
            <span  id="rlt_entry_rcvgd_etps_nm">@{{.M.RltEntryRcvgdEtpsNm}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05" colspan="2">关联报关单申报单位代码</td>
            <td class="td-scale-04">
                @{{if .M.RltEntryDclEtpsno}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_entry_dcl_etpsno" class="is_success">@{{.M.RltEntryDclEtpsno}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_entry_dcl_etpsno" .M.RecheckErrorInputIds }}
            <span  id="rlt_entry_dcl_etpsno" class="is_error"  >@{{.M.RltEntryDclEtpsno}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="rlt_entry_dcl_etpsno">@{{.M.RltEntryDclEtpsno}}</span>
                @{{end}}
            @{{else}}
            <span  id="rlt_entry_dcl_etpsno">@{{.M.RltEntryDclEtpsno}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">关联报关单社会信用代码</td>
            <td class="td-scale-04">
                @{{if .M.RltEntryDclEtpsSccd}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_entry_dcl_etps_sccd" class="is_success">@{{.M.RltEntryDclEtpsSccd}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_entry_dcl_etps_sccd" .M.RecheckErrorInputIds }}
            <span  id="rlt_entry_dcl_etps_sccd" class="is_error"  >@{{.M.RltEntryDclEtpsSccd}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="rlt_entry_dcl_etps_sccd">@{{.M.RltEntryDclEtpsSccd}}</span>
                @{{end}}
            @{{else}}
            <span  id="rlt_entry_dcl_etps_sccd">@{{.M.RltEntryDclEtpsSccd}}</span>
            @{{end}}
            @{{end}}
            </td>
            <td class="td-scale-05">关联报关单申报单位名称</td>
            <td class="td-scale-04" colspan="2">
                @{{if .M.RltEntryDclEtpsNm}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rlt_entry_dcl_etps_nm" class="is_success">@{{.M.RltEntryDclEtpsNm}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rlt_entry_dcl_etps_nm" .M.RecheckErrorInputIds }}
            <span  id="rlt_entry_dcl_etps_nm" class="is_error"  >@{{.M.RltEntryDclEtpsNm}}<i class="iconfont iconclose font-12"></i></span>
                @{{else}}
                <span  id="rlt_entry_dcl_etps_nm">@{{.M.RltEntryDclEtpsNm}}</span>
                @{{end}}
            @{{else}}
            <span  id="rlt_entry_dcl_etps_nm">@{{.M.RltEntryDclEtpsNm}}</span>
            @{{end}}
            @{{end}}
            </td>
        </tr>
        <tr>
            <td class="td-scale-05">备注</td>
            <td class="td-scale-04" colspan="7" style="position: relative;">
                @{{if .M.Rmk}}
            @{{if eq .M.StatusString "复核通过"}}
            <span  id="rmk" class="is_success">@{{.M.Rmk}}<i class="iconfont iconcheck font-12"></i></span>
            @{{else if eq .M.StatusString "复核不通过"}}
                @{{if inArrayStr "rmk" .M.RecheckErrorInputIds }}
            <span  id="rmk" class="is_error"  >@{{.M.Rmk}}<i class="iconfont iconclose font-12"></i></span>
            @{{else}}
                <span  id="rmk">@{{.M.Rmk}}</span>
                @{{end}}
            @{{else}}
            <span  id="rmk">@{{.M.Rmk}}</span>
            @{{end}}
            @{{end}}
                <div class="chapter_img">
                    @{{if.AuthUserChapter }}
                    <img width="100" src="@{{.AuthUserChapter}}"/>
                    @{{end}}
                    <p style="color: #ff0000;text-align: center;font-weight: bold;">@{{date .Now "Y-m-d H:i:s"}}</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table annotation_table_content">
        <thead>
        <tr>
            <th colspan="20">
                <p class="text-center font-weight-bold">表体</p>
            </th>
        </tr>
        <tr>
            <th width="40"><p class="font-weight-bold">商品序号</p></th>
            <th width="80"><p class="font-weight-bold">报关单商品序号</p></th>
            <th width="40"><p class="font-weight-bold">备案序号</p></th>
            <th width="40"><p class="font-weight-bold">商品料号</p></th>
            <th><p class="font-weight-bold">商品编码</p></th>
            <th><p class="font-weight-bold">商品名称</p></th>
            <th><p class="font-weight-bold">规格型号</p></th>
            <th><p class="font-weight-bold">原厂国(地区)</p></th>
            <th><p class="font-weight-bold">最终目的国(地区)</p></th>
            <th><p class="font-weight-bold">币制</p></th>
            <th><p class="font-weight-bold">申报单价</p></th>
            <th><p class="font-weight-bold">申报数量</p></th>
            <th><p class="font-weight-bold">申报计量单位</p></th>
            <th><p class="font-weight-bold">申报总价</p></th>
            <th><p class="font-weight-bold">法定数量</p></th>
            <th><p class="font-weight-bold">法定计量单位</p></th>
            <th><p class="font-weight-bold">第二法定数量</p></th>
            <th><p class="font-weight-bold">法定第二计量单位</p></th>
            <th><p class="font-weight-bold">征免方式</p></th>
            <th><p class="font-weight-bold">单耗版本号</p></th>
        </tr>
        </thead>
        <tbody>

        @{{range .M.AnnotationItems}}
        <tr>

        @{{if eq $.M.StatusString "复核通过"}}
        <td><span class="is_success" id="gds_seqno@{{.GdsSeqno }}">@{{.GdsSeqno }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="entry_gds_seqno@{{.GdsSeqno }}">@{{.EntryGdsSeqno }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="putrec_seqno@{{.GdsSeqno }}">@{{.PutrecSeqno }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="gds_mtno@{{.GdsSeqno }}">@{{.GdsMtno }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="gdecd@{{.GdsSeqno }}">@{{.Gdecd }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="gds_nm@{{.GdsSeqno }}">@{{.GdsNm }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="gds_spcf_model_desc@{{.GdsSeqno }}">@{{.GdsSpcfModelDesc }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="natcd_name@{{.GdsSeqno }}">@{{.NatcdName }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="destination_natcd_name@{{.GdsSeqno }}">@{{.DestinationNatcdName }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="dcl_currcd_name@{{.GdsSeqno }}">@{{.DclCurrcdName }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="dcl_uprc_amt@{{.GdsSeqno }}">@{{.DclUprcAmt }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="dcl_qty@{{.GdsSeqno }}">@{{.DclQty }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="dcl_unitcd_name@{{.GdsSeqno }}">@{{.DclUnitcdName }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="dcl_total_amt@{{.GdsSeqno }}">@{{.DclTotalAmt }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="lawf_qty@{{.GdsSeqno }}">@{{.LawfQty }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="lawf_unitcd_name@{{.GdsSeqno }}">@{{.LawfUnitcdName }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="secd_lawf_qty@{{.GdsSeqno }}">@{{.SecdLawfQty }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="secd_lawf_unitcd_name@{{.GdsSeqno }}">@{{.SecdLawfUnitcdName }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="lvyrlf_modecd_name@{{.GdsSeqno }}">@{{.LvyrlfModecdName }}<i class="iconfont iconcheck font-12"></i></span></td>
        <td><span class="is_success" id="ucns_verno@{{.GdsSeqno }}">@{{.UcnsVerno }}<i class="iconfont iconcheck font-12"></i></span></td>
        @{{else if eq $.M.StatusString "复核不通过"}}
        @{{if inArrayStrSlice "gds_seqno" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="gds_seqno@{{.GdsSeqno }}">@{{.GdsSeqno }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="gds_seqno@{{.GdsSeqno }}">@{{.GdsSeqno }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "entry_gds_seqno" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="entry_gds_seqno@{{.GdsSeqno }}">@{{.EntryGdsSeqno }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="entry_gds_seqno@{{.GdsSeqno }}">@{{.EntryGdsSeqno }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "putrec_seqno" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="putrec_seqno@{{.GdsSeqno }}">@{{.PutrecSeqno }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="putrec_seqno@{{.GdsSeqno }}">@{{.PutrecSeqno }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "gds_mtno" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="gds_mtno@{{.GdsSeqno }}">@{{.GdsMtno }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="gds_mtno@{{.GdsSeqno }}">@{{.GdsMtno }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "gdecd" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="gdecd@{{.GdsSeqno }}">@{{.Gdecd }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="gdecd@{{.GdsSeqno }}">@{{.Gdecd }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "gds_nm" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="gds_nm@{{.GdsSeqno }}">@{{.GdsNm }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="gds_nm@{{.GdsSeqno }}">@{{.GdsNm }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "gds_spcf_model_desc" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="gds_spcf_model_desc@{{.GdsSeqno }}">@{{.GdsSpcfModelDesc }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="gds_spcf_model_desc@{{.GdsSeqno }}">@{{.GdsSpcfModelDesc }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "natcd_name" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="natcd_name@{{.GdsSeqno }}">@{{.NatcdName }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="natcd_name@{{.GdsSeqno }}">@{{.NatcdName }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "destination_natcd_name" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="destination_natcd_name@{{.GdsSeqno }}">@{{.DestinationNatcdName }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="destination_natcd_name@{{.GdsSeqno }}">@{{.DestinationNatcdName }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "dcl_currcd_name" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="dcl_currcd_name@{{.GdsSeqno }}">@{{.DclCurrcdName }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="dcl_currcd_name@{{.GdsSeqno }}">@{{.DclCurrcdName }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "dcl_uprc_amt" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="dcl_uprc_amt@{{.GdsSeqno }}">@{{.DclUprcAmt }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="dcl_uprc_amt@{{.GdsSeqno }}">@{{.DclUprcAmt }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "dcl_qty" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="dcl_qty@{{.GdsSeqno }}">@{{.DclQty }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="dcl_qty@{{.GdsSeqno }}">@{{.DclQty }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "dcl_unitcd_name" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="dcl_unitcd_name@{{.GdsSeqno }}">@{{.DclUnitcdName }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="dcl_unitcd_name@{{.GdsSeqno }}">@{{.DclUnitcdName }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "dcl_total_amt" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="dcl_total_amt@{{.GdsSeqno }}">@{{.DclTotalAmt }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="dcl_total_amt@{{.GdsSeqno }}">@{{.DclTotalAmt }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "lawf_qty" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="lawf_qty@{{.GdsSeqno }}">@{{.LawfQty }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="lawf_qty@{{.GdsSeqno }}">@{{.LawfQty }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "lawf_unitcd_name" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="lawf_unitcd_name@{{.GdsSeqno }}">@{{.LawfUnitcdName }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="lawf_unitcd_name@{{.GdsSeqno }}">@{{.LawfUnitcdName }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "secd_lawf_qty" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="secd_lawf_qty@{{.GdsSeqno }}">@{{.SecdLawfQty }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="secd_lawf_qty@{{.GdsSeqno }}">@{{.SecdLawfQty }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "secd_lawf_unitcd_name" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="secd_lawf_unitcd_name@{{.GdsSeqno }}">@{{.SecdLawfUnitcdName }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="secd_lawf_unitcd_name@{{.GdsSeqno }}">@{{.SecdLawfUnitcdName }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "lvyrlf_modecd_name" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="lvyrlf_modecd_name@{{.GdsSeqno }}">@{{.LvyrlfModecdName }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="lvyrlf_modecd_name@{{.GdsSeqno }}">@{{.LvyrlfModecdName }}</span></td>
        @{{end}}
        @{{if inArrayStrSlice "ucns_verno" .GdsSeqno  $.M.ItemRecheckErrorInputIds }}
        <td><span class="is_error" id="ucns_verno@{{.GdsSeqno }}">@{{.UcnsVerno }}<i class="iconfont iconclose font-12"></i></span></td>
        @{{else}}
        <td><span id="ucns_verno@{{.GdsSeqno }}">@{{.UcnsVerno }}</span></td>
        @{{end}}

        @{{else}}
        <td><span id="gds_seqno@{{.GdsSeqno }}">@{{.GdsSeqno }}</span></td>
        <td><span id="entry_gds_seqno@{{.GdsSeqno }}">@{{.EntryGdsSeqno }}</span></td>
        <td><span id="putrec_seqno@{{.GdsSeqno }}">@{{.PutrecSeqno }}</span></td>
        <td><span id="gds_mtno@{{.GdsSeqno }}">@{{.GdsMtno }}</span></td>
        <td><span id="gdecd@{{.GdsSeqno }}">@{{.Gdecd }}</span></td>
        <td><span id="gds_nm@{{.GdsSeqno }}">@{{.GdsNm }}</span></td>
        <td><span id="gds_spcf_model_desc@{{.GdsSeqno }}">@{{.GdsSpcfModelDesc }}</span></td>
        <td><span id="natcd_name@{{.GdsSeqno }}">@{{.NatcdName }}</span></td>
        <td><span id="destination_natcd_name@{{.GdsSeqno }}">@{{.DestinationNatcdName }}</span></td>
        <td><span id="dcl_currcd_name@{{.GdsSeqno }}">@{{.DclCurrcdName }}</span></td>
        <td><span id="dcl_uprc_amt@{{.GdsSeqno }}">@{{.DclUprcAmt }}</span></td>
        <td><span id="dcl_qty@{{.GdsSeqno }}">@{{.DclQty }}</span></td>
        <td><span id="dcl_unitcd_name@{{.GdsSeqno }}">@{{.DclUnitcdName }}</span></td>
        <td><span id="dcl_total_amt@{{.GdsSeqno }}">@{{.DclTotalAmt }}</span></td>
        <td><span id="lawf_qty@{{.GdsSeqno }}">@{{.LawfQty }}</span></td>
        <td><span id="lawf_unitcd_name@{{.GdsSeqno }}">@{{.LawfUnitcdName }}</span></td>
        <td><span id="secd_lawf_qty@{{.GdsSeqno }}">@{{.SecdLawfQty }}</span></td>
        <td><span id="secd_lawf_unitcd_name@{{.GdsSeqno }}">@{{.SecdLawfUnitcdName }}</span></td>
        <td><span id="lvyrlf_modecd_name@{{.GdsSeqno }}">@{{.LvyrlfModecdName }}</span></td>
        <td><span id="ucns_verno@{{.GdsSeqno }}">@{{.UcnsVerno }}</span></td>
        @{{end}}
        </tr>
        @{{end}}
        </tbody>
    </table>
    <table class="layui-table annotation_table_content">
        <thead>
        <tr>
            <th colspan="20">
                <p class="text-center font-weight-bold">报关单草稿</p>
            </th>
        </tr>
        <tr>
            <th><p class="font-weight-bold">统一编号</p></th>
            <th><p class="font-weight-bold">商品序号</p></th>
            <th><p class="font-weight-bold">商品编码</p></th>
            <th><p class="font-weight-bold">商品名称</p></th>
            <th><p class="font-weight-bold">规格型号</p></th>
            <th><p class="font-weight-bold">申报单价</p></th>
            <th><p class="font-weight-bold">申报数量</p></th>
            <th><p class="font-weight-bold">申报计量单位</p></th>
            <th><p class="font-weight-bold">申报总价</p></th>
            <th><p class="font-weight-bold">申报币制</p></th>
            <th><p class="font-weight-bold">原产国(地区)</p></th>
            <th><p class="font-weight-bold">最终目的国(地区)</p></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <table class="layui-table annotation_table_content">
        <thead>
        <tr>
            <th colspan="20">
                <p class="text-center font-weight-bold">简单加工清单料件表体/一纳成品内销成品表体</p>
            </th>
        </tr>
        <tr>
            <th width="40"><p class="font-weight-bold">序号</p></th>
            <th width="80"><p class="font-weight-bold">商品序号</p></th>
            <th width="40"><p class="font-weight-bold">备案序号</p></th>
            <th width="40"><p class="font-weight-bold">商品料号</p></th>
            <th><p class="font-weight-bold">商品编码</p></th>
            <th><p class="font-weight-bold">商品名称</p></th>
            <th><p class="font-weight-bold">规格型号</p></th>
            <th><p class="font-weight-bold">原厂国(地区)</p></th>
            <th><p class="font-weight-bold">最终目的国(地区)</p></th>
            <th><p class="font-weight-bold">币制</p></th>
            <th><p class="font-weight-bold">申报单价</p></th>
            <th><p class="font-weight-bold">申报数量</p></th>
            <th><p class="font-weight-bold">申报计量单位</p></th>
            <th><p class="font-weight-bold">申报总价</p></th>
            <th><p class="font-weight-bold">法定数量</p></th>
            <th><p class="font-weight-bold">法定计量单位</p></th>
            <th><p class="font-weight-bold">第二法定数量</p></th>
            <th><p class="font-weight-bold">法定第二计量单位</p></th>
            <th><p class="font-weight-bold">征免方式</p></th>
            <th><p class="font-weight-bold">单耗版本号</p></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="table_flex">
        <div class="flex_left">
            <table class="layui-table annotation_table_content">
                <thead>
                <tr>
                    <th colspan="20">
                        <p class="text-center font-weight-bold">集报清单---出入库单信息</p>
                    </th>
                </tr>
                <tr>
                    <th width="140"><p class="font-weight-bold">序号</p></th>
                    <th><p class="font-weight-bold">出入库单编号</p></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="flex_right">
            <table class="layui-table annotation_table_content">
                <thead>
                <tr>
                    <th colspan="20">
                        <p class="text-center font-weight-bold">集报清单---出入库单信息</p>
                    </th>
                </tr>
                <tr>
                    <th width="140"><p class="font-weight-bold">序号</p></th>
                    <th><p class="font-weight-bold">出入库单编号</p></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>