<script>
    layui.config({
        base: '/static/customAdmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'table', 'admin', 'form', 'upload'], async () => {
        const table = layui.table , admin = layui.admin , upload = layui.upload ,laypage = layui.laypage, $ = layui.$;

        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: 50 //
            ,limit: 10 //
            ,limits: true //
        });


        $("#company_search").on('keydown', function (e) {
            let eCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
            if (eCode === 13) {
                table.reload('company_lists', {
                    where: {
                        NameLike: $(this).val()
                    },
                    page: {
                        curr: 1
                    }
                });
            }
        });

        table.on('tool(company_lists)', function (obj) {
            const data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除么', {title: '提示'}, async (index) => {
                    await admin.delete(`/company/delete/${data.Id}`, obj);
                    layer.close(index);
                    table.reload('company_lists');
                });
            } else if (obj.event === 'edit') {
                const topLayui = parent === self ? layui : top.layui
                    , href = `/company/edit/${data.Id}`
                    , text = `编辑客户：${data.Name}`;
                topLayui.index.openTabsPage(href, text);
            }
        });
    });


</script>