<div class="layui-row layui-col-space20">
    <div class="layui-col-md3">
        <div class="custom-manual-left">
            <div class="custom-manual-left-flex">
                <div class="custom-manual-left-flex-search">
                    <label class="custom-tool-right-search iconfont icon-search"></label>
                    <input type="text" name="account_search" id="account_search"
                           placeholder="搜索企业名称" class="custom-tool-right-input layui-input">
                </div>
                <div class="custom-manual-left-flex-import">
                    <button class="layui-btn custom-create_btn" id="account_upload" type="button">
                        导入
                    </button>
                </div>
            </div>
            <div class="custom-manual-left-list">
                <div class="custom-manual-left-list-title">
                    <span>企业名称</span>
                </div>
                <div class="layui-collapse is_collapse" lay-accordion="" id="is_collapse">

                </div>

                @{{if .company }}

            <div class="layui-colla-item">
                <h2 class="layui-colla-title is_title @{{ .company_index  }}"
                    data-id="@{{ .company.id }}" data-index="@{{ .company_index }}">{{ .company.name }}</h2>
                <div class="layui-colla-content is_content @{{ .company_index  "layui-show "}}">
                    @{{if .two_account }}

                <div class="is_children" data-id="@{{ .two_account.id }}" data-name="@{{ .company.name }}">
                    <span>@{{ .two_account.name }}</span>
                </div>

                @{{end }}
                </div>
            </div>
            @{{end }}

            </div>
        </div>
    </div>
    <div class="layui-col-md9" id="company_contract"></div>
</div>

<div class="custom-manual-right company_contract company_show">
    <div class="custom-manual-right-company">
        <div class="company_title">
            <p class="company_title_p1">@{{ .d.name }}</p>
            <p class="company_title_p2">共有@{{ .d.two_accounts.data.length }}个合同</p>
        </div>
        <div class="company_btn">

        </div>
    </div>
    <div class="custom-manual-right-contract">
        <h1>合同手册</h1>
        <div class="is_list">
            @{{if .two_accounts.data }}
            @{{ if .item.useful_life_days}}
            <div class="is_list_content health">
                <div class="is_list_left" data-id="@{{ .item.id }}" data-name="@{{ .d.name }}">
                    <h2>@{{ .item.name }}</h2>
                    <span class="day_number">距离核销天数：</span>
                    <span class="is_days">@{{ .item.useful_life_days }}天</span>
                </div>
                <span class="is_status">健康</span>
                <span class="is_list_delete" data-id="@{{ .item.id }}"><i class="iconfont icon-delete"></i></span>
            </div>
        @{{ else if .item.useful_life_days 100 }}
            <div class="is_list_content warn">
                <div class="is_list_left" data-id="@{{ .item.id }}" data-name="@{{ .d.name }}">
                    <h2>@{{ .item.name }}</h2>
                    <span class="day_number">距离核销天数：</span>
                    <span class="is_days">@{{ .item.useful_life_days }}天</span>
                </div>
                <span class="is_status">警告</span>
                <span class="is_list_delete" data-id="@{{ .item.id }}"><i class="iconfont icon-delete"></i></span>
            </div>
        @{{ else if .item.useful_life_days }}
            <div class="is_list_content expired">
                <div class="is_list_left" data-id="@{{ .item.id }}" data-name="@{{ .d.name }}">
                    <h2>@{{ .item.name }}</h2>
                    <span class="day_number">距离核销天数：</span>
                    <span class="is_days">@{{ .item.useful_life_days }}天</span>
                </div>
                <span class="is_status">已过期</span>
                <span class="is_list_delete" data-id="@{{ .item.id }}"><i class="iconfont icon-delete"></i></span>
            </div>
        @{{ end }}
        @{{end }}
        </div>
    </div>
</div>

<div class="custom-manual-right">
    <div class="custom-manual-right-company_table">
        <div class="company_title">
            <p class="company_title_p1">@{{ .d.data.company_name }}</p>
            <p class="company_title_p2">
                <span>账册编号：@{{ .d.data.contract_number }}</span>
            </p>
        </div>
        <div class="company_btn">
            <button class="layui-btn company_btn_primary" id="contract_del" type="button" data-id="@{{ .d.data.id }}">
                <i class="iconfont icon-delete"></i>删除
            </button>
        </div>
    </div>

    <div class="custom-manual-right-contract_table">
        <div class="layui-tab">
            <ul class="layui-tab-title is_tab">
                <li class="layui-this">表头</li>
                <li>料件</li>
                <li>成品</li>
                <li>单损表</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="gauge_table">
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>预录入统一编号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.putrec_no  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>加工贸易手册编号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.contract_number  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>企业内部编号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.company_no  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>经营单位编码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.company_manage_code  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>经营单位社会信用代码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.company_manage_credit_code  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>经营单位名称</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.company_manage_name  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>加工单位编码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.company_client_code  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>加工单位社会信用代码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.company_client_credit_code  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>加工单位名称</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.company_client_name  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报单位编码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.agent_code  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报单位社会信用代码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.agent_code_scc  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报单位名称</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.agent_name  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报单位类型</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.apl_company_type  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报类型</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.apl_type  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>账册类型</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.manualslx  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>批准证编号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.permit_number  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>企业档案库编号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.company_doc_no  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>实际进口总金额</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.in_amount  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>实际出口总金额</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.out_amount  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>料件项数</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.origin_count  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>成品项数</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.finish_count  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>最大周转金额(万美元)</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.max_working_capital  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>主管海关</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.ciq  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报日期</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.apl_date  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>录入单位编码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.input_company_code  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>录入单位社会信用代码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.input_company_code_scc  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>录入单位名称</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.input_company_name  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>备案批准日期</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.record_at  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>更变批准日期</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.change_at  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>最近核销日期</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.last_complate_at  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>录入日期</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.preentry_date  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>单耗申报环节</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.ullage_pro  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>单耗版本号控制标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.ullage_pro_version_flag  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>最大进口金额(美元)</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.biggest_in_amount  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>核销周期</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.complate_days  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>核销类型</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.complate_type  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>账册更变次数</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.chang_times  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>账册结束有效期</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.useful_life  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>账册执行标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.account_start_flag  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>账册用途</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.account_function  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>核销方式</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.complate_status  }}</span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>备注</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span>@{{.d.data.remark  }}</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="layui-tab-item">
                    <div class="gauge_table">
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>序号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_1"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>料号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_2"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>商品编码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_3"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>商品名称</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_4"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>规格型号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_5"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报计量单位</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_6"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>法定计量单位</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_7"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>法定第二计量单位</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_8"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报单价</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_9"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>币制</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_10"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报数量</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_11"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>征免方式</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_12"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>企业执行标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_13"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>海关执行标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_14"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>修改标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_15"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>期初数量</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_16"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>数量控制标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_17"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>批准最大余数量</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_18"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell_100">
                            <div class="gauge_table_cell_left">
                                <span>备注</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab2_19"></span>
                            </div>
                        </div>
                    </div>

                    <div class="piece_table_div">
                        <div class="piece_table_title">
                            <span><i class="iconfont icon-dashboard"></i>料件列表</span>
                            <form class="layui-form" action="" style="float: right;">
                                <div class="layui-inline">
                                    <div class="layui-input-inline piece_search">
                                        <i class="iconfont icon-magnify"></i>
                                        <input type="text" name="piece_search" id="piece_search"
                                               placeholder="搜索料号/商品编码/商品名称"
                                               class="layui-input">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="layui-hide" id="piece_table" lay-filter="piece_table"></table>
                    </div>

                </div>
                <div class="layui-tab-item">
                    <div class="gauge_table">
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>序号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_1"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>料号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_2"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>商品编码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_3"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>商品名称</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_4"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>规格型号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_5"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报计量单位</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_6"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>法定计量单位</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_7"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>法定第二计量单位</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_8"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报单价</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_9"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>币制</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_10"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>申报数量</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_11"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>征免方式</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_12"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>数量控制标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_13"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>企业执行标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_14"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>修改标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_15"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>海关执行标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_16"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>单耗质疑标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_17"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>磋商标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_18"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell_100">
                            <div class="gauge_table_cell_left">
                                <span>备注</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab3_19"></span>
                            </div>
                        </div>
                    </div>

                    <div class="piece_table_div">
                        <div class="piece_table_title">
                            <span><i class="iconfont icon-dashboard"></i>成品列表</span>
                            <form class="layui-form" action="" style="float: right;">
                                <div class="layui-inline">
                                    <div class="layui-input-inline piece_search">
                                        <i class="iconfont icon-magnify"></i>
                                        <input type="text" name="goods_search" id="goods_search"
                                               placeholder="搜索料号/商品编码/商品名称"
                                               class="layui-input">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="layui-hide" id="goods_table" lay-filter="goods_table"></table>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="gauge_table">
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>序号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_1"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>成品序号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_2"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>成品料号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_3"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>成品商品编码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_4"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>成品商品名称</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_5"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>料号序号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_6"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>料件料号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_7"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>料件商品编码</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_8"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>料件商品名称</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_9"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>单耗版本号</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_10"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>单耗</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_11"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>净耗</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_12"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>有形损耗率</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_13"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>无形损耗率</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_14"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>单耗申报状态</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_15"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>保税料件比例</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_16"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>修改标志</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_17"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell">
                            <div class="gauge_table_cell_left">
                                <span>单耗有效期</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_18"></span>
                            </div>
                        </div>
                        <div class="gauge_table_cell_100">
                            <div class="gauge_table_cell_left">
                                <span>备注</span>
                            </div>
                            <div class="gauge_table_cell_right">
                                <span id="two_account_tab4_19"></span>
                            </div>
                        </div>
                    </div>

                    <div class="piece_table_div">
                        <div class="piece_table_title">
                            <span><i class="iconfont icon-dashboard"></i>单损耗列表</span>
                            <form class="layui-form" action="" style="float: right;">
                                <div class="layui-inline">
                                    <div class="layui-input-inline piece_search">
                                        <i class="iconfont icon-magnify"></i>
                                        <input type="text" name="single_search" id="single_search"
                                               placeholder="搜索版本号/料件料号/成品料号" class="layui-input">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="layui-hide" id="single_table" lay-filter="single_table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>