<script>
    layui.config({
        base: '/static/customAdmin/'
    }).extend({
        index: 'lib/index'
    }).use([ 'index','admin','upload',"laypage"], async () => {
        const laypage = layui.laypage,admin = layui.admin, $ = layui.$;

        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            , count: @{{.count}} //
            , limit: 10 //
            , limits: true //
            , curr: location.hash.replace('#!fenye=', '') //
            , hash: 'fenye' //自定义hash值
            , jump: function (obj, first) {
                //obj包含了当前分页的所有参数，比如：
                //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                //console.log(obj.limit); //得到每页显示的条数
                //首次不执行
                if (!first) {
                    if (@{{ .searchWork }} !== "") {
                        self.location.href = @{{ urlfor "HandBookController.Index"}} + "?limit=" + obj.limit +
                            "&offset=" + obj.curr + "#!fenye=" + obj.curr + "?searchWork=" + @{{ .searchWork }};
                    } else {
                        self.location.href = @{{ urlfor "HandBookController.Index"}} + "?limit=" + obj.limit + "&offset=" + obj.curr + "#!fenye=" + obj.curr;
                    }


                }
            }
        });

        $("#company_search").on('keydown', function (e) {
            let eCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
            if (eCode === 13) {
                self.location.href = "@{{ urlfor "HandBookController.Index"}}" + "?searchWork=" + $(this).val();
            }
        });

        $(".is_list_delete").on('click', function (e) {
            layer.confirm('真的删除么', {title: '提示'}, async (index) => {
                await admin.delete(`/handbook/delete/` +$(this).data('id'), e);
                layer.close(index);
                self.location.reload()
            });
        });
    });
</script>