<script>
    layui.config({
        base: '/static/customAdmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'table'], async () => {
        let table = layui.table  , admin = layui.admin , $ = layui.$;

        $("body").on("click", "#contract_del", function () {
            layer.confirm('真的删除么', {title: '提示'}, async (index) => {
                const data = await admin.delete(`/handbook/delete/${$(this).data('id')}`);
                if(data.status){
                    setTimeout(() => {
                        parent.layui.admin.closeThisTabs()
                    }, 1000)
                }
            });
        });

        /*表格横向移动*/
        $("body").on("mousedown", ".custom-manual-goods, .layui-table-main", function (event) {
            if (event.button === 0) {
                gapX = event.clientX;
                startx = $(this).scrollLeft();
                $(this).on('mousemove', function (ev) {
                    let left = ev.clientX - gapX;
                    $(this).scrollLeft(startx - left);
                    return false;
                });
                $(this).on('mouseup', function (et) {
                    $(this).off("mousemove");
                    $(this).off("mouseup");
                })
            }
        });
        /*表格横向移动 END*/

        /*单损耗表*/
        table.render({
            elem: '#single_table'
            , toolbar: true
            , defaultToolbar: ['filter']
            , colFilterRecord: 'local'
            , cols: [[
                {field: 'id', title: '序号', width: 120}
                , {field: 'finish_pro_no', title: '成品序号', width: 120}
                , {field: 'finish_record_no', title: '成品料号', width: 200}
                , {field: 'finish_hs_code', title: '成品商品编码', width: 180}
                , {field: 'finish_name', title: '成品商品名称', width: 200}
                , {field: 'originality_pro_no', title: '料件序号', width: 120}
                , {field: 'originality_record_no', title: '料件料号', width: 120}
                , {field: 'originality_hs_code', title: '料件商品编码', width: 120}
                , {field: 'originality_pro_name', title: '料件商品名称', width: 180}
                , {field: 'only_ullage_version', title: '单损版本号', width: 120}
                , {field: 'only_ullage', title: '单耗', width: 120}
                , {field: 'one_ullage', title: '净耗', width: 120}
                , {field: 'ullage', title: '有形损耗率', width: 120}
                , {field: 'no_ullage', title: '无形损耗率', width: 120}
                , {field: 'only_ullage_status', title: '单耗申报状态', width: 120}
                , {field: 'bonded_rate', title: '保税料件比例', width: 120}
                , {field: 'change_mark', title: '修改标志', width: 120}
                , {field: 'only_ullage_at', title: '单耗有效期', width: 180}
            ]]
            , data: account_two_data.data.ullages.data
            , limit: account_two_data.data.ullages.data.length
            , height: 450
        });

    });
</script>