<div class="gauge_table">
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>企业内部编号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.company_no  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell_66">
        <div class="gauge_table_cell_left">
            <span>经营单位</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.company_manage_name  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>账册编号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.contract_number  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell_66">
        <div class="gauge_table_cell_left">
            <span>加工单位</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.company_client_name  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>预录入号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.putrec_no  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell_66">
        <div class="gauge_table_cell_left">
            <span>外商公司</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.foreign_trade_company_name  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>批准证编号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.permit_number  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>账册类型</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.manualslx  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>监管方式</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.supervise_mode  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>批文账册号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.permitcn  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>征免性质</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.taxationxz_name  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>加工种类</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.processing_mode  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>进口货物项数</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.originality_pquantity  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>出境货物项数</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.finished_pquantity  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>保税方式</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.bonded_mode  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>进口总金额</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.in_amount  }}</span>
        </div>
        <div class="gauge_table_cell_right_money">
            <span>@{{ .m.in_moneyunit  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>进口合同号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.in_contract_no  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>协议号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.contract_no  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>出口总金额</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.out_amount  }}</span>
        </div>
        <div class="gauge_table_cell_right_money">
            <span>@{{ .m.out_moneyunit  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>出口合同号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.out_contract_no  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>申请日期</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.apl_date  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>结束有效期</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.useful_life  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>仓库体积</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.warehouse_volume  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>仓库面积</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.warehouse_area  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>成本率</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.finished_rate  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>损耗模式率</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.ullage_mode  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>生产能力</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.through_put  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>最大周转资金</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.max_working_capital  }}</span>
        </div>
        <div class="gauge_table_cell_right_money">
            <span>@{{ .m.max_working_capital_unit  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell_66">
        <div class="gauge_table_cell_left">
            <span>备注</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.remark  }}</span>
        </div>
    </div>
</div>