<div class="gauge_table">
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>企业内部编号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.CompanyNo  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell_66">
        <div class="gauge_table_cell_left">
            <span>经营单位</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.CompanyManageName  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>账册编号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.ContractNumber  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell_66">
        <div class="gauge_table_cell_left">
            <span>加工单位</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.CompanyClientName  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>预录入号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.PutrecNo  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell_66">
        <div class="gauge_table_cell_left">
            <span>外商公司</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.ForeignTradeCompanyName  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>批准证编号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.PermitNumber  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>账册类型</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.Manualslx  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>监管方式</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.SuperviseMode  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>批文账册号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.Permitcn  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>征免性质</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.TaxationxzName  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>加工种类</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.ProcessingMode  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>进口货物项数</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.OriginalityPquantity  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>出境货物项数</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.FinishedPquantity  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>保税方式</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.BondedMode  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>进口总金额</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.InAmount  }}</span>
        </div>
        <div class="gauge_table_cell_right_money">
            <span>@{{ .m.InMoneyunit  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>进口合同号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.InContractNo  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>协议号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.ContractNo  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>出口总金额</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.OutAmount  }}</span>
        </div>
        <div class="gauge_table_cell_right_money">
            <span>@{{ .m.OutMoneyunit  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>出口合同号</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.OutContractNo  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>申请日期</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.AplDate  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>结束有效期</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.UsefulLife  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>仓库体积</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.WarehouseVolume  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>仓库面积</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.WarehouseArea  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>成本率</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.FinishedRate  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>损耗模式率</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.UllageMode  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>生产能力</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.ThroughPut  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell">
        <div class="gauge_table_cell_left">
            <span>最大周转资金</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.MaxWorkingCapital  }}</span>
        </div>
        <div class="gauge_table_cell_right_money">
            <span>@{{ .m.MaxWorkingCapital  }}</span>
        </div>
    </div>
    <div class="gauge_table_cell_66">
        <div class="gauge_table_cell_left">
            <span>备注</span>
        </div>
        <div class="gauge_table_cell_right">
            <span>@{{ .m.Remark  }}</span>
        </div>
    </div>
</div>