<div class="custom-manual-goods">
    <table class="layui-table" lay-even="" lay-skin="row">
        <colgroup>
            <col width="70">
            <col width="70">
            <col width="110">
            <col width="160">
            <col width="260">
            <col width="130">
            <col width="260">
            <col width="130">
            <col width="130">
            <col width="150">
            <col width="80">
            <col width="110">
            <col width="140">
            <col width="140">
            <col width="110">
            <col width="110">
            <col width="110">
            <col width="140">
            <col width="140">
            <col width="140">
            <col width="110">
            <col width="280">
            <col width="110">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>货号</th>
            <th>处理标志</th>
            <th>商品编码</th>
            <th>商品名称</th>
            <th>分类标志</th>
            <th>规格型号</th>
            <th>申报计量单位</th>
            <th>法定计量单位</th>
            <th>法定第二计量单位</th>
            <th>单价</th>
            <th>币制名称</th>
            <th>币制英文名称</th>
            <th>申报单价人民币</th>
            <th>申报数量</th>
            <th>最大余量</th>
            <th>初始数量</th>
            <th>第二单位比例</th>
            <th>第三单位比例</th>
            <th>重量比例因子</th>
            <th>征免类型</th>
            <th>备注</th>
            <th>申报类别</th>
        </tr>
        </thead>
    </table>
    <div class="custom-manual-goods-bottom">
        <table class="layui-table" lay-even="" lay-skin="row">
            <colgroup>
                <col width="70">
                <col width="70">
                <col width="110">
                <col width="160">
                <col width="260">
                <col width="130">
                <col width="260">
                <col width="130">
                <col width="130">
                <col width="150">
                <col width="80">
                <col width="110">
                <col width="140">
                <col width="140">
                <col width="110">
                <col width="110">
                <col width="110">
                <col width="140">
                <col width="140">
                <col width="140">
                <col width="110">
                <col width="280">
                <col width="110">
            </colgroup>
            <tbody>

            @{{range .m.HandBookGoods}}
                @{{if eq .Type 1}}
                <tr>
                    <td>@{{ .Serial  }}</td>
                    <td>@{{ .RecordNo  }}</td>
                    <td>@{{ .HandleMark  }}</td>
                    <td>@{{ .HsCode  }}</td>
                    <td>@{{ .Name  }}</td>
                    <td>@{{ .ClassificationMark  }}</td>
                    <td>@{{ .Special  }}</td>
                    <td>@{{ .UnitOne  }}</td>
                    <td>@{{ .UnitTwo  }}</td>
                    <td>@{{ .UnitThree  }}</td>
                    <td>@{{ .Price  }}</td>
                    <td>@{{ .Moneyunit  }}</td>
                    <td>@{{ .Moneyunit  }}</td>
                    <td>@{{ .Moneyunit  }}</td>
                    <td>@{{ .Quantity  }}</td>
                    <td>@{{ .MaxAllowance}}</td>
                    <td>@{{ .InitialQuantity }}</td>
                    <td>@{{ .UnitTwoProportion  }}</td>
                    <td>@{{ .UnitThreeProportion  }}</td>
                    <td>@{{ .WeightProportion  }}</td>
                    <td>@{{ .Taxationlx  }}</td>
                    <td>@{{ .Remark  }}</td>
                    <td>@{{ .DeclareMode  }}</td>
                </tr>
                @{{end}}
            @{{end}}
            </tbody>
        </table>
    </div>
</div>
