<div class="piece_table_div">
    <div class="piece_table_title">
        <span><i class="iconfont icon-dashboard"></i>单损耗列表</span>
        <form class="layui-form" action="" style="float: right;">
            <div class="layui-inline">
                <div class="layui-input-inline piece_search">
                    <i class="iconfont icon-magnify"></i>
                    <input type="text" name="single_search" id="single_search" placeholder="搜索版本号/料件料号/成品料号" class="layui-input">
                </div>
            </div>
        </form>
    </div>
    <table class="layui-hide" id="single_table" lay-filter="single_table"></table>
</div>