<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row custom-tool">
                <div class="layui-col-md6">
                    @{{if .canCreate }}
                    <span class="custom-new_btn" lay-href="@{{ urlfor "CompanyController.Create" }}" lay-text="新建客户"
                          id="company_new">+新建</span>
                    @{{ end}}
                    <span class="custom-new_btn margin_left_10" id="company_upload">客户导入</span>
                    <span class="custom-new_btn margin_left_10" id="history_item_upload">商品库导入</span>
                </div>
                <div class="layui-col-md3 layui-col-md-offset3">
                    <div class="custom-tool-right">
                        <label class="custom-tool-right-search iconfont icon-search"></label>
                        <input type="text" name="company_search" id="company_search" placeholder="搜索企业海关编号/企业全称/信用代码/经营单位代码" class="custom-tool-right-input layui-input">
                    </div>
                </div>
            </div>
            <table class="layui-hide" id="company_lists" lay-filter="company_lists"></table>
        </div>
    </div>
</div>

<script type="text/html" id="car_toolbar">
    @{{if .canEdit}}
    <a class="custom-edit" lay-event="edit">编辑</a>
    @{{ end}}
    @{{if .canDelete}}
    <a class="custom-delete" lay-event="del">删除</a>
    @{{ end}}
</script>