<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row custom-tool">
                <div class="layui-col-md6">
                    <span class="custom-new_btn" lay-href='@{{ urlfor "BackendUserController.Create" }}' lay-text="新建账号"  id="user_new">+新建</span>
                </div>
                <div class="layui-col-md3 layui-col-md-offset3">
                    <div class="custom-tool-right">
                        <div class="layui-card layui-form width-25">
                            <select name="status" id="status" lay-filter="status">
                                <option value="">状态</option>
                                <option value="0">禁用</option>
                                <option value="1">启用</option>
                            </select>
                        </div>
                        <div class="width-75">
                            <label class="custom-tool-right-search iconfont icon-search"></label>
                            <input type="text" name="user_search" id="user_search"
                                   placeholder="搜索用户名/真实姓名" class="custom-tool-right-input layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <table class="layui-hide" id="user_lists" lay-filter="user_lists"></table>
        </div>
    </div>
</div>

