<script>
    layui.config({
        base: '/static/customAdmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form', 'admin', 'layuiXtree'], async () => {
        const form = layui.form, admin = layui.admin, layuiXtree = layui.layuiXtree;

        const perms = await admin.get(`/role/perm_lists/0`);

        const permission =  new layuiXtree({
            elem: 'permission'
            , form: form
            , data: perms.obj.data
            , isopen: false
            , ckall: true
        });

        form.on('submit(role_submit)', async (data) => {
            data.field.urlFors = permission.GetChecked();
            await admin.post(@{{ urlfor "RoleController.Store" }}, data.field);
        })
    });
</script>