<script>
    layui.config({
        base: '/static/customAdmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form', 'admin', 'layuiXtree'], async () => {
        const form = layui.form , admin = layui.admin , router = layui.router() , layuiXtree = layui.layuiXtree , $ = layui.$;
        // const data_role = await admin.get(`/role/${router.search.id}/edit_perm_lists`);

        // $("input[name='name']").val(data_role.name);

        // const permission = new layuiXtree({
        //     elem: 'permission'
        //     , form: form
        //     , data: data_role.perm_data
        //     , isopen: false
        //     , ckall: true
        // });

        form.on('submit(role_submit)', async (data) => {
            await admin.patch(`/role/update/`+ "@{{.m.Id}}", data.field)
        })
    });
</script>