<script>
    layui.config({
        base: '/static/customAdmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form', 'admin', 'layuiXtree'], async () => {
        const form = layui.form , admin = layui.admin  , layuiXtree = layui.layuiXtree;

        const perms = await admin.get(`/role/perm_lists/` + @{{.m.Id}});

        const permission = new layuiXtree({
            elem: 'permission'
            , form: form
            , data: perms.obj.data
            , isopen: false
            , ckall: true
        });

        form.on('submit(role_submit)', async (data) => {
            data.field.ResourceIds = permission.GetChecked().toString();
            await admin.patch(`/role/update/`+ "@{{ .m.Id }}", data.field)
        })
    });
</script>