<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row layui-col-space30 clearance-row">
                <div class="layui-col-md12">
                    <div class="layui-row custom-tool">
                        <div class="layui-col-md6">
                            <span class="custom-new_btn" id="clearance_new">+新建</span>
                            <span class="custom-upload_btn" id="clearance_upload">导入</span>
                            <span class="custom-update"></span>
                        </div>
                        <div class="layui-col-md3 layui-col-md-offset3">
                            <div class="custom-tool-right">
                                <div class="layui-card layui-form width-25">
                                    <select  lay-filter="type">
                                        @{{ range $i,$v := .type }}
                                        <option value="@{{$i}}">@{{$v}}</option>
                                        @{{end}}
                                    </select>
                                </div>
                                <div class="width-75">
                                    <label class="custom-tool-right-search iconfont icon-search"></label>
                                    <input type="text" name="clearance_search" id="clearance_search"
                                           placeholder="搜索海关编码/中文名称" class="custom-tool-right-input layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="layui-hide" id="clearance_lists" lay-filter="clearance_lists"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="clearance_toolbar">
    <a class="custom-edit" lay-event="edit">编辑</a>
    <a class="custom-delete" lay-event="del">删除</a>
</script>