<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-row layui-col-space10 layui-form-item">
                    <div class="layui-col-md6">
                        <label class="layui-form-label"><i class="red margin-right-4">*</i>权限名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" lay-verify="required"
                                   lay-verType="tips" placeholder="为权限起个好听的名字吧，字符不限" autocomplete="off" class="layui-input" value="@{{ .m.Name }}">

                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item">
                    <div class="layui-col-md6">
                        <label class="layui-form-label"><i class="red margin-right-4">*</i>权限路由：</label>
                        <div class="layui-input-block">
                            <input type="text" name="UrlFor" lay-verify="required" lay-verType="tips" placeholder="输入权限的路由地址，字符不限" autocomplete="off" class="layui-input"  value="@{{.m.UrlFor }}">

                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item">
                    <div class="layui-col-md6">
                        <label class="layui-form-label"><i class="red margin-right-4">*</i>图标：</label>
                        <div class="layui-input-block">
                            <input type="text" name="Icon" lay-verify="required" lay-verType="tips" placeholder="输入权限的路由地址，字符不限" autocomplete="off" class="layui-input"  value="@{{.m.Icon }}">

                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10 layui-form-item">
                    <div class="layui-col-md6">
                        <label class="layui-form-label"><i class="red margin-right-4">*</i>选择父级：</label>
                        <div class="layui-input-block">
                            <select name="ParentId"  lay-verify="required"  lay-vertype="tips">
                                <option value="">选择父级</option>
                                @{{ range .parent_perms }}
                                    @{{if eq $.m.ParentId .Id }}
                                        <option selected value="@{{ .Id }}">@{{ .Name }}</option>
                                    @{{ else }}
                                        <option value="@{{ .Id }}">@{{ .Name }}</option>
                                    @{{ end }}
                                @{{ end }}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn custom-create_btn" lay-submit lay-filter="perm_submit" type="button" id="perm_submit">
                            提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>