.layui-home-card-title{
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(246, 246, 246, 1);
    color: #666666;
    font-size: 16px;
}

.lay-title-tab{
    float: right;
    font-size: 13px;
    color: #999999;
}
.lay-title-tab span{
    margin: 0 7px;
    display: block;
    float: left;
    cursor: pointer;
}
.lay-title-tab span:hover{
    color: #1B87FF;
}
.card-li{
    background: rgb(248,248,248);
    margin: 7px;
    padding:7px;
}
.card-li:hover{
    background: rgb(230,245,250);
}
.card-li .layui-icon{
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    color: #999999;
}
.right-card .card-li{
    padding: 9px 7px;
}
.card-title{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999999;
}
.bold-number{
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #1B87FF;
}
.order_num_class{
    height: 290px;
    width: 100%;
}
.order_num_class #order_num{
    width: 100%;
    height: 100%;
}
.make_order_num_class{
    height: 290px;
}
.xian{
    height: 1px;
    background:rgba(246, 246, 246, 1);
    margin: 3px 0;
}
.show-this{
    color: #1B87FF;
    border-bottom: 2px solid #1B87FF;
}
.enterprise-cont-enterprise{
    margin: 40px auto 60px;
}
.enterprise-item{
    margin-bottom: 22px;
}
.enterprise-form-label{
    float: left;
    width: 25%;
    text-align: right;
    margin-right: 22px;
    line-height: 40px;
    height: 40px;
}
.enterprise-input-block{
    float: left;
    line-height: 40px;
    height: 40px;
    width:calc( 75% - 22px);
}
.enterprise-input-block input{
    line-height: 38px;
    height: 38px;
}
.kong55{
    height: 55px;
}
.enterprise-top{
    height: 55px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.enterprise-submit{
    border-radius: 6px;
    background: rgb(27,135,255);
    margin: 10px 0 0 10px;
}
.enterprise-submit i{
    margin-right: 5px;
}
.chapter_sub{
    float: right;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
}
.chapter_type{
    height: 32px;
    line-height: 32px;
    margin-left: 40px;
}
.chapter_type p{
    display: inline-block;
}
.chapter_type p span{
    margin: 0  6px;
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 0 20px;
    border-radius: 32px;
    cursor: pointer;
}
.chapter_type p span.show-this,.chapter_type p span:hover{
    border: 1px solid rgb(27, 120, 239);
    color: rgb(27, 120, 239);
}

.enterprise_chapter_img{
    margin: 30px 40px;
    text-align: center;
}
.enterprise_chapter_img li{
    float: left;
    margin-right: 30px;
}
.enterprise_chapter_img img{
    height: 140px;
}
.enterprise_chapter_img p{
    line-height: 30px;
    height: 30px;
}
.info-cont{
    max-width: 600px;
    margin: 40px auto 60px;
}
.info-item{
    line-height: 40px;
    height: 40px;
    margin-bottom: 25px;
}
.info-form-label{
    float: left;
    width: 58px;
    text-align: right;
    margin-right: 22px;
    line-height: 40px;
    height: 40px;
}
.info-input-block{
    float: left;
    width:calc( 100% - 80px);
}
.chapter_img{
    max-height: 200px;
    max-width: 300px;
}
.info-input-block input{
    line-height: 38px;
    height: 38px;
}
.info-desc{
    font-size: 12px;
    color: #bbbbbb;
    margin: 10px 0;
}
.info-submit{
    text-indent: 80px;
}

/*上传公章*/
.chapter_upload_item{
    margin: 20px 30px;
}
.chapter_upload_left{
    float: left;
    line-height: 44px;
    height: 34px;
    overflow: hidden;
    margin-right: 15px;
}

.chapter_upload_right{
    float: left;
}
.chapter_upload_right p{
    margin: 20px 0;
    max-width:390px;
    line-height: 25px;
    color: #999999;
}
.click-upload{
    border-radius: 5px;
    color: #1B87FF;
    border-color: #1B87FF;
}
.click-upload:hover{
    color: #1B87FF;
    border-color: #1B87FF;
}
.layui-layer-msg{
    z-index: 198910171!important;
}

.lay_chapter_type .lay_type{
    height: 32px;
    line-height: 32px;
    margin-left: 40px;
}
.lay_chapter_type .layui-tab-title{
    display: inline-block;
    height: auto;
    border: none;
}
.lay_chapter_type .layui-tab-title li{
    margin: 0 6px;
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 0 20px;
    border-radius: 32px;
    cursor: pointer;
    line-height: 32px;
    vertical-align:inherit;
}
.lay_chapter_type .layui-tab-title li.layui-this,.lay_chapter_type .layui-tab-title li:hover{
    border: 1px solid rgb(27, 120, 239);
    color: rgb(27, 120, 239);
}
.lay_chapter_type .layui-tab-title .layui-this:after{
    border: none;
    height: 0;
    width: 0;
}
.lay_chapter_type .layui-tab-title .layui-this:before{
    border: none;
    height: 0;
    width: 0;
}

.lay_enterprise_show{
    margin: 30px 40px;
    text-align: center;
}
.lay_enterprise_show li{
    float: left;
    margin-right: 30px;
    position: relative;
}
.lay_enterprise_show img{
    height: 140px;
}
.lay_enterprise_show p{
    line-height: 30px;
    height: 30px;
}
.chapter_upload_right{
    position: relative;
}
.tmp_img_show{
    height: 144px;
    display: none;
}
.chapter_upload_right .layui-upload-drag img{
    width: auto;
    max-width: 210px;
}
.chapter_control{
    display: none;
}
.chapter_control a{
    display: block;
    color: #000000;
    cursor: pointer;
    width: 62px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #ffffff;
    margin: 10px auto;
    border-radius: 6px;
}
.chapter_control a:hover{
    background: #aaaaaa;
}
.lay_enterprise_show li:hover .chapter_control{
    display: block;
    position: absolute;
    width: 100%;
    height: 115px;
    padding-top: 25px;
    background: #0C0C0C;
    opacity: 0.7;
    top: 0;
    left: 0;
}




/*财务模块*/
.select_month{
    float: left;
}
.statement_report input{
    height: 52px;
}
.statement_btn{
    width: 110px;
    height: 52px;
    border-radius: 8px;
}
.search_desc{
    font-size: 13px;
    color: #B0B0B0;
}
.common_btn{
    color: #ffffff;
    background-color: #1989fa;
    border-radius: 4px;
    font-size: 14px;
    padding: 7px 20px;
    display: inline-block;
    cursor: pointer;
}
.search_input{
    float: right;
    width: 300px;
    margin-top: 3px;
    position: relative;
}
.search_input input{
    text-indent: 30px;
}
.search_input input:focus{
    border: 1px solid rgba(5, 121, 239, 0.99) !important;
}
.search_content{
    border: 1px solid #EEEEEE;
    border-radius: 6px;
}
.no_data_content{
    margin: 100px auto 60px;
    display: block;
    max-width: 70%;
    text-align: center;
}
.no_data_content img{
    max-width: 40%;
}
.no_data_content p{
    line-height: 70px;
    color: #999999;
    font-size: 16px;
}
.parm_tab{
    position: relative;
    z-index: 9;
    border: none;
}

.parm_tab li{
    font-size: 14px;
    color: #666666;
    border:1px solid #f2f2f2;
    border-bottom: none;
}

.parm_tab li:before{
    height: 0!important;
    background: none;
}

.parm_tab li.layui-this{
    background: #ffffff!important;
    border-radius: 4px 4px 0 0;
    border:1px solid rgb(227, 227, 227);
    border-bottom: none;
    color: rgb(47, 146, 255);
}

.parm_tab li.layui-this:after{
    border: none
}
.parm_tab_content {
    border-radius: 0px;
    position: relative;
    border:1px solid rgb(227, 227, 227);
    box-shadow: none;
}
.parm_tab_content .layui-card-body{
    border-radius: 0px;
    box-shadow: none;
}


/* 基本参数 */

.parm_left{
    padding: 20px;
    box-shadow: -1px 2px 8px rgba(170, 170, 170, 0.2);
}
.parm_content{
    padding: 20px;
    box-shadow: -1px 2px 8px rgba(170, 170, 170, 0.2);
    float: right;
    width: 70%;
}
.parm_create_btn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #1B87FF;
    background: rgba(243, 251, 255, 1);
    font-size: 14px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
}
.parm_create_btn i{
    margin-right: 5px;
}
.parm_create_btn ul{
    height: 0px!important;
    z-index: 999999999999;
    overflow: hidden;
    transition:All 0.2s ease-in-out;
    -webkit-transition:All 0.2s ease-in-out;
    -moz-transition:All 0.2s ease-in-out;
    -o-transition:All 0.2s ease-in-out;
}
.parm_create_btn:hover ul{
    height: 105px!important;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 51px;
    width: 100%;
}
.parm_create_btn ul li.tip{
    background: none;
    line-height: 5px;
    height: 5px;
    position: relative;
    margin-bottom: 0;
}
.parm_create_btn ul li.tip i{
    width:0;
    height:0;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:6px solid rgba(243, 251, 255, 1);
    position: absolute;
    bottom: 0;
    left: 50%;
}
.parm_create_btn ul li{
    background: rgba(243, 251, 255, 1);
    margin-bottom: 1px;
}
.parm_create_btn ul li:hover{
    background: rgba(226, 245, 255);
    margin-bottom: 1px;
}
.none{
    display: none;
}
.create_input_div{
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tree_type .layui-nav-itemed > .layui-nav-child{
    background: none!important;
}
.tree_type .layui-nav{
    background: none;
}
.tree_type .layui-nav .layui-nav-item a{
    color: #000000!important;
    cursor: pointer;
}

.tree_type .layui-nav-tree .layui-nav-item a:hover{
    background: none;
}
.tree_type .layui-nav-tree .layui-nav-more{
    left:1px;
    border-color: #333 transparent transparent;
}
.tree_type .layui-nav-bar{
    display: none;
}
.tree_type .layui-nav .layui-nav-mored, .tree_type .layui-nav-itemed>a .layui-nav-more {
    border-color:transparent transparent #333;
}

.tree_type .layui-nav .layui-nav-item span.btn_ctrl{
    position: absolute;
    right: 10px;
    top: 0;
}
.tree_type .layui-nav .layui-nav-item span.btn_ctrl i{
    cursor: pointer;
    color: rgb(204,204,204);
}
.tree_type .layui-nav .layui-nav-item span.btn_ctrl i:hover{
    color: rgb(153,153,153);
}


.tree_type .layui-nav-tree .layui-this, .tree_type .layui-nav-tree .layui-this>a,.tree_type .layui-nav-tree .layui-nav-child dd.layui-this,.tree_type .layui-form-select dl dd.layui-this,.tree_type .layui-nav-tree .layui-nav-child dd.layui-this a
{
    background: none!important;
}
.tree_type .layui-nav-tree{
    width: 100%;
}
.tree_type .layui-nav-item{
    position: relative;
}
.tree_type .layui-nav-tree .layui-this>a{
    color: rgb(27, 135, 255)!important;
}


.pro_check{
    cursor: pointer;
}


.setting_body .layui-form-item{
    margin-top: 40px;
    margin-bottom: 40px;
}
.setting_body .layui-input-block{
    display: inline-block;
    margin-left: 0;
    margin-right: 10px;
    width: 40%;
}

.setting_body .layui-form-item p{
    margin-left: 156px;
    font-size: 13px;
    color: #B0B0B0;
    line-height: 35px;
}
.setting_body hr{
    background: rgba(242, 242, 242, 1);
}

.cate_menus{
   color: #999999;
}
.cate_menus span{
   color: #666666;
}
.btn_cost_cont{
    border-radius: 4px;
    display: inline-block;
    margin: 16px 0;
}
.cost_cont_msg{
    padding: 0 20px;
}
.cost_search_div{
    position: relative;
    flex: 1;
    width: 40%;
    float: left;
}
.create_cost_btn{
    float: right;
    color: #1B78EF;
    border-color: #1B78EF;
    border-radius: 4px;
}


.all_cost{
    margin-top: 10px;
    border: 1px solid rgba(221, 228, 240, 1);
    padding: 20px;
    border-radius: 6px;
    height: 210px;
}
.all_cost span{
    display: inline-block;
    border: 1px solid rgba(221, 228, 240, 1);
    padding: 6px 10px 6px 0;
    border-radius: 3px;
    margin: 4px;
    cursor: pointer;
}
.all_cost span b{
    margin-right: 5px;
    padding-left: 20px;
}
.all_cost span i{
    color: #666666;
    font-size: 12px;
    opacity: 0.5;
    cursor: pointer;
}

.all_cost span:hover{
    background: rgba(27, 135, 255, 1);
    color: #ffffff;
    border-color: #ffffff;
}
.all_cost span:hover i{
    color: #ffffff;
    opacity: 1;
}
.all_cost span.this{
    background: rgba(27, 135, 255, 1);
    color: #ffffff;
    border-color: #ffffff;
}
.all_cost span.this i{
    color: #ffffff;
    opacity: 1;
}



.check_cost{
    margin-top: 10px;
    border: 1px solid rgba(221, 228, 240, 1);
    padding: 20px;
    border-radius: 6px;
    height: 210px;
}
.check_cost span{
    display: inline-block;
    border: 1px solid rgba(221, 228, 240, 1);
    padding: 6px 10px 6px 20px;
    border-radius: 3px;
    margin: 4px;
}
.check_cost span b{
    margin-right: 5px;
}
.check_cost span i{
    color: #666666;
    font-size: 12px;
    opacity: 0.5;
    cursor: pointer;
}

.check_cost span:hover{
    background: rgba(27, 135, 255, 1);
    color: #ffffff;
    border-color: #ffffff;
}
.check_cost span:hover i{
    color: #ffffff;
    opacity: 1;
}
.check_cost span.this{
    background: rgba(27, 135, 255, 1);
    color: #ffffff;
    border-color: #ffffff;
}
.check_cost span.this i{
    color: #ffffff;
    opacity: 1;
}
.delete_msg_open{
    line-height: 40px;
    height: 40px;
    margin: 30px 0;
    text-align: center;
}
.delete_msg_open i{
    font-size: 40px;
    color: rgb(255,152,0);
}


/*应收登记*/
.finance_title{
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    font-weight: bold;
}

.width50{
    width: 30%;
}
.create_btn{
    text-align: center;
}
.create_btn button{
    padding: 0 25px;
}


.finance_table{
    border: 1px solid rgba(235, 235, 235, 1);
    text-align: center;
    width: 100%;
    margin: 0 auto 45px;
}
.finance_table .continue_head{
    text-align: left;
    height: 40px;
    line-height: 40px;
    width:100%;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
}
.finance_table .head_item{
    display: inline-block;
    border-right: 1px solid rgba(235, 235, 235, 1);
    width: 180px;
    text-align: center;
}
.finance_table .item_num{
    width: 60px;
}
.finance_table .no-border{
    border-right: none;
}
.continue_body input[type='text']:focus{
    border: none!important;
}

.continue_body{
    text-align: left;
}
.continue_body .body_th{
    border-bottom: 1px solid rgba(235, 235, 235, 1);
}
.body_item{
    display: inline-block;
    border-right: 1px solid rgba(235, 235, 235, 1);
    width: 180px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.body_item .layui-input{
    border: none;
}


.add_pro{
    text-align: center;
    line-height: 60px;
    height: 60px;
    color: rgb(27, 135, 255);
}
.control_btn{
    color: #8E9EBB;
    margin: 0 5px;
}
.continue_body .add,.continue_body .delete,.continue_body .copy,.add_pro{
    cursor: pointer;
}



/*选择客户*/
.tool_company{
    padding: 30px;
}
.search_div{
    position: relative;
    width: 40%;
}
.check_company_div .layui-table-cell{
    line-height: 26px;
}
.check_company_div .layui-table[lay-skin=line] td,.check_company_div .layui-table[lay-skin=line] th{
    border-width:1px;
}


/*编辑应收登记*/
.finance_info{
    padding: 20px;
    background: #F5F9FF;
}


.search_select{
    float: right;
    width: 130px;
    margin-top: 3px;
    margin-right: 10px;
}


/*合同*/
.less_date{
    margin-left: 10px;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 12px;
}

.tag_red{
    background: rgba(255, 0, 0, 1);
}
.tag_orange{
    background: rgba(255, 153, 0, 1);
}
.tag_green{
    background: rgba(44, 174, 43, 1);
}

.date_start_end .record-time{
    float: left;
    margin-right: 10px;
}
.container_tit{
    display: block;
    float: left;
}
.container_all{
    display: block;
    float: left;
    width: 260px;
    word-break: break-all;
}

.layer_input{
    padding: 20px;
}
.order_label{
    float: left;
    line-height: 38px;
    margin-right: 10px;
}
.order_input{
    float: left;
    line-height: 38px;
    position: relative;
    width: 380px;
}
#copy_order{
    margin-left: 10px;
}
.upload_desc{
    color: #B0B0B0;
    font-size: 12px;
    line-height: 30px;
}
.file_icon{
    margin-right: 10px;
}
.file_li{
    position: relative;
    max-width: 410px;
}
.file_close{
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.edit_btn_select{
    position: relative;
}
.edit_btn_select dl{
    display:none;
    position: absolute;
    z-index: 99;
    padding: 10px 15px;
    top: 14px;
    left: -50%;
}
.edit_btn_select dl dd{
    height:30px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #eee;
    padding: 0px 10px;
}
.edit_btn_select:hover dl{
    display:block;
}
.none_overhidden .layui-table-cell{
    overflow: inherit;
}
.none_overhidden .layui-table-body{
    overflow: inherit;
}
.none_overhidden .layui-table-box{
    overflow: inherit;
}
.edit_finance_table{
    width: 94%
}
.edit_finance_table .continue_head{
    max-width: 100%;
}
.edit_mini,.finance_table .edit_mini{
    width: 140px;
}
/*三角形*/


.sanjiao{
    position: absolute;
    top: 1px;
    left: 30px;
}
.sanjiao:before,.sanjiao:after{
    position: absolute;
    content: '';
    border-top: 5px transparent dashed;
    border-left: 5px transparent dashed;
    border-right: 5px transparent dashed;
    border-bottom: 5px #fff solid;
}
.sanjiao:before{
    border-bottom: 5px #eee solid;
}
.sanjiao:after{
    top: 1px; /*覆盖并错开1px*/
    border-bottom: 5px #fff solid;
}

#order_enclosure_upload_action{
    display: none!important;
}

/* 对账单 */
.statement_down_btn{
    margin-right: 20px;
    color: #ffffff;
    background-color: #1989fa;
    border-radius: 4px;
    font-size: 14px;
    padding: 7px 20px;
    display: inline-block;
    cursor: pointer;
}
.statement_down_btn:hover{
    color: #ffffff;
}
.statement_tool{
    display:inline-block;
}
.statement_tool p{
    display:inline-block;
    margin-right: 30px;
}
.statement_tool p span{
    color:#101010;
}
.change_type{
    float: right;
}
.change_type span{
    display: inline;
    background-color: #1989fa;
    padding: 3px 10px;
    color: #fff;
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
}

.statement_content{
    border: 1px solid #e4e4e4;
    margin-top: 10px;
    color:#666666;
}
.statement_title{
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.statement_th{
    height:40px;
    line-height: 40px;
    text-align: center;   
}
.statement_th div{
    display: inline-block;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.th_company_key{
    width:150px;
}
.th_company_value{
    width:-webkit-calc(100%/2 - 328px); 
    width:-moz-calc(100%/2 - 328px); 
    width:calc(100%/2 - 328px);
}
.th_contact_key{
    width:150px;
}
.th_contact_value{
    width:-webkit-calc(100%/2 - 328px); 
    width:-moz-calc(100%/2 - 328px); 
    width:calc(100%/2 - 328px);
}
.th_prices_key{
    width:150px;
}
.statement_th .th_prices_value{
    width: 200px;
    border-right: none;
}

.statement_title_bg{
    background: #F7F7F7;
}
.custom-statement-table{
    overflow: auto;
    position: relative;
    height: auto!important;
    width: 100%;
}

.custom-statement-table .layui-table{
    border-left: none;
    border-right: none;
}


.all_type{
    height: 300px;
    border: 1px solid rgba(219, 232, 255, 1);
    margin: 20px;
    overflow: auto;
}
.all_type li{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
}
.all_type li span{
    float: right;
}
.all_type li:hover,.all_type li.hover{
    background: rgb(237, 248, 252);
}


