@font-face {
  font-family: 'iconfont';  /* project id 1467689 */
  src: url('//at.alicdn.com/t/font_1467689_28vl1ubbn6e.eot');
  src: url('//at.alicdn.com/t/font_1467689_28vl1ubbn6e.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1467689_28vl1ubbn6e.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1467689_28vl1ubbn6e.woff') format('woff'),
  url('//at.alicdn.com/t/font_1467689_28vl1ubbn6e.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1467689_28vl1ubbn6e.svg#iconfont') format('svg');
}