@font-face {
  font-family: 'iconfont';  /* project id 1467689 */
  src: url('//at.alicdn.com/t/font_1467689_vjti8f5dhv.eot');
  src: url('//at.alicdn.com/t/font_1467689_vjti8f5dhv.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1467689_vjti8f5dhv.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1467689_vjti8f5dhv.woff') format('woff'),
  url('//at.alicdn.com/t/font_1467689_vjti8f5dhv.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1467689_vjti8f5dhv.svg#iconfont') format('svg');
}